<html>
<head>
	<title>Die schottischen Pfadis 1st Maryculter Boyscouts sind zu Besuch in Oberkirch</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/die-schottischen-pfadis-1st-maryculter-boyscouts-sind-zu-besuch-in-oberkirch"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Die schottischen Pfadis 1st Maryculter Boyscouts sind zu Besuch in Oberkirch</h2>
		<!-- date, author -->
		<h6>06/07/2011</h6>
		<!-- teaser -->
		<p>Eine langjährige Freundschaft wird gepflegt ...</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2011/die-schottischen-pfadis-1st-maryculter-boyscouts-sind-zu-besuch-in-oberkirch/images/csm_11-07_Schottische_Pfadis_aus_Maryculter_zu_Besuch_in_Obk_9b53136a42.jpg" width="282" height="188" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Vor 3 Jahren besuchten die Renchtäler Pfadfinder die 1st Maryculter Boyscouts in Schottland (in der Nähe von Aberdeen)&nbsp;und machten dort ihre Sommerfahrt mit einem einwöchigen Hajk in den Highlands. Ein tolles Erlebnis für alle die dabei waren.
</p><p>Diesen Sommer machten die schottischen Pfadis ihrerseits ihre Sommerfahrt in Deutschland und kamen zum Gegenbesuch nach&nbsp;Oberkirch.
</p><p>[&nbsp;Der&nbsp;Kontakt nach Schottland kam&nbsp;durch ein Sommerlager 1994 welches damals&nbsp;von Jens &nbsp;und Antonio organisiert wurde. ]&nbsp;</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>