<html>
<head>
	<title>Einladung zur Pfadfinderaktion</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/einladung-zur-pfadfinderaktion"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Einladung zur Pfadfinderaktion</h2>
		<!-- date, author -->
		<h6>25/06/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>vom 04. - 05. Juli 2015
</p><p>Hajken in der Wutachschlucht</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/einladung-zur-pfadfinderaktion/images/csm__DSC7336_93c5c243cc.jpg" width="282" height="184" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/einladung-zur-pfadfinderaktion/images/csm_header-1_9c551a13ec.jpg" width="282" height="184" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/einladung-zur-pfadfinderaktion/images/csm_wutach_7dc17cb9c5.jpg" width="282" height="159" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p><b>Liebe Sipplinge und Rover!</b></p><p>&nbsp;</p><p>Wahrscheinlich hat es schon die Runde gemacht, doch nun wollen wir euch offiziell herzlich zu unserer schon bald bevorstehenden Pfadfinderaktion einladen!
</p><p>&nbsp;</p><p>Wir treffen uns <b>am Samstag, den 4. Juli 2015 um 8:30 Uhr am Pfadfinderheim</b>, um anschließend gemeinsam zur schönen <b>Wutachschlucht</b> im südlichen Schwarzwald zu fahren. Dort werden wir ein abenteuerliches Hajkwochenende verbringen und <b>am Sonntagabend, den 5. Juli</b> wieder zurück in Oberkirch sein. Dort grillen wir noch als gemeinsamen Abschluss.
</p><p>&nbsp;</p><p>Mitbringen solltet ihr euren Hajkrucksack mit Isomatte, Schlafsack, Liederbuch und Gitarre, Trinkflasche, Essgeschirr und alles, was ihr sonst noch für ein Wochenendhajk braucht. Bringt für Samstagmorgen bitte ein <b>Vesper</b> und <b>10 Euro</b> Teilnehmerbeitrag mit.
</p><p>&nbsp;</p><p>Bitte meldet euch <b>bis spätestens Donnerstag, den 2. Juli</b> bei eurem Gruppenleiter oder beim Vorstand an.
</p><p>&nbsp;</p><p>Wir freuen uns auf ein spannendes Wochenende! Kommt alle zahlreich!
</p><p>&nbsp;Gut Pfad
</p><p>euer Vorstand
</p><p>&nbsp;</p><p>&nbsp;</p><p>Quelle Bilder: www.wutachschlucht.de</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>