<html>
<head>
	<title>Pfadfinderaktion</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/pfadfinderaktion"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfadfinderaktion</h2>
		<!-- date, author -->
		<h6>05/07/2016</h6>
		<!-- teaser -->
		<p>Vom 02. - 03. Juli fand eine Pfadfinderaktion am Altrhein statt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/pfadfinderaktion/images/csm_13537601_1202219759828278_559546724420369098_n_1a4962ca1b.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/pfadfinderaktion/images/csm_13537601_1202219813161606_2781194970879728135_n_15a25ca04f.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/pfadfinderaktion/images/csm_Pfadfinderaktion_Altrhein_1846a6233a.jpg" width="282" height="159" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Mit dem Fahrrad gings von Oberkirch nach Freistett an den Petersee und dann gings ins Kanu. Zusammen haben wir mit vier Kanadier und vier Kajaks den Altrhein und seine einzigartige Natur erkundet.<i class="_3kkw _4-k1" style="background-image:url(https://www.facebook.com/images/emoji.php/v5/ude/1/16/1f6b2.png)"></i></p><div class="text_exposed_show"><p> Am Abend wurde gegrillt und den lang erkämpften Sieg von Deutschland gegen Italien gefeiert.</p></div></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>