<html>
<head>
	<title>Zeitungsartikel Wutachschlucht online</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/zeitungsartikel-wutachschlucht-online"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Zeitungsartikel Wutachschlucht online</h2>
		<!-- date, author -->
		<h6>03/08/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Der Zeitungsartikel, welcher am 28. Juli 2015 in der Acher-Rench-Zeitung veröffentlicht wurde ist nun online.</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>