<html>
<head>
	<title>Sparkassen Vereinswettbewerb Abstimmung!</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/sparkassen-vereinswettbewerb-abstimmung"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Sparkassen Vereinswettbewerb Abstimmung!</h2>
		<!-- date, author -->
		<h6>13/06/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Ab nächsten Montag, 18. Juni 2012 könnt ihr für uns beim Vereinswettbewerb der Sparkasse Offenburg/Ortenau abstimmen.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/sparkassen-vereinswettbewerb-abstimmung/images/csm_169353_237308746371534_1803949294_o_06091e61c4.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/sparkassen-vereinswettbewerb-abstimmung/images/csm_Sparkassenaktion_0c48e4ef3b.jpg" width="282" height="142" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Hallo,<br /><br /> wir (Renchtäler Pfadfinder e.V. - Stamm Jörg von Schauenburg - ) nehmen am Vereinswettbewerb der Sparkasse Offenburg/Ortenau teil, bei dem man einen von acht roten Kombis gewinnen kann. Deshalb brauchen wir eure Hilfe! Den nur der Verein, der die meisten Stimmen bei der Abstimmung bekommt kann gewinnen.<br /><br /><b>Wie verläuft die Abstimmung?</b><br /> Die Abstimmung beginnt morgen, Montag, den 18. Juni 2012. Bis Freitag, 29. Juni 2012 kann dann jeder User einmal pro Tag für ein Video abstimmen. Die 50 Videos, die in diesem Zeitraum die meisten Stimmen erhalten haben, gelangen in die Zwischenrunde. Vom 04. bis 08. Juli 2012 ist die Öffentlichkeit erneut aufgerufen, für die Videos abzustimmen. In diesen fünf Tagen werden die 25 Finalisten ermittelt. Eine Jury entscheidet schließlich wer von den Finalisten einen der acht roten Kombis bekommt.<br /><br /> Abstimmen könnt ihr hier [<a href="http://sparkasse-bewegt-region.de/vereinswettbewerb/videos/videodetail?id=138" title="?fnet internen Link im aktuellen Fenster" target="_blank">Zur Abstimmung</a>]<a href="http://www.sparkasse-bewegt-region.de/" target="_blank" rel="nofollow nofollow">http://www.sparkasse-bewegt-region.de/</a><br /> Die Zwischenergebnisse werden auf der <a href="http://www.facebook.com/sparkasseoffenburg" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">Sparkassen</a>- und auf unserer <a href="http://www.facebook.com/RenchtalerPfadfinder" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">Facebookseite</a> veröffentlicht.<br /><br /> Macht bitte bei allen euren Bekannten, Verwandten, Klassenkameraden, Arbeitskollegen und so weiter Werbung. <br /><br /> Und teilt dieses Bild in Facebook!<br /><br /> Danke für eure Unterstützung!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>