<html>
<head>
	<title>sommerlager2017</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2017/sommerlager2017"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>sommerlager2017</h2>
		<!-- date, author -->
		<h6>19/08/2017</h6>
		<!-- teaser -->
		<p> Vom 27. Juli bis 10. August 2017 erlebten die Renchtäler Pfadfinder den Südwesten Frankreichs von seiner ganzen Vielfalt. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2017/sommerlager2017/images/csm_774bb079d4_d29f11e861.jpg" width="282" height="282" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p> Rucksackkontrolle hieß es am Dienstag, 25. Juli für 35 Renchtäler Pfadfinder. 
</p><p>&nbsp;</p><p>Alles was mit muss, wird verpackt, gewogen und verteilt. Zeltmaterial, Kocher, Verpflegung, Erste Hilfepack und Wechselkleidung. Am Donnerstag war es dann endlich soweit und die Busse der Pfadfinderschaft Süddeutschland e.V. (www.psdonline.de) sammelte die vollbepackte Schar an der Raststätte Renchtal ein. 
</p><p>In gemischten Wandergruppen aufgeteilt, ging es ins Fahrtengebiet zwischen Bordeaux und Bayonne an die Atlantikküste Frankreichs. 
</p><p>Einige durchstreiften die Pinienwälder, Seenlandschaft und die größte Wanderdüne Europas, andere kämpften sich  durch Hügellandschaften bis ins Gebirge auf 2000 m Höhe in die Pyrenäen. 
</p><p>Viele verbrachten mindestens einen Tag am stürmischen Atlantik und mussten sich abends einen Schlafplatz suchen um ihr Zelt aufzubauen oder in einer Scheune Platz zu finden. 
</p><p>Mit Händen und Füßen und ein paar Französisch-Kenntnissen wurde sich mit den freundlichen Einheimischen unterhalten und so knüpften die Jugendlichen nette Kontakte und durften sogar in deren Gärten mit Pools übernachten. Geschafft und glücklich erreichten alle Gruppen -110 Pfadfinder- nach  zehn Tagen Brocas, einen kleinen Ort bei Mont de Marsan. 
</p><p>Am Camp konnten kleine Ausflüge zu einer alten Stierkampfarena, mit Kanus und Booten auf den See oder in Spielen und Singerunden entspannt werden. 
</p><p>Die Pfadfinderschaft Süddeutschland wird dieses Jahr noch zwei weitere Großaktionen veranstalten. Zum einen das Überbündische Treffen auf der Schwäbischen Alb zu dem mehrere tausende Pfadfinder aus ganz Deutschland erwartet werden und zum anderen das Herbstseminar, welches eine jährlich stattfindende überbündische wie auch inhaltlich offene Pfadfinderschulung für jugendliche Gruppenleiter und junge Erwachsene ist. 
</p><p>  Ein Zeitungsartikel vom 18.08.2017 findet ihr unter <a href="/presseartikel" title="Opens internal link in current window" class="internal-link">Presseartikel</a>. </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>