<html>
<head>
	<title>Pfadfinder zelten auf nebliger Kalikutt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2010/pfadfinder-zelten-auf-nebliger-kalikutt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfadfinder zelten auf nebliger Kalikutt</h2>
		<!-- date, author -->
		<h6>16/10/2010</h6>
		<!-- teaser -->
		<p>Prüfungswaldlauf und Singewettstreit / Tolles Zeltlager mit über 70 Renchtäler Pfadfindern</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Kalikutt im Sonnenaufgang, weiße Nebelschwaden, heiße Feuerglut und eiskalte Nächte, anstrengende Waldläufe, turbulente Spiele und gemütliches Singen am Lagerfeuer, Prüfungen und Singewettstreit,… Stammeslager des Stammes Jörg von Schauenburg war wieder ein voller Erfolg! 
</p><p>    Die Renchtäler Pfadfinder verbrachten ihr diesjähriges Stammeslager auf der Kalikutt, wo nur am Samstag der Nebel den Blick für diese tolle Aussicht trübte. Mitten auf der herbstlichen Wiese wurden nicht nur die Zelte zum Schlafen für die über 70 Teilnehmer aufgebaut, sondern auch ein Küchen- und Materialzelt, eine Schlafjurte für die Rover und dann natürlich die große Theater-Jurte, in der abends immer eine Singerunde am wärmenden Lagerfeuer stattfand. 
</p><p>    Der Freitagabend begann gleich mit einer feierlichen Zeremonie, bei der alle Wölflinge und Pfadfinder mit Fackeln im Kreis um den Fahnenmast standen, um das Lager zu eröffnen. Hierbei fand ein Stufenübergang statt, bei dem sieben Mädchen und acht Jungen von der Wölflings- in die Pfadinderstufe gewechselt haben und somit die spielerische Wölflingszeit hinter sich ließen. Dazu mussten sie ihr Wölflingshalstuch abgeben und werden nun im kommenden Jahr auf ihre „3.-Grad“-Prüfung lernen. Diese Prüfung fand für die älteren Kinder in diesem Jahr bereits im Juli statt und somit konnte Stammesführer Andreas Schoch nun acht blau-rote Halstücher an die bestandenen Prüflinge verleihen. Ebenso haben drei Rover die schwierigere „2.-Grad“-Prüfung bestanden und bekamen ein Abzeichen mit dem Pfadfinderwahlspruch: „Allzeit bereit!“ verliehen. 
</p><p>  Wie immer gab es auch einen Waldlauf, der am Samstag bei Nebel stattfand. Die jungen Wölflinge mussten dabei mit Hilfe von Waldläuferzeichen den richtigen Weg finden und wurden an sechs Posten im Wald geprüft. Für diese Prüfungen mussten sie Knoten können, aber auch Verkehrsregeln, Pfadfinderwissen und einige Lieder singen. Die älteren Pfadfinder wurden sippenweise mit Landkarten losgeschickt und mussten ebenfalls ihr Können unter Beweis stellen.  Pünktlich zum Abendessen waren alle wieder da, um anschließend ihre Gesangskünste beim Singewettstreit vorzuführen. Eine sehr interessante Mischung mit teilweise selbst gedichteten Liedern sorgte für einen abwechslungsreichen Abend, als Siegespreis gab es eine Ukulele. Zwischendurch brachte auch der Pfadfinderchor unter der Leitung von Klaus Apelt einige Stücke zum Besten, der am 11. Dezember gemeinsam mit dem Gospelchor ein Konzert im Evangelischen Gemeindehaus auf die Beine stellen wird. 
</p><p>  Eine Besonderheit war in diesem Jahr die Aufteilung in Burgen. Die Renchtäler Pfadfinder haben ihre Gruppen bereits im Frühjahr jeweils einer der zwei Burgen „Klein Bonum“ und „Pygmalion“ zugeteilt, sodass schon vorher Treffen stattgefunden haben. So wurden zum Beispiel im Sommer auf der Schauenburg erlebnispädagogische Spiele durchgeführt, um den Teamgeist zu stärken und Vertrauen aufzubauen. In der Gruppenstunde wurden dann die farblich passenden Umhänge genäht und das jeweilige Wappen aufgemalt. Auch auf dem Lagerplatz war die Aufteilung zu erkennen, da die Zelte dementsprechend angeordnet waren und man durch die blauen und roten Umhänge gleich sehen konnte, zu welcher Burg man gehört. 
</p><p>  Am Ende des kalten, aber erlebnisreichen Zeltlagers fand wieder ein Geländespiel statt, bei dem Jung und Alt über die Böschung rannten, um die Lebensbändel der Rover zu entreißen. Im Anschluss daran mussten nach zwei schönen Tagen natürlich wieder alle Zelte abgebaut werden, was manchem Außenstehenden den Kommentar entlockt: „So viel Aufwand für nur ein Wochenende!“ Allerdings macht auch gerade das die Pfadfinderidee aus und ein Zeltlager ohne Zelte… was wäre denn das? Wenn jeder hilft geht es dann doch immer recht schnell und alle stellen fest: Es hat sich gelohnt!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>