<html>
<head>
	<title>Waldpirsch einmal anders</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/waldpirsch-einmal-anders"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Waldpirsch einmal anders</h2>
		<!-- date, author -->
		<h6>01/06/2014</h6>
		<!-- teaser -->
		<p>Neuer Lehrpfad nicht nur für Familien: Pfadfinder haben am Schwalbenstein 17 Tierfiguren aufgestellt </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/waldpirsch-einmal-anders/images/csm_file6faprsr698koijgsj5l_148d1228cf.jpg" width="282" height="197" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/waldpirsch-einmal-anders/images/csm_file6faprgyt1tw12p5ekj5l-1_062f6e9f62.jpg" width="282" height="211" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/waldpirsch-einmal-anders/images/csm_file6fapwhcayzrx4fv7j5l-1_e940d0baaa.jpg" width="282" height="209" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Die Pirsch ist eröffnet. Um auf den Artenreichtum des Waldes aufmerksam zu machen, haben die Pfadfinder Oberkirch einen neuen Waldlehrpfad ins Leben gerufen. Dieser umfasst nicht bloß nur Schilder, sondern besticht durch gut versteckte Tierfiguren.
</p><p>»Naja, Du kannst nicht von der Jagd Leben.« Dies Zeugnis wird dem wohl noch verschlafenen Wanderer ausgestellt, sollte er nur fünf der insgesamt 17 Tierfiguren auf dem Pirschpfad gefunden haben. Diese haben die Pfadfinder Oberkirch mal mehr, mal weniger gut sichtbar unterhalb des Schwalbensteins versteckt. Wer den dortigen Artenreichtum kennenlernen möchte, kann ab sofort auf einem Waldlehrpfad der etwas anderen Art auf die Pirsch nach heimischem Getier gehen. Das ist in dem Fall nicht lebendig, sondern aus vier Millimeter dickem Stahl.
</p><p><b>150 Höhenmeter</b><br /> Wer alle der fast lebensgroßen Tierfiguren gefunden hat, dem bescheinigt die letzte der buntbebilderten Infotafeln auf dem Gipfel einen »hervorragenden Jagdinstinkt«: Prädikat »Pirschprofi«. Die Suche gestaltet durchaus anspruchsvoll, mal abgesehen von den fast 150 Höhenmetern, die Wanderer zurücklegen müssen, sollten sie im Oberkircher Stadtgarten starten. Der eigentliche Waldlehrpfad, knapp anderthalb Lilometer lang, startet oberhalb der »Höll«, am Schwalbensteinbrunnen. Ab da geht es recht steil und in Serpentinen einen schmalen Trampelpfad hinauf. Für die Oberkircher Pfadfinder waren die Vorbereitungen nicht immer einfach: Für den kapitalen Hirsch mussten 40 Kilo Zement mit einer Schubkarre einen Hang emporgeschafft werden, um die Figur unterhalb einer großen Gesteinsformation zu befestigen.
</p><p>Der Förster, schwer begeistert vom Ansinnen der Pfadfinder, hatte zu dieser Position geraten: Dort habe der röhrende Hirsch einen »optimale Platz« gefunden, den das Tier wahrscheinlich auch in natura aufsuchen würde.
</p><p><b><br /> Dachs besonders zottelig</b></p><p>Eule, Fuchs und Eichelhäher, um nur einige der Bewohner in Oberkirchs Forst zu nennen, hat Annette Müller, Gruppenleiterin bei den Pfadfindern, organisiert und für das Lehrpfadprojekt per Laserschnitt anfertigen lassen. »Die Idee hatten unsere Pfadfinder bei einem Treffen in Bruchsal, sagt Organisatorin Müller, die den Oberkircher Wald seit 25 Jahren aus dem Effeff kennt. Dazu kamen detailliert und gefällig gestaltete Informationstafeln. Kostenpunkt insgesamt: rund 3500 Euro. Den übernimmt die Stadt im Gegenzug.
</p><p>Bei einigen Tieren musste nachgebessert werden. Mal waren die Umrisse eines Dachses nach Müllers Auffassung nicht zottelig genug, mal erhielt ein Specht nachträglich eine Lackierung. Aus der Ferne wirkt das an einem Baustamm angebrachte Modell täuschend echt. Diesen Vogel überhaupt zu finden – ob als Imitat oder reales Tier – obliegt scheinbar wieder dem »Pirschprofi«, genauso wie eine Fledermaus, die hoch oben in den Ästen hängt.
</p><p>Als hätten sich Wildschweine und Annette Müller abgesprochen, kreuzen gut erkennbar Hufspuren der Tiere den Standort eines Bache-Frischling-Modells. Über andere Figuren fällt man geradezu, im übertragenen Sinne natürlich. »Die Kinder brauchen erst einmal ein Erfolgerlebnis«, sagt Müller. Kurz vor Ende des Waldlehrpfades eine weitere Herausforderung: In einer Grube kann der Nachwuchs mit den Waldtieren um die Wette springen. Mehr sei an dieser Stelle nicht verraten – nur so viel: die Landung fällt recht weich aus.
</p><p>&nbsp;</p><p>Quelle: <a href="http://www.bo.de/lokales/achern-oberkirch/waldpirsch-einmal-anders" title="Öffnet externen Link in neuem Fenster" target="_blank">bo.de</a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>