<html>
<head>
	<title>Stammeslager in Nesselried</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/stammeslager-in-nesselried"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Stammeslager in Nesselried</h2>
		<!-- date, author -->
		<h6>12/10/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Beim diesjährigen Stammeslager der Renchtäler Pfadfinder lockte die Sonne Anfang Oktober (02. - 04. Oktober 2015) mehr als 70 Teilnehmer auf den Lagerplatz nahe Nesselried.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/stammeslager-in-nesselried/images/csm_DSC_000001__6__62b81507b7.jpg" width="282" height="159" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/stammeslager-in-nesselried/images/csm_DSC_000001__13__4a2c338e1b.jpg" width="282" height="159" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/stammeslager-in-nesselried/images/csm_DSC_0872_7ec9b41cc3.jpg" width="282" height="63" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am Donnerstagabend trafen sich schon einige Pfadfinder um die großen Gemeinschaftszelte, das Küchenzelt und die Waschstelle inklusive der Wasserversorgung aufzubauen.
</p><p>Die Wölflinge kamen am Freitagmittag mit dem Auto, die größeren Pfadfinder zu Fuß oder mit dem Fahrrad. Die Zelte wurden aufgeschlagen und anschließend mit viel Fantasie die Kürbisse zur nächtlichen Beleuchtung ausgehöhlt. Nicht nur diese flackerten sehr hell. In der Jurte, dem großen Gemeinschaftszelt, brannte ein großes Lagerfeuer und bei Gesang konnten Kinderpunsch oder Tschai, einem typischen Pfadfindergetränk, genossen werden.
</p><p>Der Waldlauf am Samstag verlangte gutes Schuhwerk. Vom Lagerplatz aus ging es in Richtung Schloss Staufenberg. Aber nicht nur die Füße waren an diesem Tag gefordert. Für die Wölflinge war dies auch zugleich ihr Prüfungswaldlauf. An sechs Posten musste man unterwegs neben Theorie, wie z.B. den Wölflings-Gesetzen, auch handwerkliches Geschick beim Knopf-Annähen oder Knoten machen beweisen. Die Strecke der Pfadfinder war etwas länger und es gab auch andere Stationen. So musste ein Zelt mit verbundenen Augen aufgebaut werden, eine Trage gebaut, oder eine Strecke mit einem Kompass abgelaufen werden.
</p><p>Am Nachmittag war Spaß auf der Wasserrutsche geboten. Andere sägten und bohrten nach Zimmermannssitte ein großes Insektenhotel, das später gefüllt, &nbsp;auf einem Oberkircher Wanderpfad aufgestellt werden soll. Wer mochte konnte auch einfach seine Füße baumeln lassen und mit dem Lagerhund „Sammy“ oder dem roten Riesenball spielen. Am Abend wurde man vom Küchenteam mit Kartoffelbrei, Karotten und Frikadellen verwöhnt. Bei Nachteinbruch sind einige Wölflinge mit einer Fackelwanderung feierlich in die Pfadfinderstufe aufgestiegen. 
</p><p>Nach einer verregneten Nacht, konnten alle am Sonntagmorgen ein stärkendes Frühstück und ein Geländespiel zum Austoben nutzen. Gegen Mittag schaffte es die Sonne dann doch noch, sodass das Lager bei schönem Wetter abgebaut und beendet werden konnte.<br /></p><p><br /></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>