<html>
<head>
	<title>Roverrunde</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/roverrunde"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Roverrunde</h2>
		<!-- date, author -->
		<h6>25/02/2013</h6>
		<!-- teaser -->
		<p>donnerstags von 18 - 20 Uhr</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/roverrunde/images/csm_IMG_1001_5ee4d50cce.jpg" width="282" height="191" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Liebe Rover, Altpfadfinder und alle Mitglieder über 16 Jahren, 
</p><p>jede Woche Donnerstag findet eine Roverrunde von 18-20 Uhr statt. 
</p><p>Hier seht ihr die Roverrunde von letzter Woche: Waldspeck an der Rench
</p><p>Wir hoffen auf viele Teilnehmer. </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>