<html>
<head>
	<title>Sommerlager 2014</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/sommerlager-2014"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Sommerlager 2014</h2>
		<!-- date, author -->
		<h6>23/05/2014</h6>
		<!-- teaser -->
		<p>Das diesjährige Sommerlager führt uns in die Eifel.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/sommerlager-2014/images/csm_hohes-venn-ae36db7b-744d-432c-a3cf-879af77d97a3_cfd36875a8.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/sommerlager-2014/images/csm_IMG_1838_e4d1616139.jpg" width="282" height="188" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p><b>Liebe Sipplinge und Rover,</b></p><p>dieses Jahr erkunden wir ein schönes Fleckchen Deutschland. Es geht in die Eifel, mit seinen Hochmooren und dem schönen Schiefergebirge.
</p><p>Euch erwartet ein abenteuerliches Naturerlebnis.
</p><p>Ob zu Fuß, mit dem Fahrrad oder auf dem Wasser, es wird wieder ein tolles Abenteuer für euch.
</p><p>Nach ein paar Tage hajken, treffen wir uns wieder in Monschau bei unserem Standlagerplatz Dreistegen. Dort erwartet euch ein toller Lagerplatz und ein abwechslungsreiches Programm.
</p><p>Wir freuen uns auf &nbsp;ein spannendes und &nbsp;erlebnisreiches Sommerlager 2014 – Sei auch DU dabei!
</p><p>&nbsp;</p><p>Falls du keine Anmeldung hast kannst du sie dir hier herunterladen, ausdrucken und in den Briefkasten am Pfadiheim einschmeißen oder deinem Gruppenleiter abgeben.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>