<html>
<head>
	<title>Halstuchübergabe und Verleihung der 2.Grad-Abzeichen</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/halstuchuebergabe-und-verleihung-der-2-grad-abzeichen"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Halstuchübergabe und Verleihung der 2.Grad-Abzeichen</h2>
		<!-- date, author -->
		<h6>27/07/2013, created by Jens Huber</h6>
		<!-- teaser -->
		<p>wurde feierlich auf der Schauenburg durchgeführt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/halstuchuebergabe-und-verleihung-der-2-grad-abzeichen/images/csm_IMG_2050_c7d9d8102e.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/halstuchuebergabe-und-verleihung-der-2-grad-abzeichen/images/csm_IMG_2051_ce9df60141.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/halstuchuebergabe-und-verleihung-der-2-grad-abzeichen/images/csm_IMG_2052_c07d307b83.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/halstuchuebergabe-und-verleihung-der-2-grad-abzeichen/images/csm_IMG_2053_54690d6951.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am Mittwoch, den 24.07.2013 trafen sich alle Teilnehmer des 2.- und 3. Grad-Waldlaufes am Pfadfinderheim um gemeinsam auf die Schauenburg zu laufen.
</p><p>Im Hof der Schauenburg wurde nach der Bergrüßung und dem Stammeslied, die Halstuchübergabe durchgeführt.
</p><p>Sippenweise wurden die Pfadfinder aufgerufen und bekamen ihr Halstuch überreicht. 
</p><p>Danach legten die Sippen zusammen mit dem Sippenleiter und dem Stammesführer das Versprechen ab, welches den frischgebackenen Pfadfindern bewusst machen soll, das sie sich nun an die 10 Pfadfindergesetze halten sollen und die Gemeinschaft der Pfadfinder aktzeptieren.
</p><p>Die diesjährigen Sippen waren die Sippe Kepheus und die Sippe Pecora.
</p><p>Die 2. Grad haben bestanden: Laura B., Helen M., Lena F. und Franka F.
</p><p>&nbsp;</p><p>Wir gratulieren allen Teilnehmern und wünschen ihnen viele weitere Jahre bei den Pfadfinder.
</p><p><br />Der Vorstand</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>