<html>
<head>
	<title>Abstimmung in die TOP 25!</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/abstimmung-in-die-top-25"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Abstimmung in die TOP 25!</h2>
		<!-- date, author -->
		<h6>03/07/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Wir sind als 9. in die TOP 50 eingezogen.
</p><p>Jetzt abstimmen für die TOP 25!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/abstimmung-in-die-top-25/images/csm_Sparkassenaktion_TOP_25_cba1698c96.jpg" width="282" height="143" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Wie viele von euch wissen, nehmen wir am Vereinswettbewerb der Sparkasse Offenburg/Ortenau teil, bei dem 8 Vereine aus der Ortenau einen roten Kombi gewinnen können. Unser Video hat es nun nach der ersten Abstimmungsrunde in die nächste Runde geschafft. Als Platz 9 (von 125!) sind wir in die TOP 50 eingezogen. Das kann sich sehen lassen! Allen, die bisher für uns abgestimmt und Werbung gemacht haben, danken wir natürlich herzlich: Ihr seid super!!! 
</p><p>&nbsp;<br /><b>Jetzt wird es aber noch wichtiger täglich für uns abzustimmen: Denn von Mittwoch, 04. Juli bis Sonntag, 08. Juli</b> werden die TOP 25 ausgelost und die wollen wir auf jeden Fall erreichen! Schenkt uns eure Stimme unter: <a href="http://sparkasse-bewegt-region.de/vereinswettbewerb/" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">http://sparkasse-bewegt-region.de/vereinswettbewerb/</a></p><p>Alle Infos auch unter: <a href="http://fb.com/RenchtalerPfadfinder/" target="_blank">http://fb.com/RenchtalerPfadfinder/</a></p><p>Ihr könnt jeden Tag einmal für uns abstimmen, also wäre es toll wenn ihr dies auch an allen fünf Tagen macht! Deshalb sagt es bitte nochmal allen euren Bekannten, Verwandten, Arbeitskollegen, Klassenkameraden, usw.
</p><p>Wir können jede Stimme gut gebrauchen!
</p><p>Wenn wir es unter die letzten 25 Vereine geschafft haben, entscheidet eine Sparkassen-Jury, welche 8 Vereine den Kombi bekommen.
</p><p>&nbsp;</p><p>Danke für eure Unterstützung!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>