<html>
<head>
	<title>Jubiläums-Stammeslager</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/jubilaeums-stammeslager"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Jubiläums-Stammeslager</h2>
		<!-- date, author -->
		<h6>23/10/2016</h6>
		<!-- teaser -->
		<p>Vom 30. September bis 03. Oktober fand auf der Hengsthofwiese bei der Kalikutt unser Stammeslager zum 65.-jährigen Bestehen statt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_5edfccf3f7_8058407baf.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_7c846b28dd_19b9dfd851.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_77cd855a95_b3a51be7bb.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_98a44122eb_ee9ac012aa.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_bad35660ca_4e93b14062.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_c59753fd04_c4d007307b.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_ce43eb1942_245c9809ce.jpg" width="282" height="35" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/jubilaeums-stammeslager/images/csm_f5a4c2ed2a_48ac70e710.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p> Lager und Routen planen, spielen, werken, kochen, Kanu fahren und mit viel Spaß neue Landstriche und Leute kennenlernen stehen sonst auf ihrem Programm. Doch dieses Jahr galt es ein besonderes Stammeslager zu gestalten, zu ihrem 65.-jährigen Jubiläum.
</p><p>&nbsp;</p><p>Am 29. September 2016 war es soweit:<br />Am Donnerstag startete eine kleine Gruppe tatkräftiger Rover zum Voraufbau, galt es doch die große Jurte, Schautafeln, das Küchenzelt und die Waschstellen aufzubauen.
</p><p>Am Freitagmittag wurden die Meutenkinder im Alter von 6-10 Jahren auf den Lagerplatz oberhalb der Kalikutt gebracht. Die Sippen schnappten sich ihre Rucksäcke und machten sich zu Fuß, auf zur Hengsthof Wiese. 120 Pfadfinder wurden in vier Jurten, fünf Koten und vier Alex Zelten untergebracht.
</p><p>Bei der Lagereröffnung am Samstag begrüßte Elena Müller die Stammesführerin, einige Eltern und Gäste aus anderen Stämmen der Pfadfinderschaft Süddeutschland. 
</p><p>Alle konnten an diesem Tag aus einem bunten Programm an Workshops aussuchen: Speckstein schleifen, Kerzen gießen, nähen oder Ponyreiten. Sammy der Lagerhund hielt alle beieinander.
</p><p>Am Sonntag starteten alle mit Karte und Kompass zum Prüfungswaldlauf, es gab sogar eine Elterngruppe, die sich den spannenden Aufgaben wie Feuermachen, Zeltaufbau, Papierflieger vom Mooskopfturm werfen oder Erste Hilfe bei einem Unfallszenario stellten.
</p><p>Am bunten Abend traten in der Singerunde alle Gruppen des Stamms auf und erreichten hervorragende Platzierungen. Während einer feierlichen Zeremonie bei Feuer- und Fackelumzug wurde eine neue Gruppe in die Pfadfinder aufgenommen. Bei fast trockenem Wetter, einer außergewöhnlichen spitzen Küche (warmes Frühstücksbuffet und immer Dessert), gingen die vier Tage viel zu schnell vorbei. Die Zelte konnten trocken abgebaut und sämtliches Lagermaterial wieder verstaut werden. 
</p><p>Ein herzlicher Dank gilt allen, die sich in irgendeiner Weise zum Gelingen des Stammeslagers eingebracht haben. </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>