<html>
<head>
	<title>PSD-Osterfahrt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/psd-osterfahrt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>PSD-Osterfahrt</h2>
		<!-- date, author -->
		<h6>23/03/2014, created by Jens Huber</h6>
		<!-- teaser -->
		<p>vom 17. - 20.04.2014 </p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p><span class="userContent">Wenn  der Frühling kommt und die Vögel ziehn, und die düsteren Wolken nach  Norden fliehn, wenn man Freude und Freiheit dennoch verliert, weil der  graue Alltag die Menschen regiert, dann<br /> ist es Zeit für die Osterfahrt der PSD.<br /><br /> Es ist jeder ab der Sippenstufe eingeladen daran teilzunehmen.<br /> Weitere Infos findet ihr bei uns im Pfadiheim, im Schaukasten am Pfadfinderheim in Oberkirch oder beim Vorstand.<br /><br /> Der Anmeldeschluss ist der 03. April 2014.</span></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>