<html>
<head>
	<title>Jahreshauptversammlung der Renchtäler Pfadfinder e.V.  – Stammesratsitzung –</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2019/jahreshauptversammlung-der-renchtaeler-pfadfinder-ev-stammesratsitzung"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Jahreshauptversammlung der Renchtäler Pfadfinder e.V.  – Stammesratsitzung –</h2>
		<!-- date, author -->
		<h6>21/12/2019</h6>
		<!-- teaser -->
		<p>Am 4. Dezember traf sich der Stamm Jörg von Schauenburg in seinem Vereinsheim in der Stadtmattstraße, um das zurückliegende Jahr 2019 zu reflektieren und einen Ausblick auf das Jahr 2020 abzustimmen. 
</p><p>&nbsp;</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p class="MsoNoSpacing">Einer der Tagesordnungspunkte war die Wahl eines neuen Vorstandes.</p><p class="MsoNoSpacing">Elena Müllers vierjährige Amtszeit als erste Vorsitzende lief aus und so wurde sie dankbar für ihre Arbeit entlastet. Die Wahlberechtigten schenkten Frederic Fies ihr Vertrauen und er wurde zum neuen ersten Vorsitzenden gewählt. Im weiteren Vorstandsteam sind Elena Müller, Luca Richter, Hanna Huber, Mathias Busam (Kassier) und Nils Böhm. Als Vorstandsbeisitzer wirken nun mit Jens Huber, Jannik Schwab und Tobias Mühl.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing"><strong>Es gab im Übrigen einen Rückblick auf das Pfadfinderspätjahr 2019: </strong></p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Das viertägige Stammeslager der Renchtäler Pfadfinder fand dieses Jahr auf der traumhaftgelegenen Hengsthofwiese statt. 85 junge Pfadfinder trafen sich am Donnertag 3. Oktober um ihre Zelte, Küche, Wasch- und Feuerstelle aufzubauen.</p><p class="MsoNoSpacing">Mit Workshops wie Nistkastenbau, Speckstein schleifen, Schnitzen, Kürbisse aushöhlen und gemeinsamen Singerunden am Abend in der großen Theaterjurte (großes schwarzes Versammlungszelt mit Feuerstelle) trotzten sie dem anhaltenden Regenwetter.</p><p class="MsoNoSpacing">Nach einem beschwerlichen Orientierung- und Prüfungswaldlauf auf die Moos wurden alle von einem hervorragenden Küchenteam verwöhnt und wurden an der Abschlussrunde am Sonntag mit vielen Eindrücken und Erinnerungen und bestandenen Prüfungen nach Hause geschickt.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Der Stamm Jörg von Schauenburg ist Mitglied der Pfadfinderschaft Süddeutschland, die mit weiteren Bünden zusammen ein Schulungsprogramm zur persönlichen Weiterbildung organisiert hat. Bei diesem „Herbstseminar“ im November, trafen sich über 100 Teilnehmer und Gruppenleiter um sich im Schmieden, Rucksack nähen, tanzen, arabisch kochen, vegan backen und weiteren vielfältigen Seminaren auf dem Handwerkerhof in Billigheim bei Heilbronn auszutauschen.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing"><strong>Und einen Ausblick auf ein spannendes Jahr 2020:</strong></p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Ein Winterlager in Schönwald steht Ende Dezember für alle Rover (Ü18) bevor.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Das Bundeslager an Pfingsten mit der Pfadfinderschaft Süddeutschland wird mit einem tollen Programm für klein und groß stattfinden.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">In den Sommerferien ist ein Austausch mit russischen Pfadfindern mit anschließendem Jubiläum der Pfadfinderschaft Süddeutschland und einer Sommerfahrt in Deutschland geplant.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Ebenso wird wieder ein Stammeslager im Oktober in der Umgebung von Oberkirch sein.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Aktionen für Pfadfinder, wie Kanu fahren auf dem Altrhein, Kindertagstand, Betreuung der Kinderstationen an der Oberkircher Weinwanderung, Gruppenleiterschulungen und viele weitere Aktionen wurden terminiert.</p><p class="MsoNoSpacing">Die Vorbereitungen auf unser 70.-jähriges Vereinsjubiläum im Jahr 2021 werden im kommenden Jahr auch auf Hochtouren laufen.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Arbeitseinsätze im und am Vereinsheim wurden an der Stammesratsitzung vergeben und so übernehmen viele Schultern Verantwortung für unsere spannende Vereinsarbeit.</p><p class="MsoNoSpacing">&nbsp;</p><p class="MsoNoSpacing">Hierfür möchten wir uns bei allen engagierten Helfern, Gruppenleitern, Eltern und Freunden des Stammes für die gute Zusammenarbeit bedanken. Ihr seid das was uns Pfadfinder ausmacht und weiterbringt.</p><p class="MsoNoSpacing">&nbsp;</p><p>Ebenso gilt unser Dank der Stadt Oberkirch und dem Landratsamt Ortenaukreis, welches uns durch Zuschüsse bei unseren Aktionen unterstützt.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>