<html>
<head>
	<title>Meute Dschungelwölfe besuchte die Oberkircher Feuerwehr</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/meute-dschungelwoelfe-besuchte-die-oberkircher-feuerwehr"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Meute Dschungelwölfe besuchte die Oberkircher Feuerwehr</h2>
		<!-- date, author -->
		<h6>01/07/2014</h6>
		<!-- teaser -->
		<p>Eine lustige und sehr interessante Gruppenstunde sehr viel Spaß.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/meute-dschungelwoelfe-besuchte-die-oberkircher-feuerwehr/images/csm_DSC03631_3160f17318.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p><span style="font-size:12.0pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Die Wölflinge der Pfadfindermeute Dschungelwölfe treffen sich, wie viele andere Meuten und Sippen der Renchtäler Pfadfinder, jede Woche zur Gruppenstunde im Oberkircher Pfadfinderheim. Als es darum ging was sie denn mal gerne machen würden, wurden viele Ideen genannt. Sie wollten auch mal gerne mehr über die Feuerwehr erfahren. Also machte sich die Meute aus dem Stamm Jörg von Schauenburg auf den Weg zum Feuerwehrhaus in Oberkirch. Dort wurden sie von Manuel Schnurr und Micheal Huber schon erwartet, die den Mädels und Jungs zeigten wie ein Leben als Feuerwehrmann aussieht. </span></p><p><span style="font-size:12.0pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">Den Wölfingen wurde erklärt, was man im Notfall tun kann und welche Notrufnummer bei Bedarf gewählt muss, wussten die Kinder teilweise bereits von zu Hause und aus der Gruppenstunde. Das Feuerwehrauto wurde erklärt, sie durften die Hydraulikscheren und – spreizer hochheben, mit denen man Autos öffnete und da tolles Wetter war, wurde ein Hydrant angeschlossen. Jedes Kind durfte mit Wasserschlauch spritzen. Dies machte viel Spaß und am Schluss waren alle klatschnass. Für Staunen sorgte das Drehleiterauto, welches extra herraus gefahren wurde und die Kinder mehrmals mit der Drehleiter nach oben fahren durften. Man hatte eine super Aussicht 30 Meter über Oberkirch.</span></p><p><span style="font-size:12.0pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">&nbsp;</span></p><p><span style="font-size:12.0pt; font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">&nbsp;</span></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>