<html>
<head>
	<title>Gruppenleiteraktion</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/gruppenleiteraktion"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Gruppenleiteraktion</h2>
		<!-- date, author -->
		<h6>08/07/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>führte die Gruppenleiter in den Kletterpark nach Kenzingen</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/gruppenleiteraktion/images/csm_IMG_9675_8ec2be3e30.jpg" width="282" height="216" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Einige Gruppenleiter der Renchtäler Pfadfinder trafen sich am 07. Juli im Oberkircher Pfadfinderheim, um gemeinsam zwei gesellige Tage miteinander zu verbringen. Nach dem gemeinsamen Kochen und Essen gab es abends noch einen witzigen Filmeabend. Am nächsten Morgen ging es für die Pfadfinder nach Kenzingen zum Kletterpark „Abenteuer im Wald“. Dort verbrachten sie drei anstrengende und spannende Stunden in bis zu 13 Metern Höhe. Ein Höhepunkt war der PowerFan. Dies ist eine Einrichtung, bei der man 12 Meter im freien Fall auf den Abgrund stürzt. Es war eine tolle Erfahrung, sehr förderlich für den Teamgeist und eine gelungene Vorbereitung auf das Sommerlager, das die Pfadfinder der Pfadfinderschaft Süddeutschland dieses Jahr nach Slowenien führen wird. Auch hier spielt der Gruppenzusammenhalt eine wichtige Rolle, nicht nur für den Spaß, sondern auch falls mal das Gepäck zu schwer oder der Weg zu anstrengend wird. Gemeinsam haben sie bisher noch jede Hürde überwunden und freuen sich über jede neue Herausforderung und Erfahrung.
</p><p>Hier gehts zu den Bildern!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>