<html>
<head>
	<title>Der neue Vorstand stellt sich vor</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2010/der-neue-vorstand-stellt-sich-vor"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Der neue Vorstand stellt sich vor</h2>
		<!-- date, author -->
		<h6>20/12/2010</h6>
		<!-- teaser -->
		
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2010/der-neue-vorstand-stellt-sich-vor/images/csm_Neuer-Vorstand_2011_e1ab29dab5.jpg" width="282" height="182" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am 2. Dezember wurde der Vorstand des Stammes Jörg von Schauenburg in der Stammesratsitzung neu gewählt: Manfred Kohler (Manni) tritt die Nachfolge für Andreas Schoch (Lui) an und leitet ab sofort die Geschicke des Stammes. Vielen Dank an Lui für sein vierjähriges Engagement als Stammesführer, die tollen Lager und Erlebnisse. Viel Spaß, Erfolg und Geduld für den neuen Stammesführer Manni! 
</p><p> Weitere Mitglieder der Stammesführung sind: Mathias Schmälzle (Matze), Werner Gersbacher, Sina Mainzer und neu im Vorstand sind Karoline Vogt (Karo), Anja Walz und Melanie Schröer. Herzlich Willkommen!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>