<html>
<head>
	<title>Pfingstlager-Anmeldung</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/pfingstlager-anmeldung"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfingstlager-Anmeldung</h2>
		<!-- date, author -->
		<h6>06/03/2016, created by Jens</h6>
		<!-- teaser -->
		<p>Über Chrisi Himmelfahrt findet dieses Jahr das Pfingstlager der Pfadfinderschaft Süddeutschland in Hinterweidenthal unter dem Motto &quot;Wikinger&quot; statt.</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p><b>Liebe Wölflinge und Pfadfinder/innen, liebe Wikinger!</b></p><p>In diesem Jahr begeben wir uns in die verwegene Welt alter Wikinger, die mit ihren rauen Sitten und Gebräuchen die nordischen Länder beherrschen.
</p><p>Odin, unser weiser und mächtiger Gott ruft uns zu sich, zum alle einhundert Jahr statt findenden Bundes-Thing.&nbsp; Dort steht uns die große Ehre bevor, uns vor Odin und seinem Sohn Thor im Wettstreit zu beweisen!
</p><p>Also schleift die Äxte und begebt euch mit vielen anderen tapferen Wikingern auf den gefährlichen Seeweg nach Island und zeigt unseren Gottheiten euren Mut und eure Stärke! 
</p><p>&nbsp;</p><p><b>Anmeldeschluss ist der 01. April. </b>Die Anmeldung müsste bei jedem bereits per Post angekommen sein. Im Heim liegen weitere Anmeldungen aus, wenn dies nicht der Fall ist.
</p><p>&nbsp;</p><p>Hier noch der offizelle Einladungsbrief:
</p><p>Nordländer!<br />Der Allvater Odin ruft Euch und Eure Winkingerschar!<br />Sodass jeder stolze Seekrieger die Axt schleife, nach Island segle, und das alle einhundert Jahre stattfindende Bundes-Thing abhalte! Die Horde versammelt sich dort, um Odin und den Göttern im Wettstreit die größte Ehrerbietung zu erweisen.<br />Rüstet das Drachenboot für die unheilvolle, gefahrenreiche, untiefen gesäumte Überfahrt ins eisige Land, denn es werden Euch die Diener der Unterwelt, die Barbaren des Bösen Sven und die feuerspeienden, uralten Ungeheuer begegnen!<br />Am Vollmond vor Midsommer sollt Ihr in Flake sein!
</p><p>&nbsp;</p><p>In den Gruppenstunden werden noch entsprechende Kostüme gebastelt.
</p><p>&nbsp;</p><p>Wir freuen uns auf ein starkes, abenteuerreiches und interessantes Pfingstlager mit euch unter dem tollen Motto &quot;Wikinger&quot;.
</p><p>&nbsp;</p><p>Gut Pfad
</p><p>euer Vorstand
</p><p>&nbsp;</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>