<html>
<head>
	<title>Wikingerdorf in Hinterweidenthal  vom 05. - 08. Mai aufgebaut</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Wikingerdorf in Hinterweidenthal  vom 05. - 08. Mai aufgebaut</h2>
		<!-- date, author -->
		<h6>15/05/2016</h6>
		<!-- teaser -->
		<p>Über 200 Wölflinge, Pfadfinder und Rover der Pfadfinderschaft Süddeutschland hatten ihre Zelte in Hinterweidenthal, unweit von Dahn in der Pfalz aufgeschlagen. Die Renchtäler Pfadfinder „Stamm Jörg von Schauenburg“ aus Oberkirch waren mit ca.70 Teilnehmern, der größte der sechs befreundeten Pfadfinderstämme. Die Gäste aus dem Stamm der grauen Reiter bereicherten das Lager mit dem Lagermotto “Die Wikinger“. Bei traumhaftem Wetter wurde eine große, schwarze Jurtenburg errichtet mit Feuerstelle, Bühne und Walhalla-Kultstätte, die für gemütliche Singerunden und Versammlungen genutzt werden konnte.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut/images/csm_Pfila-Wikinger-353_72473b3d7f.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut/images/csm_Pfila-Wikinger-301_81f977d950.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut/images/csm_Pfila-Wikinger-021_9daeb241fe.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut/images/csm_Pfila-Wikinger-068_82b7af4be7.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut/images/16-05-27_BuLa_Wikinger.pdf" width="0" height="0" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am Donnerstag mussten alle Pfadfinder ihre Schlafkoten aufbauen, bevor im großen Kreis traditionell die Bundesfahne gehisst und das Lager eröffnet werden konnte. Der Vorsitzende „Wooki“ jetzt WICKY, begrüßte alle im Wikingerland, doch niemand rechnete mit dem machtsüchtigen Sven der kurzerhand die Freundin von Wicky, Ylvi und mit ihr den mächtigen Hammer des Thor entführte. 
</p><p>Am nächsten Morgen&nbsp; teilten sich die Kinder und Jugendlichen auf und fertigten&nbsp; in Workshops Lederbeutel &nbsp;und streiften durch die Wälder um mit Hilfe von Druiden knifflige Aufgaben zu erfüllen. Da mussten reißende Bäche überwunden, klebrige Spinnennetze durchschlängelt und viel Teamgeist bewiesen werden. Wollten doch alle das Mädchen Ylvi retten und den Hammer des Thor finden. 
</p><p>Ein Küchenteam schnippelte und kochte leckeres Essen, Gemüse und Obstsalat um die hungrigen Meuten, Sippen und Krieger zu stärken. 
</p><p>Gefechtsstationen, Katapulte und Tannenzapfen wurden gerichtet und beim großen Geländespiel, beim erstürmen der Burg des bösen Svens eingesetzt. Ylvi befreit und Thor als Anführer, schritten nun allen nach Walhalla. 
</p><p>Viele Freundschaften wurden neu geknüpft, alte wieder aufgefrischt, was das Lager bei strahlendem Sonnenschein mit Wasserschlacht zu einem unvergesslichen Erlebnis für alle werden ließ. 
</p><p>&nbsp;</p><p>Text von Annette Müller</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>