<footer>                <!--Fußzeile mit Knopf-->
    <button class="footerButton" onclick="window.scrollTo(0, 0)"><img src="./icons/scroll_up.svg"> Nach oben</button>

    <div> <!-- Liste der Icons -->
        <a href="https://www.instagram.com/renchtaelerpfadfinder/" target="_blank"><img style="filter: invert()" src="./icons/instagram.svg"></a>
        <a href="https://de-de.facebook.com/pfadis.org/" target="_blank"><img style="filter: invert()"  src="./icons/facebook.svg"></a>
        <a href="https://www.youtube.com/user/RenchtalerPfadfinder" target="_blank"><img style="filter: invert()"  src="./icons/youtube.svg"></a>
    </div>

    <div class="footerLinks">
        <a href="/impressum">Impressum</a>
        &amp;
        <a href="/datenschutz">Datenschutz</a>
    </div>
</footer>
