<!-- Modal / Wenn man auf ein Bild klickt -->
<div id="divModal">
    <span id="closeModal" onClick="onCloseClick()">&times;</span>
    <img id="imgModal" alt="Bild nicht verfügbar!"/>
</div>

<div id="accCookiesDiv">
    <span>
        <p>Diese Webseite benutzt Cookies. Die Cookies werden nur für das speichern des Darkmodes genutzt.</p>
        <button id="accCookiesBtn" onclick="accCookies()">OK</button>
    </span>
    <span style="width: 20px; flex-grow: 0; flex-shrink: 0"></span>
</div>
