<html>
<head>
	<title>Sommerlager Schweden</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/sommerlager-schweden"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Sommerlager Schweden</h2>
		<!-- date, author -->
		<h6>15/08/2016, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Unser diesjähriges Sommerlager ist leider schon wieder vorbei. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_773e161d7b_04e75aa354.jpg" width="282" height="423" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_Jens_SoLa16___17__dd1302beec.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_Jens_SoLa16___55__bafa0083d6.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_Jens_SoLa16___67__1de92839b2.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_Jens_SoLa16___87__5c535a709c.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_Jens_SoLa16___193__92e0f889ba.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-schweden/images/csm_Jens_SoLa16___330__1d90548483.jpg" width="282" height="376" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Vom 29. Juli bis 13. August waren 44 Pfadfinder aus Oberkirch in Schweden. 
</p><p>&nbsp;</p><p>In fünf Hajkgruppen erkundeten sie die schöne Landschaft Südschwedens (Skåne). 
</p><p>&nbsp;</p><p>Ob durch verschiedene Nationalparks, Küstenorte oder durch malerische Örtchen. <br /> Das große Wanderwegenetz, der sogenannte Skåneleden, ist einzigartig. 
</p><p>Gesund und mit vielen Eindrücken, trafen sich die fünf Gruppen südlich von Malmö zu einem gemeinsamen Standlager. 
</p><p>Auf dem Lagerplatz der Månstorp Scouts konnte man sich gut vom Hajk erholen.
</p><p>Unteranderem gingen alle zusammen nach Trelleborg in ein Wikingermuseum und nach Malmö um eine Stadtrallye zu machen, um mehr über Schweden und dessen drittgrößte Stadt herauszufinden. 
</p><p>&nbsp;</p><p>Gestern kamen wieder alle Teilnehmer gesund und ein bisschen müde, von der 12 1/2 Stunden langen Zugfahrt, Zuhause an. 
</p><p>Wir danken allen Teilnehmern und dem Organisationsteam für dieses tolle Lager und hoffen, dass die Erinnerungen lange erhalten bleiben.
</p><p>&nbsp;</p><p>Ein kleiner Bericht der Acher-Rench-Zeitung über unser diesjähriges Sommerlager in Schweden findet ihr&nbsp;online. <a href="http://www.bo.de/lokales/verein-und-schulen/achern-oberkirch/pfadfinder-erkundeten-schweden" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">Klick hier</a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>