<html>
<head>
	<title>Lagerplatz von Sträuchern geräumt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/lagerplatz-von-straeuchern-geraeumt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Lagerplatz von Sträuchern geräumt</h2>
		<!-- date, author -->
		<h6>11/09/2011</h6>
		<!-- teaser -->
		<p>Renchtäler Pfadfinder unterwegs in den Alpen / Nach neuntägiger Wanderung das Ziel erreicht</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="/fileadmin/_processed_/9/d/csm_SoLa2011_e2e0ac92f0.jpeg" title="" class="jnlightbox" rel="lightbox[myImageSet]"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2011/lagerplatz-von-straeuchern-geraeumt/images/csm_SoLa2011_f49320fe08.jpeg" width="282" height="153" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Zwei Wochen lang waren 25 Renchtäler Pfadfinder auf einem Sommerlager in der Schweiz. In den ersten neun Tagen durchwanderten sie in zwei Gruppen das Alpenvorland der Kantone Schwyz und Glarus. Anschließend verbrachten alle gemeinsam die restlichen fünf Tage auf einem Lagerplatz auf 1250 Metern Höhe. 
</p><p>Nach einer relativ kurzen Anfahrt mit dem Bus war der Startort Einsiedeln erreicht. Hier trennten sich die 25 Pfadfinder des Stammes Jörg von Schauenburg in zwei Gruppen, um in unterschiedliche Richtungen zu hajken. Als Hajk wird unter Pfadfindern das mehrtägige Wandern mit Rucksack und Zelt bezeichnet. Die Routen führten auf einem Höhenwanderweg an den berühmten Mythen und dem Klöntalersee vorbei. Von 900 bis auf über 2000 Höhenmeter wurden viele Bergpässe von den Zwölf- bis 25-jährigen Pfadfindern überquert. 
</p><p>&nbsp;</p><p>Bergbach statt Dusche 
</p><p>Weitere Höhepunkte waren für die Pfadfinder neben der atemberaubenden Landschaft mit den wunderschönen Ausblicken die vielen kleinen Abenteuer, die sie unterwegs erlebten. So musste zum Beispiel ein Bergbach die fehlende Dusche ersetzen und wer nicht aufpasste, wurde von einer Kuh abgeleckt und musste sich erneut waschen. Einige begaben sich auch auf einen Kurzausflug zu einem Gletscher. Viele kamen dabei an ihre Grenzen, waren aber hinterher stolz auf die eigenen Leistungen, die sie sich vorher nicht zugetraut hätten. 
</p><p>Besonders beeindruckt waren die Renchtäler Pfadfinder von der Schweizer Gastfreundschaft, welche die eine oder andere Übernachtung in einer Scheune oder einem Pfarrheim ermöglichte. 
</p><p>Dabei konnten die vom Regen nassen Kleider getrocknet und im Heu getobt werden. Auch sonderbare Wollschweine, Ziegen und vor allem frische Kuhmilch gab es in den Bergen. 
</p><p>Die Freude war groß, als beide Hajkgruppen nach neun Tagen den festen Lagerplatz auf 1250 Metern Höhe im Schwändital, in der Nähe des Näfels, erreichten. Hier trafen alle erneut zusammen und weitere Pfadfinder aus Oberkirch folgten. Die jungen Leute tauschten Erlebtes aus und genehmigten sich nach dem anstrengenden und erlebnisreichen Hajk erst einmal einen Tag zum Ausruhen und Waschen. Zum Frühstück gab es immer frische Milch vom Bauern oder Brot, welches selber über dem Lagerfeuer gebacken wurde. Eintrag im Gipfelbuch. 
</p><p>Das schöne Wetter des Standlagers verführte zu dem ein oder anderen Ausflug. Der Brüggler, ein unter Kletterern bekannter Berg, wurde gemeinsam über den Wanderweg bestiegen. Auf dem Gipfelkreuz auf 1777 Metern Höhe verewigten sich die Pfadfinder anschließend im Gipfelbuch. Ein weiterer Ausflug führte ins Tal nach Näfels zum Einkaufen oder als Alternative auf den Fridlispitz. 
</p><p>Als Gegenleistung für den kostenlos zur Verfügung gestellten Lagerplatz mussten die Oberkircher eine angrenzende Kuhweide von Sträuchern und Bäumen befreien. Stück für Stück arbeiteten sie sich jeden Tag ein bisschen weiter voran. Das Reisig wurde für das Lagerfeuer genutzt, so dass das Feuer die ganzen Tage nahezu ununterbrochen brannte. Mit einem traditionellen Abschlusskreis an der Erwin-Braun-Halle verabschiedeten sich die Renchtäler Pfadfinder von den schönen Tagen.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>