<html>
<head>
	<title>Wer seine Heimat liebt... kauft lokal - Und wir sind dabei</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/ihr-kauft-lokal-wir-spenden"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Wer seine Heimat liebt... kauft lokal - Und wir sind dabei</h2>
		<!-- date, author -->
		<h6>11/03/2020, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Vielleicht habt ihr schon von der &quot;Kauft lokal&quot; - Initiative gehört - ein Projekt der Businessclub Connection zur Stärkung des lokalen Handels, &quot;denn zu einem interaktiven sozialen Umfeld gehören lokal verwurzelte Geschäfte mit vertrauten Gesichtern - als Basis für ehrliche Beratung ehrliche Leistung und ehrliche Preise&quot;. Dabei könnt ihr mit jedem Einkauf gemeinnützige Einrichtung unterstützen - so hilft lokal Einkaufen uns allen!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="http://www.kauft-lokal.de"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/ihr-kauft-lokal-wir-spenden/images/unnamed.png" width="256" height="256" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p><strong>Und wie funktioniert das?</strong><br /><br /> Immer, wenn ihr in einem teilnehmen Geschäft in eurer Nähe einkauft, habt ihr mit der &quot;kauft lokal&quot; - App die Möglichkeit eine Spende für euren Lieblingsverein auszulösen.<br /> So profitiert Deine Heimat gleich doppelt von Deinem Einkauf vor Ort: bei Deinem Lieblingsverein klingelt die Vereinskasse und Dein Geld bleibt als lokale Kaufkraft in der Stadt erhalten.</p><p><br /> Dafür müsst ihr im Google Play Store <em>(<a href="https://play.google.com/store/apps/details?id=com.connexxtion.iklws&amp;authuser=0" target="_blank">https://play.google.com/store/apps/details?id=com.connexxtion.iklws</a>)</em> oder App Store <em>(<a href="https://itunes.apple.com/de/app/kauft-lokal/id1455360183?mt=8" target="_blank">https://itunes.apple.com/de/app/kauft-lokal/id1455360183?mt=8</a>)</em> die <strong>&quot;kauft lokal&quot; - App</strong> herunterladen.<br /> Nach einem Einkauf in einem teilnehmen Geschäft gebt ihr in der App ein in welchem Geschäfte ihr eingekauft habt, wie viel Geld ihr ausgegeben habt und welchem Verein ihr die Spende zukommen lassen möchtet. Unser Geheimtipp: Renchtäler Pfadfinder<br /> Ihr werdet dann lediglich noch aufgefordert ein Bild vom Kassenzettel zu machen und schon habt ihr eine Spende ausgelöst, ohne auch nur einen weiteren Cent bezahlen zu müssen.<br /><br /> Welche Geschäfte sich daran beteiligen sowie weitere Informationen findet ihr unter<a href="http://www.kauft-lokal.de" target="_blank"> www.kauft-lokal.de</a><br /> In Oberkirch sind das bisher zum Beispiel: Bauzentrum Rendler, Foto Harder, Reiseservice Mayer oder Lui e Lei - Delikat essen wie in Italien. Und es werden stetig mehr.<br /><br /> Haltet auch gerne eure Augen offen, sobald ihr das nebenstehende Logo am Eingang eines Geschäftes seht, nimmt dieses an der Initiative teil. Und wenn ihr dann noch an und denkt, dann sind wir wunschlos glücklich!</p><p>&nbsp;</p><p>Danke für eure Unterstützung.<br /><br /> #kauftlokal</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>