<html>
<head>
	<title>Frohe Weihnachten</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/frohe-weihnachten"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Frohe Weihnachten</h2>
		<!-- date, author -->
		<h6>24/12/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Auch der Jahresbrief ist nun online.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/frohe-weihnachten/images/csm_DSC02220_e645ded619.jpg" width="282" height="232" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Wir wünschen euch frohe und besinnliche Weihnachten und gesellige Festtage mit euren Familien.
</p><p>Zudem ist der Jahresbrief 2012 jetzt unter der Rubrik Downloads verfügbar.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>