<html>
<head>
	<title>Einladung Bundesmeutenaktion</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2017/einladung-bundesmeutenaktion"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Einladung Bundesmeutenaktion</h2>
		<!-- date, author -->
		<h6>29/03/2017</h6>
		<!-- teaser -->
		<p> vom 05. - 07. Mai 2017 Thema Indianer </p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p> Liebe Wölflinge, liebe Eltern,
</p><p>&nbsp;</p><p>Anfang Mai schließt sich der Kreis des Indianerkalenders wieder. 
</p><p>Es ist Tradition, dass die Indianer ihre Totempfähle neugestalten und zu Ehren der Indianergeister ein großes Fest veranstalten. Nur mit der Zustimmung der Geister erhalten die Totempfähle auch für das kommende Jahr ihre magische Wirkung. 
</p><p>&nbsp;</p><p>Zu diesem Anlassen findet das Große Palaver der Indianerstämme statt. Die Apachen, die Schoschonen, die Sioux - alle werden sie da sein. Hoffentlich vertragen sich dieses Jahr alle Stämme und können die Geister überzeugen. Die Vorbereitungen laufen auf Hochtouren – es ist noch viel zu tun. 
</p><p><b><i>Wollt ihr, liebe Wölflinge, die Ältesten der Stämme bei den Vorbereitungen zu diesem Spektakel unterstützen und dann an dem Großen Palaver teilnehmen? </i></b></p><p>Meldet euch einfach bei eurem Gruppenleiter oder dem Vorstand bis zum 14. April an. 
</p><p>&nbsp;</p><p>Gut Jagd, das Vorbereitungsteam der PSD </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>