<html>
<head>
	<title>Sommerlager 2016</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/sommerlager-2016"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Sommerlager 2016</h2>
		<!-- date, author -->
		<h6>30/01/2016, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Anmeldungen sind raus. Anmeldeschluss ist Samstag, der 20. Februar!!!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/sommerlager-2016/images/csm_Bild_c78839a8e5.png" width="282" height="222" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Liebe Sipplinge und Rover,
</p><p><br />dieses Jahr erkunden wir zwei Wochen lang eine der schönsten Fleckchen Erde in Skandinavien. Genauer Schweden.<br />Schweden zeichnet sich durch die frische Luft, sauberes Wasser, gesunde Wälder, intakte, urwüchsige Natur, die für alle zugänglich ist, aus.
</p><p><br />Wir machen in Schweden vom Jedermanns-recht (Schwedisch: Allemansrätten) gebrauch. Man darf dort nämlich überall zelten, wenn man den Platz wieder so verlässt wie man ihn vorgefunden hat, und die Natur respektiert.<br />Ob zu Fuß, auf dem Wasser mit dem Kanu oder auf den Gleisen per Draisine, es wird wie jedes Jahr ein unvergessliches, schönes Abenteuer!
</p><p><br />Nach dem anspruchsvollen Hajk, gönnen wir uns ein paar gemeinsame Tage auf einem schönen Platz in der Nähe von Malmö.
</p><p><br />Wir freuen uns auf ein tolles Sommerlager 2016 - Sei auch DU dabei!
</p><p><br />Gut Pfad<br />Elena Müller</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>