<html>
<head>
	<title>PSD-Meutenlager Bruchsal</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/psd-meutenlager-bruchsal"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>PSD-Meutenlager Bruchsal</h2>
		<!-- date, author -->
		<h6>01/04/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Das diesjährige Meutenlager findet vom 25. - 28. Mai 2012 in Bruchsal statt. Das Motto lautet: &quot;Als die Tiere den Wald verließen...&quot;</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/psd-meutenlager-bruchsal/images/csm_logo_193c1db9c8.png" width="282" height="247" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Liebe Wölflinge,
</p><p>nach langer Zeit möchten wir euch an Pfingsten zum Rat der Tiere einladen.
</p><p>Ihr habt euch ja im Vorfeld schon für ein Waldtier entschieden, also denkt an eure Verkleidungen, damit wir eine vielfältige Mischung an Tieren zusammen bekommen.
</p><p>Es besteht höchste Gefahr für unseren Wald. Wir brauchen euch alle, um ihn zu retten, denn leider werden unsere Feinde, die Waldarbeiter, immer gnadenloser und bedrohen mit ihren Maschinen unseren Wald. Sie wollen ihren Plan, den Wald zu vernichten, weiterhin durchsetzen.
</p><p>Wir brauchen eure Hilfe, um den Wald zu retten und zu erhalten. Wir Tiere müssen zusammenhalten, deshalb zählen wir auf euch!
</p><p>Wir freuen uns deshalb auf euer zahlreiches Erscheinen und ein abenteuerliches und erlebnisreiches Wölflingslager!
</p><p>&nbsp;</p><p>Die Anmeldung für das Meutenlager wurden verschickt.
</p><p>Bei Fragen könnt ihr euch gerne bei <a href="mailto:dona.gersbacher@web.de" title="Öffnet ein Fenster zum Versenden der E-Mail">Donatha</a> oder <a href="mailto:Jens@pfadis.org" title="Öffnet ein Fenster zum Versenden der E-Mail" class="mail">Jens</a> melden.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>