<html>
<head>
	<title>Scheine für Vereine</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/scheine-fuer-vereine"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Scheine für Vereine</h2>
		<!-- date, author -->
		<h6>21/03/2020, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Eine Aktion von Hitradio Ohr und den Volksbanken der Region</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/scheine-fuer-vereine/images/csm_89955008_10157953398348766_377203694589968384_o_e260749c11.jpg" width="282" height="282" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Und wir haben bereits im Radio 500€ gewonnen.</p><p>&nbsp;</p><p>Aber unsere Reise bei Scheine für Vereine ist noch nicht vorbei.</p><p>&nbsp;</p><p>Denn ihr könnt weiterhin für uns online abstimmen:</p><p><a href="https://31425.hc-apps.de/?data-contentId=10710201" target="_blank">https://31425.hc-apps.de/?data-contentId=10710201</a></p><p>Einfach E-Mail-Adresse angeben, die E-Mail die ihr bekommt bestätigen und schon haben wir eine Stimme mehr.</p><p>&nbsp;</p><p>Danke für eure Unterstützung.</p><p>&nbsp;</p><p>Der ausführliche Verlauf der Aktion könnt ihr auf der Homepage von Hitradio Ohr nachlesen (<a href="https://31425.hc-apps.de/app/view/contest/31425?contentId=10710201&amp;d=true&amp;tab=additionalInformation#tab-contest-additionalInformation" target="_blank">https://31425.hc-apps.de/app/view/contest/31425?contentId=10710201&amp;d=true&amp;tab=additionalInformation#tab-contest-additionalInformation</a>):</p><p>&nbsp;</p><p><strong>Wir machen den Weg frei!</strong></p><p><strong>50.000 € für die Vereine in der Region&nbsp;</strong></p><p>Zum Start in den Frühling erfüllen die Volksbanken der Region und HITRADIO OHR auch in diesem Jahr wieder kleine und große Wünsche der örtlichen Vereine und lassen die Kassen klingeln.</p><p>&nbsp;</p><p>Insgesamt werden 50.000 € ausgeschüttet. Jeder Verein hat hierbei die gleichen Chancen auf einen Gewinn und erhält mehrere Gewinnmöglichkeiten.</p><p>&nbsp;</p><p><strong>88 x 500 € im Programm von HITRADIO OHR&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p><p>&nbsp;</p><p><strong>AUSLOSUNG</strong></p><p><strong>Vom 26. Februar bis zum 27. März </strong>rufen wir montags bis freitags mehrmals täglich einen der angemeldeten Vereine auf. Dann habt Ihr genau 3 Songs Zeit, bei uns im Studio für Euren Verein anzurufen.</p><p>&nbsp;</p><p><strong>Studio-Hotline: 0781-504 3311</strong></p><p>&nbsp;</p><p><strong>POWERTAGE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></p><p>An unseren Powertagen spielen wir die 500 € direkt aus. Dann sind alle aufgerufen, mitzuraten. Hört Euch unser Quiz genau an. Ihr kennt die Lösung? Dann ruft im Studio an, nennt den Verein, den Ihr gerne unterstützen möchtet und Eure Lösung.</p><p>&nbsp;</p><p><strong>Studio-Hotline: 0781-504 3311</strong></p><p>&nbsp;</p><p>Der erste Anrufer mit der richtigen Lösung gewinnt für seinen Verein.<br /><em>Es können nur aktivierte Vereine teilnehmen. Vereine, die 2020 bereits einmal 500 € für ihre Vereinskasse gewonnen haben, sind von der Teilnahme ausgeschlossen. Bitte ruft dann auch nicht an.</em></p><p>&nbsp;</p><p>Der Gewinn wird Euch von HITRADIO OHR und Eurer zuständigen Volksbank mit einem Scheck feierlich übergeben. Alle Gewinner erhalten eine hochwertige Urkunde für das Vereinsheim.</p><p>&nbsp;</p><p><strong>6.000 € am Vereinstag im Rulantica&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p><p>&nbsp;</p><p>Zum Finale laden wir ein zum großen &quot;Scheine für Vereine-Finale&quot; im RULANTICA .</p><p>&nbsp;</p><p>*** Bitte beachtet, dass wir das Finale auf Grund der Corona-Krise am ursprünglichen Termin am 02. April 2020 nicht&nbsp; durchführen können. Wir&nbsp; informieren Euch, sobald die Lage wieder besser einschätzbar ist und ein neuer Termin feststeht. Bleibt gesund! ***</p><p>&nbsp;</p><p>Je 2 Vertreter aus 50 Vereinen treten dann gegeneinander an.<br /> Für die Sieger gibt es 3.000 €, 2.000 € und 1.000 € für die Vereinskasse.</p><p>&nbsp;</p><p><strong>Wie kommt Ihr ins Finale?</strong>&nbsp;</p><p>&nbsp;</p><p>Vom 26. Februar bis zum 27. März 2020 (09:00 Uhr) heißt es STIMMEN SAMMELN. Die 20 Vereine/Abteilungen, die die meisten Stimmen für sich sammeln konnten, haben Ihren Platz beim Vereinstag sicher. 20 weitere Vereine für das Finale losen wir aus. 10&nbsp; Vereine wählt die Jury aus Mitgliedern der teilnehmenden Volksbanken aus.</p><p>Die Finalteilnehmer werden in der HITRADIO OHR Morningshow am 27. März 2020 bekanntgegeben.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>