<html>
<head>
	<title>Anmeldung für Sommerlager</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/anmeldung-fuer-sommerlager"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Anmeldung für Sommerlager</h2>
		<!-- date, author -->
		<h6>24/06/2013, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Leider ist es uns aus technischen Gründen im Moment nicht möglich euch die Sommerlageranmeldungen per Post zu versenden.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/anmeldung-fuer-sommerlager/images/csm_verdon02_e999b9e733.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Wie gewohnt ist das Sommerlager ab&nbsp; Pfadfinderstufe.
</p><p>&nbsp;</p><p>Bitte verteilt die Anmeldungen in euren Gruppen und füllt selbst eine aus!
</p><p>Wir bauen auf euch, dass wir wieder ein SUPER Sommerlager erleben werden.
</p><p>&nbsp;</p><p>Also schwingt eure Stifte über die Anmeldung.
</p><p>&nbsp;</p><p>Weitere Anmeldungen findet ihr im Pfadfinderheim.
</p><p>&nbsp;</p><p>Gut Pfad, Der Vorstand</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>