<html>
<head>
	<title>Stammeslager Anfahrt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/stammeslager-anfahrt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Stammeslager Anfahrt</h2>
		<!-- date, author -->
		<h6>24/09/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Die Anfahrt zum Lagerplatz erklärt!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/stammeslager-anfahrt/images/csm_Unbenannt_01_96935d1da2.png" width="282" height="243" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Liebe Eltern, Wölflinge und Pfadfinder,
</p><p>&nbsp;</p><p>wir haben für euch eine Wegbeschreibung zum Lagerplatz erstellt. 
</p><p><i>Wo:</i> Das Lager findet auf dem Sohlberg statt.
</p><p><i>Wann:</i> 05. – 07. Oktober 2012
</p><p>&nbsp;</p><p><b>Punkt A</b> auf der nebenstehenden Karte zeigt die Einfahrt in die Sohlbergstraße von der B28 (direkt nach dem Hotel Schwanen). Dann immer der Sohlbergstraße folgen! 
</p><p><b>Punkt B</b> ist der allgemeine Parkplatz, denn der Lagerplatz befindet sich in einem schwer mit dem Auto zu erreichendem Waldabschnitt.
</p><p><b>Punkt C</b> ist unser Lagerplatz.<b><i></i></b></p><p>&nbsp;</p><p><b><i>Für Wölflinge:</i></b> Treffpunkt für alle Wölflinge ist um 15 Uhr am Pfadfinderheim. Dort werden dann Fahrgemeinschaften gebildet. (Wir bitten Sie ihr Kind nur bis zum Punkt B zu fahren.) Von dort werden die Kinder mit den Meutenleitern zum Lagerplatz laufen. Das Gepäck wir am Punkt B nach Punkt C transportiert.
</p><p><b><i>Für Pfadfinder:</i></b> Die Älteren werden vom Oberkircher Pfadfinderheim laufen. Die Route und die Anfangszeit besprechen ihre Kinder mit ihrem Sippenführer. 
</p><p><b><i>Für Spätanreisende: </i></b>Wenn Sie es bis 15 Uhr nicht einrichten können am Pfadfinderheim zu sein, bitten wir Sie sich mit dem Gruppenleiter ihres Kindes in Verbindung zu setzen. 
</p><p>&nbsp;</p><p>Der Direktlink zu dieser Beschreibung lautet: <a href="http://goo.gl/maps/BnD27" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">http://goo.gl/maps/BnD27 </a></p><p>&nbsp;</p><p>Bei Fragen können Sie sich gerne bei dem Gruppenleiter ihres Kindes oder bei &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p><p><a href="http://pfadis.org/typo3/mailto:typo3/mailto:Jens@pfadis.org" title="Öffnet ein Fenster zum Versenden der E-Mail" target="_blank">Jens Huber</a> melden.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>