<html>
<head>
	<title>Überbündisches Treffen 2017</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/ueberbuendisches-treffen-2017"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Überbündisches Treffen 2017</h2>
		<!-- date, author -->
		<h6>25/11/2016</h6>
		<!-- teaser -->
		<p>Gerne wollen wir euch auf das ÜT 2017 aufmerksam machen. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/ueberbuendisches-treffen-2017/images/csm_07d697b06f_667906da1a.jpg" width="282" height="108" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Dieses findet nächstes Jahr von Donnerstag, 28.09. bis Dienstag, 03.10.2017 beim Allenspacher Hof auf der schwäbischen Alb statt. 
</p><p>&quot;Der Inhalt des Lagers soll von euch eingebracht werden. 
</p><p>Wir stellen uns vor, dass jeder Bund nach seinen Möglichkeiten Angebote zum Mitmachen beisteuert. 
</p><p>Wichtig ist nur, dass ihr alles Typische für euch und euren Bund mitbringt und so das Lager mitgestaltet. Der Austausch und das Kennenlernen sollen auf dem ÜT im Vordergrund stehen. 
</p><p>&nbsp;</p><p>Ihr seid das ÜT!&quot; Alle Infos bezüglich des ÜT 2017 findet ihr auf deren Homepage <a href="http://www.uet2017.de" title="Opens internal link in current window" target="_blank" class="external-link-new-window">www.uet2017.de </a></p><p>Hier ein Video zur Vorstellung der Lageridee und des ÜT 2017-Vereins: <a href="https://vimeo.com/180052093" title="Opens internal link in current window" target="_blank" class="external-link-new-window">vimeo.com/180052093</a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>