<html>
<head>
	<title>Aktivitäten</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<style>
		.block {
			font-size: var(--FontSize);
			width: 300px;
			height: 480px;
			box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
			margin: 20px;
			padding: 10px;
			background-color: var(--backgroundColor);
			position: relative;
			transition: 0.7s;
			text-align: center;
			overflow-y: hidden;
		}

		.block:hover {
			transform: translate(20px ,20px);
		}

		.block p {
			margin-left: 5px;
			text-align: left;
		}

		.blockdiv {
			margin: 2em;
			margin-bottom: 0px;
			display:grid;
			grid-gap: 2em;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}

		a:hover {
			text-decoration: none;
		}

		.block img {
			max-height: 40%;
			margin: auto;
			margin-bottom: 1em;
		}

		.txt {
			text-align: center;
		}

		.txt a {
			font-size: 1.5em;
			width: 95%;
			border-radius: 7px;
			box-shadow: 0 0 4px black;
			padding: 15px;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
		}

		a span {
			margin: auto 0px;
		}
		.txt a:hover {
			box-shadow: 0 0 16px black;
		}

		.title {
			font-size: 0.75em;
		}
		.date {
			font-size: 1em;
			color: grey;
			margin: 0px;
		}
	</style>
</head>
<body>
	<%- include("../components/modals") %>
	<%- include("../components/navbar", {redirect: "/aktionenUebersicht"}) %>
	<h2>Aktivitäten</h2>
	<div class="blockdiv">
		<a href="/aktionen/2020/kreisputzete-am-24-oktober-2020">
			<div class="block">
				<h2>Kreisputzete am 24. Oktober 2020</h2>
				<img src="/aktionen/2020/kreisputzete-am-24-oktober-2020/images/csm_DSC06946_037747999d.jpg">
				<p>Die Kreisputzete 2020 konnte coronabedingt im Frühjahr nicht stattfinden. Die kreisweite Putz-Aktion wird aber nun im Oktober nachgeholt. Wir beteiligen uns auch diesmal an der Kreisputzete. Die Aktion findet am Samstag, den 24. Oktober 2020 statt.</p>
			</div>
		</a>
		<a href="/aktionen/2020/fundmate-spendenaktion-die-zweite">
			<div class="block">
				<h2>FUNDMATE Spendenaktion - Die Zweite</h2>
				<p>Hey du,ja genau dich meine ich! Hast du Interesse die Pfadfinder etwas zu unterstützen und suchst noch das ein oder andere Weihnachtsgeschenk? </p>
			</div>
		</a>
		<a href="/aktionen/2020/stadtradeln-in-oberkirch">
			<div class="block">
				<h2>Stadtradeln in Oberkirch</h2>
				<p>STADTRADELN ist ein Wettbewerb, bei dem es darum geht, 21 Tage lang möglichst viele Alltagswege klimafreundlich mit dem Fahrrad zurückzulegen. Dabei ist es egal, ob du bereits jeden Tag fährst oder bisher eher selten mit dem Rad unterwegs bist. Jeder Kilometer zählt – erst recht wenn du ihn sonst mit dem Auto zurückgelegt hättest.</p>
			</div>
		</a>
		<a href="/aktionen/2020/endlich-ist-es-soweit">
			<div class="block">
				<h2>Die Gruppenstunden gehen wieder los :)</h2>
				<p>Liebe Mitglieder, endlich ist es soweit,die Gruppenstunden können wieder beginnen. </p>
			</div>
		</a>
		<a href="/aktionen/2020/dpv-gold">
			<div class="block">
				<h2>DPV goLd</h2>
				<img src="/aktionen/2020/dpv-gold/images/csm_Bild_dpvonline-1024x576_1ddf5e110a.png">
				<p>Im Sommer diesen Jahres feiern wir den goLdenen Geburtstag des Deutschen Pfadfinderverbandes – 50 Jahre DPV.50 (oder römisch: L) Jahre – da kann man schon mal die Sau rauslassen.</p>
			</div>
		</a>
		<a href="/aktionen/2020/unterstuetzung-des-beraeuner-treffen">
			<div class="block">
				<h2>Unterstützung des Beräuner Treffen</h2>
				<img src="/aktionen/2020/unterstuetzung-des-beraeuner-treffen/images/csm_Beraeuner-Logo_795bd619aa.png">
				<p>Jedes Jahr im März treffen sich hunderte junge und junggebliebene Menschen in den romantischen wie geschichtsträchtigen Mauern der Burg der Jugendbewegung, um sich zu begegnen, kennenzulernen, auszutauschen, gemeinsam zu musizieren, im sanglichen Wettstreit gegeneinander anzutreten und nicht zuletzt, um zu feiern. Das soll auch - trotz COVID-19 und der damit verbundenen Probleme für gemeinnützige Einrichtungen - so bleiben. </p>
			</div>
		</a>
		<a href="/aktionen/2020/schwarzbunt-pixel">
			<div class="block">
				<h2>Schwarzbunt PIXEL</h2>
				<img src="/aktionen/2020/schwarzbunt-pixel/images/csm_logo_pixel-300x276_3d312205f9.png">
				<p>Ein digtitales Lager in Zeiten von Corona</p>
			</div>
		</a>
		<a href="/aktionen/2020/erlebnis-waldlauf-gegen-corona-langeweile">
			<div class="block">
				<h2>Erlebnis-Waldlauf gegen Corona-Langeweile</h2>
				<img src="/aktionen/2020/erlebnis-waldlauf-gegen-corona-langeweile/images/csm_Waldlauf_Corona_d2ae65d7b2.jpg">
				<p>Da aktuell alle Gruppenstunden ausfallen und wir als Pfadfinder gerne in der Natur sind, haben wir für euch einen Erlebnis-Waldlauf mit einer Schatzsuche vorbereitet.</p>
			</div>
		</a>
		<a href="/aktionen/2020/steine-fuer-den-zusammenhalt">
			<div class="block">
				<h2>Steine für den Zusammenhalt</h2>
				<img src="/aktionen/2020/steine-fuer-den-zusammenhalt/images/csm_WhatsApp_Image_2020-05-04_at_19.27.35_cd989d8841.jpeg">
				<p>Corona-Steine selbst gestalten</p>
			</div>
		</a>
		<a href="/aktionen/2020/erntehelfer-in-der-corona-krise">
			<div class="block">
				<h2>Erntehelfer in der Corona-Krise</h2>
				<img src="/aktionen/2020/erntehelfer-in-der-corona-krise/images/csm_1_Erdbeerhhelfer_95e800097b.jpg">
				<p>Einige Pfadis helfen dem Obsthof Vogt</p>
			</div>
		</a>
	</div>
	<div class="backg">
		<div class="txt">
			<h2>2020</h2>
			<a href=/aktionen/2020/scheine-fuer-vereine> <span class="title">Scheine für Vereine</span> <span class="date">21/03/2020</span> </a> <br/>
			<a href=/aktionen/2020/ihr-kauft-lokal-wir-spenden> <span class="title">Wer seine Heimat liebt... kauft lokal - Und wir sind dabei</span> <span class="date">11/03/2020</span> </a> <br/>
			<a href=/aktionen/2020/fundmate-spendenaktion> <span class="title">FUNDMATE Spendenaktion</span> <span class="date">29/02/2020</span> </a> <br/>
			<a href=/aktionen/2020/informationsabend> <span class="title">Informationsabend</span> <span class="date">20/01/2020</span> </a> <br/>
			<h2>2019</h2>
			<a href=/aktionen/2019/jahreshauptversammlung-der-renchtaeler-pfadfinder-ev-stammesratsitzung> <span class="title">Jahreshauptversammlung der Renchtäler Pfadfinder e.V.  – Stammesratsitzung –</span> <span class="date">21/12/2019</span> </a> <br/>
			<h2>2018</h2>
			<a href=/aktionen/2018/mia-san-wida-dahoim> <span class="title">Mia san wida dahoim</span> <span class="date">14/08/2018</span> </a> <br/>
			<a href=/aktionen/2018/3-grad-waldlauf> <span class="title">3. Grad Waldlauf</span> <span class="date">07/07/2018</span> </a> <br/>
			<a href=/aktionen/2018/kanutour-am-altrhein> <span class="title">Kanutour am Altrhein</span> <span class="date">30/06/2018</span> </a> <br/>
			<a href=/aktionen/2018/pfadiaktion> <span class="title">Pfadiaktion</span> <span class="date">17/06/2018</span> </a> <br/>
			<a href=/aktionen/2018/muehlentag-bei-der-oelmuehle-walz> <span class="title">Mühlentag bei der Ölmühle Walz</span> <span class="date">21/05/2018</span> </a> <br/>
			<a href=/aktionen/2018/kreisputzete> <span class="title">Kreisputzete</span> <span class="date">20/03/2018</span> </a> <br/>
			<h2>2017</h2>
			<a href=/aktionen/2017/stammesratsitzung-und-neuer-vorstand> <span class="title">Stammesratsitzung und neuer Vorstand</span> <span class="date">11/12/2017</span> </a> <br/>
			<a href=/aktionen/2017/sommerlager2017> <span class="title">sommerlager2017</span> <span class="date">19/08/2017</span> </a> <br/>
			<a href=/aktionen/2017/einladung-bundesmeutenaktion> <span class="title">Einladung Bundesmeutenaktion</span> <span class="date">29/03/2017</span> </a> <br/>
			<h2>2016</h2>
			<a href=/aktionen/2016/termine-und-chronik-aktualisiert-jahresbrief> <span class="title">Termine und Chronik aktualisiert + Jahresbrief</span> <span class="date">24/12/2016</span> </a> <br/>
			<a href=/aktionen/2016/froehliche-weihnachten> <span class="title">Fröhliche Weihnachten</span> <span class="date">24/12/2016</span> </a> <br/>
			<a href=/aktionen/2016/herbstseminar> <span class="title">Herbstseminar</span> <span class="date">12/12/2016</span> </a> <br/>
			<a href=/aktionen/2016/einladung-zum-altpfadi-treffen> <span class="title">Einladung zum Altpfadi-Treffen</span> <span class="date">02/12/2016</span> </a> <br/>
			<a href=/aktionen/2016/ueberbuendisches-treffen-2017> <span class="title">Überbündisches Treffen 2017</span> <span class="date">25/11/2016</span> </a> <br/>
			<a href=/aktionen/2016/einladung-zum-weihnachtsmarkt> <span class="title">Einladung zum Weihnachtsmarkt</span> <span class="date">24/11/2016</span> </a> <br/>
			<a href=/aktionen/2016/stammesratsitzung-generalversammlung> <span class="title">Stammesratsitzung/ Generalversammlung</span> <span class="date">31/10/2016</span> </a> <br/>
			<a href=/aktionen/2016/jubilaeums-stammeslager> <span class="title">Jubiläums-Stammeslager</span> <span class="date">23/10/2016</span> </a> <br/>
			<a href=/aktionen/2016/sommerlager-schweden> <span class="title">Sommerlager Schweden</span> <span class="date">15/08/2016</span> </a> <br/>
			<a href=/aktionen/2016/pfadfinderaktion> <span class="title">Pfadfinderaktion</span> <span class="date">05/07/2016</span> </a> <br/>
			<a href=/aktionen/2016/wikingerdorf-in-hinterweidenthal-vom-05-08-mai-aufgebaut> <span class="title">Wikingerdorf in Hinterweidenthal  vom 05. - 08. Mai aufgebaut</span> <span class="date">15/05/2016</span> </a> <br/>
			<a href=/aktionen/2016/fotoshooting-auf-der-schauenburg> <span class="title">Fotoshooting auf der Schauenburg</span> <span class="date">15/05/2016</span> </a> <br/>
			<a href=/aktionen/2016/tag-fuer-s-heim> <span class="title">Tag für´s Heim</span> <span class="date">12/04/2016</span> </a> <br/>
			<a href=/aktionen/2016/3-ortenauer-kreisputzete> <span class="title">3. Ortenauer Kreisputzete</span> <span class="date">12/04/2016</span> </a> <br/>
			<a href=/aktionen/2016/pfingstlager-anmeldung> <span class="title">Pfingstlager-Anmeldung</span> <span class="date">06/03/2016</span> </a> <br/>
			<a href=/aktionen/2016/sommerlager-2016> <span class="title">Sommerlager 2016</span> <span class="date">30/01/2016</span> </a> <br/>
			<h2>2015</h2>
			<a href=/aktionen/2015/termine-2016-online> <span class="title">Termine 2016 online</span> <span class="date">07/12/2015</span> </a> <br/>
			<a href=/aktionen/2015/singekreis-runde-der-renchtaeler-pfadfinder-e-v> <span class="title">Singekreis/ -runde der Renchtäler Pfadfinder e.V.</span> <span class="date">06/12/2015</span> </a> <br/>
			<a href=/aktionen/2015/neuer-vorstand> <span class="title">Neuer Vorstand</span> <span class="date">03/12/2015</span> </a> <br/>
			<a href=/aktionen/2015/herbstseminar-der-pfadfinderschaft-sueddeutschland> <span class="title">Herbstseminar der Pfadfinderschaft Süddeutschland</span> <span class="date">28/11/2015</span> </a> <br/>
			<a href=/aktionen/2015/stammeslager-in-nesselried> <span class="title">Stammeslager in Nesselried</span> <span class="date">12/10/2015</span> </a> <br/>
			<a href=/aktionen/2015/neue-shopoeffnungszeiten-verfuegbar> <span class="title">Neue Shopöffnungszeiten verfügbar</span> <span class="date">12/10/2015</span> </a> <br/>
			<a href=/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager> <span class="title">Die Pfadfinder aus dem Renchtal erlebten dieses Mal ein besonderes Sommerlager</span> <span class="date">14/09/2015</span> </a> <br/>
			<a href=/aktionen/2015/verleihung-der-3-grad-halstuecher> <span class="title">Verleihung der 3. Grad Halstücher</span> <span class="date">04/08/2015</span> </a> <br/>
			<a href=/aktionen/2015/zeitungsartikel-wutachschlucht-online> <span class="title">Zeitungsartikel Wutachschlucht online</span> <span class="date">03/08/2015</span> </a> <br/>
			<a href=/aktionen/2015/pfadfinderaktion-in-der-wutachschlucht> <span class="title">Pfadfinderaktion in der Wutachschlucht</span> <span class="date">14/07/2015</span> </a> <br/>
			<a href=/aktionen/2015/einladung-zur-pfadfinderaktion> <span class="title">Einladung zur Pfadfinderaktion</span> <span class="date">25/06/2015</span> </a> <br/>
			<a href=/aktionen/2015/neuer-anmeldeschluss-fuer-das-sommerlager> <span class="title">Neuer Anmeldeschluss für das Sommerlager</span> <span class="date">22/06/2015</span> </a> <br/>
			<a href=/aktionen/2015/grosses-dpv-pfingstlager-allerhand> <span class="title">Großes DPV-Pfingstlager &quot;Allerhand&quot;</span> <span class="date">06/06/2015</span> </a> <br/>
			<a href=/aktionen/2015/elterninformationsabend> <span class="title">Elterninformationsabend</span> <span class="date">01/05/2015</span> </a> <br/>
			<a href=/aktionen/2015/stockbrot-beim-ringelbacher-bluetenfest> <span class="title">Stockbrot beim Ringelbacher Blütenfest</span> <span class="date">26/04/2015</span> </a> <br/>
			<a href=/aktionen/2015/erfolgreiches-heimwochenende> <span class="title">Erfolgreiches Heimwochenende</span> <span class="date">20/04/2015</span> </a> <br/>
			<a href=/aktionen/2015/einladung-zum-heimwochenende-im-april> <span class="title">Einladung zum Heimwochenende im April</span> <span class="date">08/03/2015</span> </a> <br/>
			<a href=/aktionen/2015/singewochenende> <span class="title">Singewochenende</span> <span class="date">12/02/2015</span> </a> <br/>
			<h2>2014</h2>
			<a href=/aktionen/2014/frohe-weihnachten-und> <span class="title">Frohe Weihnachten und ...</span> <span class="date">17/12/2014</span> </a> <br/>
			<a href=/aktionen/2014/homepage-aktualisiert> <span class="title">Homepage aktualisiert</span> <span class="date">12/12/2014</span> </a> <br/>
			<a href=/aktionen/2014/bildergalerie-wurde-auf-vordermann-gebracht> <span class="title">Bildergalerie wurde auf Vordermann gebracht</span> <span class="date">12/12/2014</span> </a> <br/>
			<a href=/aktionen/2014/pfadi-aktion-war-ein-tolles-erlebnis> <span class="title">Pfadi-Aktion war ein tolles Erlebnis</span> <span class="date">14/09/2014</span> </a> <br/>
			<a href=/aktionen/2014/zeitungsartikel-ueber-sola-in-der-eifel-online> <span class="title">Zeitungsartikel über SoLa in der Eifel online</span> <span class="date">03/09/2014</span> </a> <br/>
			<a href=/aktionen/2014/zeitungsartikel-pfingstlager-online> <span class="title">Zeitungsartikel Pfingstlager online</span> <span class="date">01/07/2014</span> </a> <br/>
			<a href=/aktionen/2014/meute-dschungelwoelfe-besuchte-die-oberkircher-feuerwehr> <span class="title">Meute Dschungelwölfe besuchte die Oberkircher Feuerwehr</span> <span class="date">01/07/2014</span> </a> <br/>
			<a href=/aktionen/2014/erfolgreiches-lager-in-oberkirch> <span class="title">Erfolgreiches Lager in Oberkirch</span> <span class="date">02/06/2014</span> </a> <br/>
			<a href=/aktionen/2014/waldpirsch-einmal-anders> <span class="title">Waldpirsch einmal anders</span> <span class="date">01/06/2014</span> </a> <br/>
			<a href=/aktionen/2014/sommerlager-2014> <span class="title">Sommerlager 2014</span> <span class="date">23/05/2014</span> </a> <br/>
			<a href=/aktionen/2014/achtung> <span class="title">ACHTUNG</span> <span class="date">09/04/2014</span> </a> <br/>
			<a href=/aktionen/2014/psd-osterfahrt> <span class="title">PSD-Osterfahrt</span> <span class="date">23/03/2014</span> </a> <br/>
			<a href=/aktionen/2014/chortermine-sind-online> <span class="title">Chortermine sind online</span> <span class="date">13/02/2014</span> </a> <br/>
			<a href=/aktionen/2014/frohes-neues-jahr> <span class="title">Frohes neues Jahr!</span> <span class="date">01/01/2014</span> </a> <br/>
			<h2>2013</h2>
			<a href=/aktionen/2013/anmeldung-fuer-das-winterlager-2013> <span class="title">Anmeldung für das Winterlager 2013</span> <span class="date">02/11/2013</span> </a> <br/>
			<a href=/aktionen/2013/zeitungsartikel-uebers-sola-2013> <span class="title">Zeitungsartikel übers SoLa 2013</span> <span class="date">09/09/2013</span> </a> <br/>
			<a href=/aktionen/2013/abfahrt-zur-verdonschlucht> <span class="title">Abfahrt zur Verdonschlucht</span> <span class="date">29/07/2013</span> </a> <br/>
			<a href=/aktionen/2013/halstuchuebergabe-und-verleihung-der-2-grad-abzeichen> <span class="title">Halstuchübergabe und Verleihung der 2.Grad-Abzeichen</span> <span class="date">27/07/2013</span> </a> <br/>
			<a href=/aktionen/2013/anmeldung-fuer-sommerlager> <span class="title">Anmeldung für Sommerlager</span> <span class="date">24/06/2013</span> </a> <br/>
			<a href=/aktionen/2013/pfingstlager-in-hauenstein> <span class="title">Pfingstlager in Hauenstein</span> <span class="date">24/05/2013</span> </a> <br/>
			<a href=/aktionen/2013/die-bilder-gallerie-ist-ueberarbeitet> <span class="title">Die Bilder-Gallerie ist überarbeitet</span> <span class="date">11/05/2013</span> </a> <br/>
			<a href=/aktionen/2013/frohe-ostern> <span class="title">Frohe Ostern</span> <span class="date">29/03/2013</span> </a> <br/>
			<a href=/aktionen/2013/kreisputzete-und-meute-akela-zu-besuch-beim-roten-kreuz> <span class="title">Kreisputzete und Meute Akela zu Besuch beim Roten Kreuz</span> <span class="date">20/03/2013</span> </a> <br/>
			<a href=/aktionen/2013/roverrunde> <span class="title">Roverrunde</span> <span class="date">25/02/2013</span> </a> <br/>
			<a href=/aktionen/2013/neue-chortermine> <span class="title">Neue Chortermine</span> <span class="date">22/01/2013</span> </a> <br/>
			<h2>2012</h2>
			<a href=/aktionen/2012/frohe-weihnachten> <span class="title">Frohe Weihnachten</span> <span class="date">24/12/2012</span> </a> <br/>
			<a href=/aktionen/2012/der-burgkurier-ist-wieder-da> <span class="title">Der Burgkurier ist wieder da!</span> <span class="date">02/12/2012</span> </a> <br/>
			<a href=/aktionen/2012/stammesratsitzung> <span class="title">Stammesratsitzung</span> <span class="date">25/11/2012</span> </a> <br/>
			<a href=/aktionen/2012/gruppenstunden> <span class="title">Gruppenstunden</span> <span class="date">01/11/2012</span> </a> <br/>
			<a href=/aktionen/2012/chor-sucht-weiter-neue-mitglieder> <span class="title">Chor sucht weiter neue Mitglieder</span> <span class="date">31/10/2012</span> </a> <br/>
			<a href=/aktionen/2012/stammesratsitzung-2012> <span class="title">Stammesratsitzung 2012</span> <span class="date">28/10/2012</span> </a> <br/>
			<a href=/aktionen/2012/social-network> <span class="title">Social Network</span> <span class="date">27/10/2012</span> </a> <br/>
			<a href=/aktionen/2012/stammeslager-anfahrt> <span class="title">Stammeslager Anfahrt</span> <span class="date">24/09/2012</span> </a> <br/>
			<a href=/aktionen/2012/sola-in-slowenien> <span class="title">SoLa in Slowenien</span> <span class="date">18/08/2012</span> </a> <br/>
			<a href=/aktionen/2012/chor> <span class="title">Chor</span> <span class="date">22/07/2012</span> </a> <br/>
			<a href=/aktionen/2012/gruppenleiteraktion> <span class="title">Gruppenleiteraktion</span> <span class="date">08/07/2012</span> </a> <br/>
			<a href=/aktionen/2012/abstimmung-in-die-top-25> <span class="title">Abstimmung in die TOP 25!</span> <span class="date">03/07/2012</span> </a> <br/>
			<a href=/aktionen/2012/sparkassen-vereinswettbewerb-abstimmung> <span class="title">Sparkassen Vereinswettbewerb Abstimmung!</span> <span class="date">13/06/2012</span> </a> <br/>
			<a href=/aktionen/2012/sparkassen-vereinswettbewerb> <span class="title">Sparkassen Vereinswettbewerb</span> <span class="date">06/05/2012</span> </a> <br/>
			<a href=/aktionen/2012/psd-meutenlager-bruchsal> <span class="title">PSD-Meutenlager Bruchsal</span> <span class="date">01/04/2012</span> </a> <br/>
			<a href=/aktionen/2012/forum-zur-partnersippenfindung-online> <span class="title">Forum zur Partnersippenfindung online</span> <span class="date">17/03/2012</span> </a> <br/>
			<a href=/aktionen/2012/stammeschor> <span class="title">Stammeschor</span> <span class="date">03/03/2012</span> </a> <br/>
			<h2>2011</h2>
			<a href=/aktionen/2011/ein-neuer-vorstand-wurde-gewaehlt> <span class="title">Ein neuer Vorstand wurde gewählt</span> <span class="date">01/12/2011</span> </a> <br/>
			<a href=/aktionen/2011/renchtaeler-pfadfinder-gaben-einblicke-ins-lagerleben> <span class="title">Renchtäler Pfadfinder gaben Einblicke ins Lagerleben</span> <span class="date">04/10/2011</span> </a> <br/>
			<a href=/aktionen/2011/lagerplatz-von-straeuchern-geraeumt> <span class="title">Lagerplatz von Sträuchern geräumt</span> <span class="date">11/09/2011</span> </a> <br/>
			<a href=/aktionen/2011/die-schottischen-pfadis-1st-maryculter-boyscouts-sind-zu-besuch-in-oberkirch> <span class="title">Die schottischen Pfadis 1st Maryculter Boyscouts sind zu Besuch in Oberkirch</span> <span class="date">06/07/2011</span> </a> <br/>
			<a href=/aktionen/2011/pfadfinder-feiern-runden-geburtstag> <span class="title">Pfadfinder feiern runden Geburtstag</span> <span class="date">08/06/2011</span> </a> <br/>
			<a href=/aktionen/2011/fotoshooting> <span class="title">Fotoshooting</span> <span class="date">11/04/2011</span> </a> <br/>
			<a href=/aktionen/2011/das-jubilaeum-rueckt-naeher> <span class="title">Das Jubiläum rückt näher!</span> <span class="date">28/03/2011</span> </a> <br/>
			<a href=/aktionen/2011/fotoshooting-anlaesslich-unseres-jubilaeums> <span class="title">Fotoshooting anlässlich unseres Jubiläums</span> <span class="date">15/02/2011</span> </a> <br/>
			<h2>2010</h2>
			<a href=/aktionen/2010/der-neue-vorstand-stellt-sich-vor> <span class="title">Der neue Vorstand stellt sich vor</span> <span class="date">20/12/2010</span> </a> <br/>
			<a href=/aktionen/2010/pfadfinder-zelten-auf-nebliger-kalikutt> <span class="title">Pfadfinder zelten auf nebliger Kalikutt</span> <span class="date">16/10/2010</span> </a> <br/>
		</div>
	</div>
	<%- include("../components/footer") %>
</body>
</html>
