<html lang="en">
<head>
    <title>Pfadfinder</title>
    <link rel="icon" href="./bilder/favicon.png" type="image/x-icon"/> <!--Favicon -->

    <link rel="stylesheet" href="style.css"/>

    <script src="./script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>             <!--Die Beiden linien importieren Icons -->

<style>
    a {
        color: black;
    }
</style>


</head>
<body>
    <%- include("../components/modals") %>
    <%- include("../components/navbar", {redirect: "/Impressum"}) %>

    <main>
        <div class="txt blocksatz">
            <div>
                <h2>Impressum</h2>
                <p>
                    Renchtäler Pfadfinder e.V. –&nbsp;Stamm Jörg von Schauenburg<br>
                    Stadtmattstr.2<br>
                    77704&nbsp;Oberkirch
                </p>
                <p>Tel. 07802 981988<br></p>
                <p>
                    www.pfadis.org<br>
                    <a href="typo3/mailto:info@pfadis.org" title="Öffnet ein Fenster zum Versenden der E-Mail" class="mail">info@pfadis.org</a>
                </p>
            </div>
            <div>
                <h2>Angaben gemäß § 5 TMG:</h2>
                <p>Renchtäler Pfadfinder e.V. - Stamm Jörg von Schauenburg<br>
                    Stadtmattstr. 2<br> 77704 Oberkirch
                </p>
                <h2>Vertreten durch:</h2>
                <p>Frederic Fies (1. Vorsitzender), Elena Müller (Vorstand), Mathias Busam (Kasse), Luca Richter (Vorstand), Hanna Huber (Vorstand) und Tobias Mühl (Vorstand)</p>
                <h2>Kontakt:</h2>
                <p>E-Mail: info@pfadis.org</p>
                <h2>Registereintrag:</h2>
                <p>
                    Eintragung im Vereinsregister:<br>
                    Amtsgericht Freiburg i. Br.<br>
                    Registernummer: VR 490150
                </p>
                <h2>&nbsp;</h2>
                <p>Streitschlichtung</p>
                <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
                <h2>Haftung für Inhalte</h2>
                <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>
                <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
                <h2>Haftung für Links</h2>
                <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p>
                <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
                <h2>Urheberrecht</h2>
                <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p>
                <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen</p>
                <p>Quelle: <a href="https://www.e-recht24.de" target="_blank">erecht24.de</a></p>
            </div>
            <div>
                <h2>Satzung der Renchtäler Pfadfinder e.V.</h2>
                <p><strong>1 Name und Sitz</strong></p>
                <p>
                    <br><strong>1.1 Der Renchtäler Pfadfinder e.V. - Stamm Jörg von Schauenburg-</strong><br>
                    mit Sitz in Oberkirch verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnittes “Steuerbegünstigte Zwecke“ der Abgabenordnung. Er ist eine örtliche Gruppierung der Pfadfinderschaft Süddeutschland und hat Gruppen im ganzen Renchtal. Er ist im Vereinsregister des Amtsgerichtes Freiburg unter VR 490150 eingetragen.
                </p>
                <p>
                    <br><strong>1.2 Vereinszweck</strong><br>
                    Zweck des Vereines ist Jugendhilfe und Jugenderziehung nach den Grundsätzen der internationalen Pfadfinderbewegung.<br>
                    Der Verein ist selbstlos tätig: er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke. Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden. Die Vereins- und Organämter werden grundsätzlich ehrenamtlich ausgeübt. Bei Bedarf können Vereins- und Organämter im Rahmen der haushaltsrechtlichen Möglichkeiten gegen Zahlung einer Aufwandsentschädigung nach § 3 Nr. 26 a EStG ausgeübt werden. Die Entscheidung über eine solche entgeltliche Tätigkeit trifft die Mitgliederversammlung auf Vorschlag des Gesamtvorstands.
                </p>
                <p>
                    <br><strong>2 Ziele der Arbeit</strong><br>
                    Die Ziele der Arbeit der Renchtäler Pfadfinder entsprechen dem Satzungszweck der Pfadfinderschaft Süddeutschland.<br>
                    Der Satzungszweck der Pfadfinderschaft Süddeutschland wird verwirklicht durch die Erziehung junger Menschen nach den Grundsätzen der internationalen Pfadfinderbewegung in Zusammenarbeit mit Elternhaus und anderen Erziehungsträgern zu freien, kritischen, verantwortungsbewussten und toleranten Bürgern eines demokratischen Staates.<br>
                    Der Verein ist überkonfessionell und parteipolitisch neutral.
                </p>
                <p>
                    <br><strong>3 Die Vereinsführung</strong><br>
                    Die Vereinsführung besteht aus dem Vorstand und dem Stammesrat.<br>
                    Der Verein wird gesetzlich vertreten im Sinne des § 26 BGB durch den Stammesführer (1. Vorsitzender) und seine Stellvertreter. Sie haben Einzelvertretungsbefugnis.
                </p>
                <p>
                    <br><strong>3.1 Der Vorstand</strong><br>
                    Der Vorstand ist das ausführende Organ des Vereins und wird vom Stammesrat gewählt. Der erste Vorsitzende wird auf zwei Jahre gewählt. Die stellvertretenden Vorsitzenden werden auf zwei Jahre gewählt. Wiederwahl ist zulässig. Jedes Vorstandsmitglied hat sich vor dem Stammesrat zu verantworten. Der Vorstand darf Aufgaben an Dritte übergeben. Die Abwahl jedes Vorstandmitgliedes ist jederzeit durch ein konstruktives Misstrauensvotum möglich.
                </p>
                <p>
                    <br><strong>3.2 Der Stammesrat</strong><br>
                    Der Stammesrat ist das beschließende Organ des Vereines und tritt mindestens ein Mal im Jahr zusammen. Er tritt anstelle einer Mitgliederversammlung zusammen. Er wird vom Stammesführer oder einem seiner Stellvertreter eingeladen. Außerordentliche Stammesratssitzungen müssen durchgeführt werden, sobald 40 % der stimmberechtigten Stammesratsmitglieder den Antrag hierfür stellen. Der Antrag muss allen Vorstandsmitgliedern zugesendet werden.
                </p>
                <p>
                    <br><strong>3.2.1</strong> Der Stammesrat wird von der Stammesführung unter Bekanntgabe der vorläufigen Tagesordnung einberufen. Die Ladungsfrist beträgt zwei Wochen. Die Einladung erfolgt schriftlich.
                </p>
                <p>
                    <br><strong>3.2.2 </strong>Sitz und Stimme im Stammesrat haben:<br>
                    - Sippenführer (die eine Gruppe von mind. 5 Mitgliedern führen)<br>
                    - Meutenführer (die eine Gruppe von mind. 5 Mitgliedern führen)<br>
                    - bestätigte Funktionäre<br>
                    - Elternbeiratssprecher<br>
                    Alle Stammesratsmitglieder werden alle zwei Jahre bestätigt mit Ausnahme des Elternbeiratssprechers.<br>
                    Der Stammesrat ist nur beschlussfähig, wenn 3/4 seiner stimmberechtigten Mitglieder anwesend sind.<br>
                    Beschlüsse sind mit einfacher Mehrheit zu fällen. Für Satzungs- und Geschäftsordnungsänderungen ist eine 3/4 Mehrheit aller möglichen Stimmberechtigten erforderlich.
                </p>
                <p>
                    <br><strong>3.2.3 Ablauf der Stammesratssitzungen</strong><br>
                    - Den Vorsitz führt der Versammlungsleiter.<br>
                    Zum Versammlungsleiter kann jedes Stammesratsmitglied gewählt werden.<br>
                    - Vor Beginn jeder Sitzung werden die Stimmberechtigten festgestellt und verlesen.<br>
                    - Der Versammlungsleiter stellt die Beschlussfähigkeit fest.<br>
                    - Die vorläufige Tagesordnung wird verlesen und Änderungswünsche behandelt.<br>
                    - Die endgültige Tagesordnung (TO) wird festgestellt.<br>
                    Sie hat mindestens folgende Punkte zu enthalten:<br>
                    a) Wahl des Versammlungsleiters und des Protokollführers<br>
                    b) Feststellung der Stimmberechtigten und der Beschlussfähigkeit.<br>
                    c) Genehmigung des letzten Protokolls und Beschluss der TO.<br>
                    d) Anträge<br>
                    e) Verschiedenes<br>
                    Die Punkte a) bis c) müssen am Anfang behandelt werden.
                </p>
                <p>
                    <br><strong>3.2.4 Anträge</strong><br>
                    Von jedem Stammesratsmitglied dürfen Anträge gestellt werden. Sie sind zu begründen. Zur Abstimmung müssen Anträge schriftlich formuliert werden. Zusatzanträge sind zulässig. Über den weitergehenden Antrag wird zuerst abgestimmt. Anträge können zu jedem Tagesordnungspunkt (TOP) gestellt werden.<br>

                    <br><strong>3.2.4.1 Anträge zur Geschäftsordnung</strong><br>
                    Für Anträge zur Geschäftsordnung (GO) wird außerhalb der Rednerliste das Wort erteilt. Erhebt sich beim Antrag GO kein Widerspruch, so gilt er als angenommen. Bei Widerspruch ist nach der Begründung eine Gegenrede zu-lässig. Danach wird über den Antrag zur GO unverzüglich abgestimmt.<br>
                    Anträge zur GO sind:<br>
                    o Antrag auf Schluss der Debatte (darf nicht im Anschluss auf eine Diskussionsbemerkung von demselben Redner gestellt werden)<br>
                    o auf sofortige Abstimmung<br>
                    o auf Vertagung<br>
                    o auf Nichtbefassung<br>
                    o sachliche Richtigstellung<br>
                    o auf namentliche Abstimmung<br>
                    o auf geheime Wahl<br>
                    Dem letzten Antrag ist sofort zu entsprechen.
                </p>
                <p><br><strong>3.2.5 </strong>Die Mitglieder des Vorstandes werden in geheimer Wahl gewählt.</p>
                <p><br><strong>3.2.6</strong> Bei der Entlastung des Vorstandes hat der Vorstand kein Stimmrecht.</p>
                <p><br><strong>3.2.7 </strong>Protokoll</p>
                <p>
                    <br><strong>3.2.7.1</strong> Über Stammesratssitzungen wird ein Protokoll erstellt, welches vom Versammlungsleiter und vom Schriftführer zu unterschreiben ist.<br>
                    Dieses muss enthalten:<br>
                    - Ort und Tag der Sitzung<br>
                    - die Bezeichnung des Versammlungsleiters und des Protokollführers<br>
                    - die Zahl der erschienenen Stimmberechtigten<br>
                    - Die Feststellung des Versammlungsleiters, dass fristgerecht eingeladen wurde<br>
                    - die Feststellung der Beschlussfähigkeit<br>
                    - die gefassten Beschlüsse in Wortlaut und Wahlvorgänge
                </p>
                <p>
                    <br><strong>3.2.7.2 </strong>Zumindest bei Wahlen und satzungsändernden Beschlüssen ist das Abstimmungsergebnis ziffergemäß anzugeben. Der gewählte Vorstand ist mit Vor- und Familiennamen anzugeben. Alle ausdrücklich zur Niederschrift abgegebenen Erklärungen müssen bis zum Ende der Sitzung schriftlich vorliegen.
                </p>
                <p>&nbsp;</p>
                <p><strong>3.2.7.3 </strong>Der Protokollführer wird für jeweils eine Sitzung gewählt</p>
                <p>&nbsp;</p>
                <p><strong>3.2.7.4 </strong>Außerordentliche Stammesratssitzungen werden besonders kenntlich gemacht.</p>
                <p>&nbsp;</p>
                <p>
                    <strong>3.3 Die Delegierten</strong><br>
                    Die Delegierten des Stammes für die Mitgliederdelegiertenversammlung (MDV) der Pfadfinderschaft Süddeutschland werden vom Vorstand berufen.<br>
                    &nbsp;
                </p>
                <p><strong>4 Mitgliedschaft</strong></p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.1 Erwerb der Mitgliedschaft</strong><br>
                    Der Erwerb der Mitgliedschaft in den “Renchtäler Pfadfinder e.V. Stamm Jörg von Schauenburg“ ist jedem möglich, der die Vereinssatzung und die Satzung der Pfadfinderschaft Süddeutschland anerkennt und bereit ist, den festgelegten Jahresbeitrag zu bezahlen.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.2 Anmeldung</strong><br>
                    Die Anmeldung erfolgt durch eine schriftliche Beitrittserklärung; mit der Abgabe der Beitrittserklärung ist automatisch eine Mitgliedschaft in der Pfadfinderschaft Süddeutschland und dem Deutschen Pfadfinderverband verbunden. Bei Minderjährigen ist die Unterschrift eines Erziehungsberechtigten erforderlich. Für alle Neumitglieder gilt eine Probezeit von drei Monaten mit eingeschränkten Rechten. Die Probezeit und der Versicherungsschutz beginnen mit der Abgabe der schriftlichen Anmeldung.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.3 Aufnahme</strong><br>
                    Mit Erhalten der Vollmitgliedschaft übernimmt das Mitglied alle Rechte und Pflichten gemäß der Satzung und der Geschäftsordnung.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.4 Passive Mitgliedschaft</strong><br>
                    Passive Mitglieder sind Mitglieder des Vereins, die nicht regelmäßig an der Arbeit des Vereins mitwirken können. Sie haben Beitragszahlungspflicht und können an allen Vereinsveranstaltungen teilnehmen.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.5 Fördernde Mitglieder</strong><br>
                    Fördernde Mitglieder unterstützen den Verein ideell und materiell. Juristische Personen dürfen nur fördernde Mitglieder sein. Sie haben die Pflicht, den festgesetzten Jahresbeitrag zu entrichten. Auf Einladung des Vorstandes dürfen fördernde Mitglieder an Veranstaltungen teilnehmen.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.6 Beendigung der Mitgliedschaft</strong><br>
                    Die Mitgliedschaft endet durch Austritt, Ausschluss oder Tod.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.7 Austritt</strong><br>
                    Der Austritt erfolgt durch eine schriftliche Abmeldung. Bei Minderjährigen ist eine Unterschrift eines Erziehungsberechtigten erforderlich. Bei Austritt ist der Beitrag für das begonnene Beitragsjahr zu entrichten. Die Austrittserklärung hat schriftlich bis zum 30. November eines Kalenderjahres zu erfolgen.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>4.8 Ausschluss</strong><br>
                    Der Ausschluss eines Mitgliedes kann erfolgen bei einem Beitragsrückstand von mehr als einem Jahr oder wenn das Mitglied den Interessen des Vereins oder der Pfadfinderschaft Süddeutschland zuwiderhandelt oder deren Ansehen schädigt, insbesondere durch Verletzung des Grundsatzes der religiösen Toleranz oder der parteipolitischen Neutralität. Über den Ausschluss entscheidet der Vorstand.<br>
                    &nbsp;
                </p>
                <p>&nbsp;</p>
                <p><strong>5 Rechte und Pflichten eines Vereinsmitgliedes</strong></p>
                <p>&nbsp;</p>
                <p>
                    <strong>5.1 Versprechen und Gesetz</strong><br>
                    Mit Ablegen des Versprechens ist das Mitglied berechtigt, das entsprechende Abzeichen zu tragen. Das Recht ein Halstuch zu tragen erwirbt sich das Mitglied durch feierliche Verleihung des Halstuches nach Ablegen der entsprechenden Prüfung. Die Verleihung erfolgt durch den ersten Vorsitzenden oder einen seiner Stellvertreter.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>5.2 Beitrag</strong><br>
                    Jedes Mitglied ist verpflichtet, den vorn Stammesrat beschlossenen Jahresbeitrag zu entrichten. Das Beitragsjahr entspricht dem Kalenderjahr.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>5.3 Kluft (Tracht)</strong><br>
                    Jedes Mitglied hat die Pflicht, zu allen pfadfinderischen Veranstaltungen die in der Geschäftsordnung geregelte Kluft zu tragen.
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>
                    <strong>6 Auflösung des Vereins</strong><br>
                    Über die Auflösung des Vereins entscheidet mit einstimmiger Mehrheit der Stammesrat. Das Vermögen der Körperschaft erhält in diesem Fall die gemeinnützig anerkannte Organisation „Pfadfinder Hilfsfond e.V.. Ansprüche der Mitglieder an das Vereinsvermögen sind ausgeschlossen.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>7 Änderung der Satzung</strong><br>
                    Anträge auf Änderung der Vereinssatzung können von jedem Stammesratsmitglied gestellt werden. Eine Änderung der Satzung gilt als angenommen, wenn sich eine 3/4 Mehrheit aller stimmberechtigten Stammesratsmitglieder dafür entscheidet.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>8 Geschäftsordnung</strong><br>
                    Die Geschäftsordnung der “Renchtäler Pfadfinder e.V. Stamm Jörg von Schauenburg“ ist die vereinsinterne organisatorische Grundlage des Vereins. In ihr sind die Satzungspunkte näher geregelt.
                </p>
                <p>&nbsp;</p>
                <p>
                    <strong>9 Inkrafttreten</strong><br>
                    Die Vereinssatzung tritt ab dem 03.12.2020 in Kraft. Damit sind alle bisherigen Satzungen ungültig.<br>
                    &nbsp;
                </p>
            </div>
        </div>
    </main>

    <%- include("../components/footer") %>
</body>
</html>
