<html lang="en">
<head>
    <title>Pfadfinder</title>
    <link rel="icon" href="./bilder/favicon.png" type="image/x-icon"/> <!--Favicon -->

    <link rel="stylesheet" href="style.css"/>
    <script src="./script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>             <!--Die Beiden linien importieren Icons -->

    <style>
        p {margin-left: 10px;}
        .backg {min-height: 0;}
    </style>
</head>
<body>
  <%- include("../components/modals") %>
  <%- include("../components/navbar", {redirect: "/Links"}) %><br/><br/>

                         <!--Hauptteil-->
    <div class="backg">
        <div class="txt">
            <h2>Pfadfinder Websiten</h2>
            <p><a href="http://www.dpvonline.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Deutscher Pfadfinder Verband (DPV)</a></p>
            <p><a href="http://psdonline.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Pfadfinderschaft Süddeutschland (PSD)</a></p>
            <p><a href="http://www.stamm-greif.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Pfadfinderhorst Greif e.V.&nbsp;(PSD)</a></p>
            <p><a href="http://pfadfinderstamm-schwarzer-adler.de/" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">Pfadfinderstamm Schwarzer Adler e.V. (PSD)</a></p>
            <p><a href="http://www.stamm-kondor.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Pfadfinderstamm Kondor (PSD)&nbsp;</a></p>
            <p><a href="http://www.stamm-treverer.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Stamm Treverer (PSD)&nbsp;</a></p>
            <p><a href="http://www.jugendbewegung.de/antares/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Pfadfinderbund Antares&nbsp;</a></p>
            <p><a href="http://www.pbhorizonte.de" title="Opens external link in new window" target="_blank" class="external-link-new-window">Pfadfinderbund Horizonte&nbsp;</a></p>


            <h2>Sonstige Jugendorganisationen</h2>
            <p><a href="http://hamburger-singewettstreit.de" title="Öffnet den Link in einem neuen Fenster" target="_blank" class="external-link-new-window">Webseite des Hamburger Singewettstreits</a></p>


            <h2>Renchtal und Umgebung</h2>
            <p><a href="http://www.oberkirch.de" title="Opens external link in new window" target="_blank" class="external-link-new-window">Stadt Oberkirch/Schwarzwald&nbsp;</a></p>
            <p><a href="http://www.oppenau.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Stadt Oppenau&nbsp;</a></p>
            <p><a href="http://www.strasbourg.com/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Stadt Strasbourg&nbsp;</a></p>
            <p><a href="http://www.schwarzwald.de/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Schwarzwald</a></p>


            <h2>Social Network</h2>
            <p><a href="http://www.youtube.com/user/RenchtalerPfadfinder" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window"><img src="./icons/YouTube.svg" style="filter: var(--iconFilter)"> YouTube</a></p>
            <p><a href="https://de-de.facebook.com/pfadis.org/" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window"><img src="./icons/facebook.svg" style="filter: var(--iconFilter)"> Facebook</a></p>
            <p><a href="https://www.instagram.com/renchtaelerpfadfinder" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window"><img src="./icons/instagram.svg" style="filter: var(--iconFilter)"> Instagram</a></p>
            <p>&nbsp;</p>


            <div class="separator"><h2>Haftungsausschluss</h2></div>
            <p>Unsere Seiten enthalten Links auf externe Webseiten Dritter. Auf die Inhalte dieser verlinkten Webseiten haben wir keinen Einfluss. Für die Richtigkeit der Inhalte ist immer der jeweilige Anbieter oder Betreiber verantwortlich, weshalb wir diesbezüglich keinerlei Gewähr übernehmen.</p>
            <p>&nbsp;</p>
         </div>
    </div>

    <%- include("../components/footer") %>
</body>
</html>
