<html lang="en">
<head>
    <title>Pfadfinder</title>
    <link rel="icon" href="./bilder/favicon.png" type="image/x-icon"/> <!--Favicon -->
    <link rel="stylesheet" href="style.css"/>      <!--Eigene Daten imporitieren -->
    <script src="./script.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    <!--Die Beiden linien importieren Icons -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

<style>
    .stammesbild {
        margin-right: 15px;
        margin-bottom: auto;
        width: 40%;
    }

    .stammesbildDiv {
        display: flex;
        width: 100%;
        height: auto;


    }

    .calendar {                            /* Kalender passt sich an die Bildschormgröße an */
        width: var(--mainWidth);
        height: 70vh;
        max-height: 500px;
        margin: var(--mainFontSize) 0px;
        filter: var(--calendarFilter);
        transition: var(--transitionTime);
    }

    #lilie {
      filter: var(--lilieFilter);
      transition: var(--transitionTime);
      user-select: none;
    }

    #lilie:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        opacity: 1;
    }
</style>


</head>
<body>
    <%- include("../components/modals") %>
    <%- include("../components/navbar", {redirect: "/Pfadfinder"}) %>

                          <!-- Hauptbild mit Text-->
    <div class="bg" style="height: 100%; background-image: url(./bilder/bg1.JPG);">
        <img src="./bilder/PSDlogo.png" id="lilie" style="cursor: default">
    </div>




    <main>                <!--Fließtext "Über den Stamm"-->
        <div class="txt">
            <h2 id="id1"> Über den Stamm</h2>
            <p class="blocksatz">Der Verein Renchtäler Pfadfinder e. V. — Stamm Jörg von Schauenburg — besteht seit 1951 im Renchtal im mittleren Schwarzwald. Jede Woche treffen sich ca. 200 Mädchen und Jungen zur Gruppenstunde in dem Pfadfinderheim in Oberkirch. Der eingetragene Verein ist interkonfessionell und parteipolitisch neutral und gehört der Pfadfinderschaft Süddeutschland und dem Deutschen Pfadfinderverband an. Die Alterstufe der Mitglieder ist von Wölflingen (6 Jahre) bis zu Altpfadfindern (keine Altersbegrenzung). Die Renchtäler Pfadfinder unternehmen neben den Gruppenstunden zahlreiche Lager und Fahrten, die sie schon durch ganz Deutschland, Europa und sogar nach Kanada gebracht haben. Nach der Tradition des Pfadfindergründers Baden-Powell pflegen die "Pfadis" unzählige Freundschaften mit anderen Pfadfinderinnen und Pfadfindern aus der ganzen Welt. Die Gruppe unterhält in Oberkirch ein relativ großes Pfadfinderheim welches angemietet werden kann. Weitere Infos gibt es hier. Außerdem gibt es eine Altpfadfindergruppe, in der sich die etwas älteren Mitglieder engagieren.</p>
            <br/>
            <div class="stammesbildDiv">
                <img class="stammesbild" src="./bilder/Stammesbild.jpg" onclick="onImgClick(this)"/>
                <p class="blocksatz">Seit einiger Zeit gibt es neben den Rovern auch noch die Altpfadfinder in unserem Stamm. Es handelt sich hierbei um die nicht mehr so aktiven Pfadfinder, die inzwischen in Deutschland und der ganzen Welt verstreut sind. Es fanden bereits mehrere Hikes sowie ein Lager in Kanada statt. Der Erfolg dieser Veranstaltungen sprach für sich, und neben zahlreichen kleinen bis mittleren Aktivitäten sind neue Lager geplant.</p>
            </div>

        </div>



        <br/>            <!-- Graue Zwischenlinie mit Infos -->
        <div class="statistikBalken">
            <div>
                <p class="bigText">250+</p>
                <p class="smallText">Mitglieder</p>
            </div>
            <div>
                <p class="bigText">150+</p>
                <p class="smallText">Aktive Mitglieder</p>
            </div>
            <div>
                <p class="bigText">7+</p>
                <p class="smallText">Sippen</p>
            </div>
            <div>
                <p class="bigText">3+</p>
                <p class="smallText">Meuten</p>
            </div>
        </div>
    </main>



                          <!--Überschrift Termine-->
    <div class="bg" id="id2"    style="background-image: url(./bilder/bg2.JPG)"><h3>TERMINE</h3></div>
    <main>                <!--Calender -->
        <iframe src="https://calendar.google.com/calendar/embed?wkst=2&amp;bgcolor=%23ffffff&amp;ctz=Europe%2FBerlin&amp;src=b3MzdWo4NnZibmRuZDA1aGE5MGdobHMzMWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%239E69AF&amp;showTitle=0&amp;showNav=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0"
                    class="calendar"
                    frameborder="0"
                    scrolling="no">
        </iframe>
    </main>



                          <!--Überschrift Kontakte -->
    <div class="bg" id="id3" style="background-image: url(./bilder/bg3.JPG)">  <h3>KONTAKTE</h3>   </div>
    <main>
        <h2>Der Vorstand der Renchtäler Pfadfinder e.V.</h2>
        <div class="txt">
            <table>
                <tr>
                    <th>Funktion</th>
                    <th>Name</th>
                    <th>E-Mail</th>
                </tr>
                <tr>
                    <td>1.Vorsitzender</td>
                    <td>Frederic Fies</td>
                    <td>Freddi@pfadis.org</td>
                </tr>
                <tr>
                    <td>Vorstand, Kasse</td>
                    <td>Mathias Busam</td>
                    <td>Mathias_B@pfadis.org</td>
                </tr>
                <tr>
                    <td>Vorstand</td>
                    <td>Elena Müller</td>
                    <td>Elena@pfadis.org</td>
                </tr>
                <tr>
                    <td>Vorstand</td>
                    <td>Hanna Huber</td>
                    <td>Hanna@pfadis.org</td>
                </tr>
                <tr>
                    <td>Vorstand</td>
                    <td>Luca Richter</td>
                    <td>Luca@pfadis.org</td>
                </tr>
                <tr>
                    <td>Vorstand</td>
                    <td>Tobias Mühl</td>
                    <td>Tobias@pfadis.org</td>
                </tr>
                <tr>
                    <td>Beisitzer</td>
                    <td>Jannik Schwab</td>
                    <td>Jannik@pfadis.org</td>
                </tr>
                <tr>
                    <td>Beisitzer</td>
                    <td>Jens Huber</td>
                    <td>Jens@pfadis.org</td>
                </tr>
            </table>
            <br/>

            <h2>Funktionäre</h2>
            <p><b>Matwart:</b> Luca Richter, Jannik Schwab und Tobias Mühl</p>
            <br>
            <p><b>Heimvermietung: </b> Jens Huber und Mathias Busam  (vermietung@pfadis.org)</p>
            <br>
            <p><b>Heimwart: </b>Philipp Müller, Manfred Kohler</p>
            <br>
            <p><b>Elternvertreter: </b>Annette Müller und Barbara Meier</p>
            <br>
            <p><b>Zuschüsse: </b>Jens Huber und Laura Braxmaier</p>
            <br>
            <p><b>Öffentlichkeitsarbeit: </b>Annette Müller, Frederic Fies und Jens Huber</p>
            <br>
        </div>
    </main>

    <%- include("../components/footer") %>
</body>
</html>
