<html lang="en">
<head>
    <title>Pfadfinder</title>
    <link rel="icon" href="./bilder/favicon.png" type="image/x-icon"/> <!--Favicon -->

    <link rel="stylesheet" href="style.css"/>

    <script src="./script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>             <!--Die Beiden linien importieren Icons -->

<style>
    p {
        margin: 5px auto;
    }
</style>


</head>
<body>
    <%- include("../components/modals") %>
    <%- include("../components/navbar", {redirect: "/Shop"}) %>

                   <!-- Hauptteil-->
     <header class="bg" style="background-image: url(bilder/bg5.JPG)">
            <div>
                <h1>SHOP</h1>
                <p>Beim Shop könnt ihr alles kaufen was ihr bei den Pfadfindern brauch. Unten befindet sich eine Liste. Der Shop befindet sich am Pfadiheim. Öffnungszeiten haben wir nicht. Mehr Informationen findet ihr unten.
                </p>
            </div>
    </header><br/>


    <div class="txt">
        <h2>Der Pfadishop</h2>

        <p><b>WO?</b> Der Shop befindet sich am Pfadiheim.<br/> </p>
        <p><b>ÖFFNUNGSZEITEN?</b> Es gibt keine festen Öffnungszeiten.<br/> </p>
        <p>Falls ihr etwas aus dem Shop benötigt bitte bei Manu (0173/8686861) melden!<br/> </p>
        <p><b>WER?</b> Die Shop beauftragten sind: Manuela Bergmaier und Amelie Englert<br/> </p>
        <p>Aber natürlich können euch auch die anderen Gruppenleiter helfen.<br/> </p>
        <p><b>WAS? </b>Von Abzeichen über Geschirr bis Tracht und Opinels haben wir alles.</p><br/>
        <br/><br/>
        <h2>Hier ist eine Preisliste von allen Sachen die ihr im Shop findet</h2>
        <br/><br/>
    </div>
    <div class="backg">
        <div class="txt" >
            <div class="separator"><h2>Abzeichen</h2></div>
            <div class="table">
                 <span class="tableColumn">
                     <p>Halstuch grün</p>
                     <p>Halstuch orange</p>
                     <p>Stammeshalstuch</p>
                     <p>Halstuchknoten geflochten</p>
                     <p>Halstuchknoten mit Druckknopf</p>
                     <p>Hemd NEU</p>
                     <p>Hemd gebraucht</p>
                     <p>T-Shirt</p>
                     <p>Polo-Shirt</p>
                     <p>Wolljuja NEU Gr. XS</p>
                     <p>Wolljuja NEU GR. S-L</p>
                     <p>Wolljuja NEU Gr. XL</p>
                     <p>Juja gebraucht</p>
                     <p>Takelbluse</p>
                     <p>AZB klein schwarz oder oliv</p>
                     <p>AZB groß schwarz oder oliv</p>
                </span>
                <span class="tableColumn">
                     <p>1,50€</p>
                     <p>2,50€</p>
                     <p>3,00€</p>
                     <p>2,00€</p>
                     <p>1,50€</p>
                     <p>20,00€</p>
                     <p>8,00€</p>
                     <p>8,00€</p>
                     <p>13,00€</p>
                     <p>60,00€</p>
                     <p>64,00€</p>
                     <p>68,00€</p>
                     <p>7,00€</p>
                     <p>27,00€</p>
                     <p>8,00€</p>
                    <p>12,00€</p>
                 </span>
            </div>


            <div class="separator"><h2>Abzeichen</h2></div>

            <div class="table">
                <span class="tableColumn">
                    <p>Bundeszeichen PSD</p>
                    <p>Stammesabzeichen</p>
                    <p>Jubiläumsabzeichen</p>
                    <p>Europaabzeichen</p>
                    <p>Wolfkopf</p>
                    <p>Lilie Hemd blau</p>
                    <p>Sternwolf (1 Stern)</p>
                    <p>Stammwolf (2 Strne)</p>
                    <p>Tüchtigkeitsprobeabzeichen</p>
                    <p>2. Grad Zeichen</p>
                </span>
                <span class="tableColumn">
                    <p>2,00€</p>
                    <p>1,50€</p>
                    <p>2,00€</p>
                    <p>1,00€</p>
                    <p>1,50€</p>
                    <p>1,50€</p>
                    <p>1,50€</p>
                    <p>1,50€</p>
                    <p>1,50€</p>
                    <p>1,50€</p>
                </span>
            </div>

        <div class="separator"><h2>Lagerutensilien</h2></div>

            <div class="table">
                <span class="tableColumn">
                    <p>Taschenmesser</p>
                    <p>Opinel Gr.6</p>
                    <p>Opinel Gr.7</p>
                    <p>Opinel Gr.8</p>
                    <p>Opinel Gr.9</p>
                    <p>Trinkflasche</p>
                    <p>Metallteller</p>
                    <p>Metalltasse klein</p>
                    <p>Metalltasse groß</p>
                    <p>Metallteller blau</p>
                    <p>Metallschüssel blau</p>
                    <p>Besteck</p>
                    <p>Laterne</p>
                </span>
                <span class="tableColumn">
                    <p>12,50€</p>
                    <p>7,50€</p>
                    <p>8,00€</p>
                    <p>8,50€</p>
                    <p>9,00€</p>
                    <p>6,00€</p>
                    <p>4,00€</p>
                    <p>3,50€</p>
                    <p>4,00€</p>
                    <p>4,50€</p>
                    <p>4,50€</p>
                    <p>5,00€</p>
                    <p>5,00€</p>
                </span>
            </div>

        <div class="separator"><h2>Bücher</h2></div>

            <div class="table">
                <span class="tableColumn">
                    <p>Wolfsgehäul</p>
                    <p>Kothenlied</p>
                    <p>Troll</p>
                    <p>Keiler</p>
                    <p>Spurenbuch</p>
                    <p>Probeheft 2. &amp; 3. Grad</p>
                </span>
                <span class="tableColumn">
                    <p>1,50€</p>
                    <p>1,50€</p>
                    <p>10,00€</p>
                    <p>12,00€</p>
                    <p>0,50€</p>
                    <p>1,00€</p>
                </span>
            </div>
        </div>
    </div>

    <%- include("../components/footer") %>
</body>
</html>
