<html>
<head>
	<title>Stammesratsitzung und neuer Vorstand</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2017/stammesratsitzung-und-neuer-vorstand"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Stammesratsitzung und neuer Vorstand</h2>
		<!-- date, author -->
		<h6>11/12/2017, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Am 29 November 2017 traf sich der Stammesrat der Renchtäler Pfadfinder. Es  wurden Termine und Aktionen für das kommende Jahr bekannt gegeben und  vorgestellt, Informationen aus der Pfadfinderschaft Süddeutschland  verkündet und ein neuer Vorstand gewählt.  </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2017/stammesratsitzung-und-neuer-vorstand/images/csm_DSC_4513_3bb85f10df.jpg" width="282" height="159" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Der neue Vorstand besteht nun aus Elena  Müller (1. Vorsitzende), Frederic Fies, Mathias Busam (Kasse), Mathias  Schmälzle, Christian Schoch und Katharina Knapps. Als Beisitzer wurden  Helen Meier und Luca Richter ernannt. Nach vielen Jahren im Vorstand  scheiden Laura Braxmaier und Jens Huber aus dem Vorstand aus. Sie werden  sich weiterhin im Hintergrund engagieren (Zuschüsse und  Öffentlichkeitsarbeit). Wir bedanken uns für ihre lange Arbeit im  Vorstand. 
</p><p>Jahresausblick auf 2018:                                                                                                                                                                        <br />Das Bundeslager wird  (voraussichtlich) in Bruchsal am zweiten Maiwochenende stattfinden. Das  Thema wird Mittelalter/Gummibärenbande sein. <br />Das Sommerlager ist im nächsten Jahr wieder ein deutsches Ziel und zwar Bayern. <br />Unser Stammeslager wird Anfang Oktober rund um Oberkirch stattfinden. <br />Anfang  und Mitte des Jahres finden wieder Pfadfinderaktionen statt, ein  Erste-Hilfe-Kurs für die Gruppenleiter, die Fahrt zum Hamburger  Singewettstreit und viele weitere kleine Aktionen.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>