<html>
<head>
	<title>Erfolgreiches Heimwochenende</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/erfolgreiches-heimwochenende"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Erfolgreiches Heimwochenende</h2>
		<!-- date, author -->
		<h6>20/04/2015</h6>
		<!-- teaser -->
		<p>Heim wurde entrümpelt und alles wurde gründlich geputzt</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/erfolgreiches-heimwochenende/images/csm_DSC05073_4e5530638c.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/erfolgreiches-heimwochenende/images/csm_DSC05077_277c7bb4a9.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/erfolgreiches-heimwochenende/images/csm_DSC05096_e70cea7509.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/erfolgreiches-heimwochenende/images/csm_DSC05120_cd84fe6be3.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am 18. April trafen sich einige Pfadis um das Pfadiheim aufzuräumen.
</p><p>Unteranderem wurde das Unkraut um das Heim entfernt, der Materialraum wurde aufgeräumt, unser Werkraum wurde ausgemistet und dort herrscht endlich wieder Ordnung, die Küche wurde richtig auseinandergenommen und alle Gruppen- und Schlafräume wurden gereinigt.
</p><p>Außerdem wurde unsere alte Dusche ausgebaut und noch weitere kleine Reparaturen wurden durchgeführt.
</p><p>Am Abend gab es dann Nürnbergerwürstchen und Stockbrot mit Salat&nbsp;am gemütlichen Lagerfeuer.
</p><p>Nach dem Essen fand dann noch eine Singerunde im Clubraum des Heimes statt.
</p><p>Wir hoffen nun, dass sich das Heim lange in seiner sauberen Pracht zeigen kann und jeder seinen Unrat gleich wieder wegräumt, den Müll immer runterbringt und an die Straße stellt, wenn Abfuhr ist und kein schumutziges Geschirr an den Spülbecken steht.
</p><p><br />Vielen Dank an alle, die geholfen haben und danke an alle, die das Heim auch weiterhin ordentlich halten.
</p><p>Gut Pfad
</p><p>Euer Vorstand
</p><p>Jens,&nbsp; Elli, Laura, Matze, Freddi, Flo, Chrischi, Helen &amp; Valeska
</p><p><br />P.S. Weitere Bilder findet ihr in der Bilder-Galerie unter &quot;Heimwochenende April&quot;</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>