<html>
<head>
	<title>Zeitungsartikel über SoLa in der Eifel online</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/zeitungsartikel-ueber-sola-in-der-eifel-online"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Zeitungsartikel über SoLa in der Eifel online</h2>
		<!-- date, author -->
		<h6>03/09/2014</h6>
		<!-- teaser -->
		
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>