<html>
<head>
	<title>Mühlentag bei der Ölmühle Walz</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2018/muehlentag-bei-der-oelmuehle-walz"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Mühlentag bei der Ölmühle Walz</h2>
		<!-- date, author -->
		<h6>21/05/2018, created by Jens Huber</h6>
		<!-- teaser -->
		<p> Heute sind wir am deutschen Mühlentag bei der <a href="https://www.facebook.com/pages/%C3%96lm%C3%BChle-Walz/629097373950641?fref=mentions" target="_blank" class="profileLink">Ölmühle Walz</a> in Oberkirch.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="http://www.facebook.com/pfadis.org"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/muehlentag-bei-der-oelmuehle-walz/images/csm_Muehlentag_bbbb7756cf.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Bei uns gibt es Kaffee, Kuchen und Waffeln.
</p><p> Wir freuen uns auf euren Besuch.</p><div class="text_exposed_show"><p> Übrigens die Ölmühle bietet heute auch einen Tag der offenen Tür mit Führungen durch die Mühle an.</p></div></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>