<html>
<head>
	<title>Fotoshooting anlässlich unseres Jubiläums</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/fotoshooting-anlaesslich-unseres-jubilaeums"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Fotoshooting anlässlich unseres Jubiläums</h2>
		<!-- date, author -->
		<h6>15/02/2011</h6>
		<!-- teaser -->
		<p>Deine Tracht ist im Top-Zustand, Du warst frisch beim Friseur und der letzte Kratzer ist veheilt? Dann komm auch Du am 13. März um 10 Uhr auf die Schauenburg!</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Für unser Foto-Shooting&nbsp;sind alle&nbsp;Meuten, Sippen, Rover und alle anderen Mitglieder von J. v. S. eingeladen.
</p><p>Also vormerken und&nbsp;vorbeikommen!
</p><p>&nbsp;</p><p>Ach ja... falls jemand noch was zur perfekten Tracht fehlt,&nbsp;der Shop hat am&nbsp;Dienstag (1. März)&nbsp;vor dem Foto-Termin von 18.00&nbsp;- 19.30 Uhr zusätzlich&nbsp;geöffnet.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>