<html>
<head>
	<title>Erntehelfer in der Corona-Krise</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/erntehelfer-in-der-corona-krise"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Erntehelfer in der Corona-Krise</h2>
		<!-- date, author -->
		<h6>04/05/2020, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Einige Pfadis helfen dem Obsthof Vogt</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/erntehelfer-in-der-corona-krise/images/csm_1_Erdbeerhhelfer_95e800097b.jpg" width="282" height="159" alt="" /></div><p class="news-img-caption">
Aus der Not eine Tugend gemacht: Oberkircher Pfadfinder halfen in den Erdbeerfeldern.
</p></div></div><div class="news-text-wrap" itemprop="articleBody"><p class="text-justify">Die Corona-Krise geht auch an den Oberkircher Pfadfindern nicht vorbei. Seit nunmehr sieben Wochen ist das Pfadfinderheim in der Stadtmattstraße verwaist. Wegen der Beschränkungen sind keine Gruppenstunden mehr möglich. Spontan entschlossen sich einige<br /> Mitglieder des Stammes Jörg von Schauenburg, als Erntehelfer einzuspringen. Karoline Vogt, selbst Mitglied des Oberkircher Stammes, hatte den Hilferuf abgesetzt, als plötzlich die Reisebeschränkungen zu verhindern drohten, dass die vertrauten Helfer aus Rumänien einreisen konnten. Immerhin ein knappes Duzend „Pfadis“ meldeten sich und konnten ihre ersten Erfahrungen auf einem im Wortsinn „fremden Feld“ machen.<br /> Die Anlernphase war kurz. Die Erntehelferinnen und Helfer mussten nicht nur lernen, wie man die Früchte an der „Sollbruchstelle“ direkt über dem Kelch abknickt, sondern auch Größe und Qualität zu taxieren. Zu kleine Erdbeeren oder Früchte mit üppig auswuchernden Wülsten kamen zu den „Marmeladenerdbeeren“. Und fünf Stunden gebückt auf den Erntewagen im Tunnel zu hocken, fuhr einigen anfangs ziemlich in den Rücken.<br /> Glücklicherweise durften dann doch einige professionelle Helfer aus Rumänien einreisen. Dabei zeigte sich allerdings auch der Unterschied im Arbeitstempo der geübten zu den neu angelernten Helfern. Letztlich war es aber ein Erfolg für alle und auch der Spaß bei der Arbeit kam nicht zu kurz.</p><p><br /> Wie sehr die gegenwärtigen Beschränkungen das soziale Leben des traditionellen Oberkircher Stammes beeinträchtigt, zeigt ein Blick in die nähere Zukunft. Es gibt wohl auch bei den Oberkircher Pfadfindern Bestrebungen, die ausgefallenen Gruppenstunden durch digitale Vernetzung zu überbrücken, doch diese Möglichkeiten haben Grenzen. Außerdem mussten alle geplanten Lager, die Höhepunkte eines Pfadfinderlebens, bis in den Sommer hinein abgesagt werden. Besonders schmerzlich ist dabei, dass ein geplanter Austausch mit russischen Jugendlichen um zwei Jahre verschoben werden musste. Die russischen Gäste wären in diesem Jahr zum Sommerlager der Pfadfinderschaft Süddeutschland (PSD) in der<br /> Nähe von Heilbronn eingeladen gewesen. Der Gegenbesuch, an dem auch Mitglieder des Oberkircher Stammes beteiligt sind, ist für drei Wochen im kommenden Jahr geplant. Ziel: die Stadt Tutajew, etwa 300 Kilometer nördlich von Moskau an der Wolga gelegen. Nun hoffen die Schauenburger, dass ihr Pfadfinderleben bald wieder in die reale Welt zurückkehren kann.</p><p>&nbsp;</p><p>Text von Rainer Braxmaier</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>