<html>
<head>
	<title>Fotoshooting auf der Schauenburg</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/fotoshooting-auf-der-schauenburg"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Fotoshooting auf der Schauenburg</h2>
		<!-- date, author -->
		<h6>15/05/2016</h6>
		<!-- teaser -->
		<p>Bitte Termin vormerken!!!! (Sonntag, den 24. Juli 2016 13 Uhr)</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Hallo liebe Wölflinge, Pfadfinder, Rover &amp; Eltern, 
</p><p>&nbsp;</p><p>wir werden in dieses Jahr wieder ein <b>Fotoshooting</b> durchführen, da die letzten Bilder aus dem Jahr 2011 sind.  Das muss dringend geändert werden. 
</p><p>Zu unserem 65.-jährigem Jubiläum ist das natürlich der perfekte Anlass. 
</p><p>Der Termin ist <b>Sonntag, der 24. Juli 2016</b> um 13 Uhr auf der Burgruine Schauenburg.
</p><p>Bitte kommt in <i>vollständiger Tracht und Halstuch</i>.
</p><p>Es werden Gruppenfotos und natürlich auch Stammesfotos gemacht. 
</p><p>&nbsp;</p><p>Bitte haltet euch deshalb diesen Sonntag frei. 
</p><p>&nbsp;</p><p>Bei Fragen könnt ihr euch an den Vorstand oder euren Gruppenleiter wenden.
</p><p>Danke!<br /> Euer Vorstand
</p><p><a href="typo3/mailto:typo3/mailto:vorstand@pfadis.org"><i>vorstand@pfadis.org</i></a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>