<html>
<head>
	<title>Kreisputzete</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2018/kreisputzete"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Kreisputzete</h2>
		<!-- date, author -->
		<h6>20/03/2018, created by Jens Huber</h6>
		<!-- teaser -->
		<p><span id="fbPhotoSnowliftCaption">Vergangenen Samstag, 17. März 2018, fand die 4. Ortenauer Kreisputzete statt. <br /> Laut Zeitungsberichten sollten 13.500 angemeldete Teilnehmer in der ganzen Ortenau für Ordnung schaffen.</span></p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="http://www.facebook.com/Pfadis.org"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/kreisputzete/images/csm_Kreisputzete_c303e74d33.jpg" width="282" height="166" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p><span id="fbPhotoSnowliftCaption"></span></p><div id="id_5b41e0ac71c020e73096980" class="text_exposed_root text_exposed"><p>Von uns waren 16 fleißige Helfer in Oberkirch am Start.<br /> Das Gebiet vom Renchtalblick in den Hesselbach wurde von den jungen Pfadfinder von Müll und Unrat befreit.<br /> Viele Plastik-Hundekotbeutel und Autoteile füllten nach der Aktion vier volle Müllsäcke.<br /><br />  Die Kreisputzete startete um 10 Uhr am Rathausplatz, wo alle mit  Warnwesten, Handschuhen und Müllsäcken ausgestattet wurden. Um 13 Uhr  war die vorgegebene Strecke wieder sauber und das Resume der Teilnehmer  war durchweg positiv. Es hat ihnen viel Spaß bereitet in der Gruppe die  Wege und Straßen zu reinigen.<br /><br /> Auch im nächsten Jahr wollen wir wieder dabei sein.</p></div><p>&nbsp;</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>