<html>
<head>
	<title>Informationsabend</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/informationsabend"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Informationsabend</h2>
		<!-- date, author -->
		<h6>20/01/2020, created by Jens</h6>
		<!-- teaser -->
		<p>Einladung zum Informationsabend am 07. Februar 2020</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Liebe Eltern und Mitglieder,</p><p><br /> wir laden euc recht herzlich zu unserem Informationsabend ein, um Ihnen einen Einblick in die Highlights des Jahres 2020 zu geben, wie z.B. das Pfingstlager, das Sommerlager des Bundes (Pfadfinderschaft Süddeutschland) in ganz Deutschland und dessen 45-jährigen Jubiläums, sowie unserem großen Jubiläum im nächsten Jahr.</p><p>&nbsp;</p><p>Außerdem möchten wir Sie über unsere allgemeine Jugendarbeit informieren und unsere Gruppenleiter vorstellen.</p><p>&nbsp;</p><p>Zum Abschluss stehen wir dann selbstverständlich für alle Fragen und Anregungen zur Verfügung.</p><p>&nbsp;</p><p>Zu diesem Elternabend wollen wir euch am 07. Februar 2020 um 18:30 Uhr im Besprechungsraum des Rendler Bauzentrums in Oberkirch (Korberger Matt 5, 77704 Oberkirch) einladen.</p><p>&nbsp;</p><p>Wir bittem um Rückmeldung beim Meuten- bzw. Sippenleiter oder direkt dem Vorstand (vorstand@pfadis.org) bis zum 05. Februar 2020 Bescheid, damit wir den Abend besser vorbereiten können.</p><p>Vielen Dank!</p><p><br /> Wir freuen uns, wenn wir euch deshalb zahlreich zu unserem Abend begrüßen dürfen!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>