<html>
<head>
	<title>Herbstseminar der Pfadfinderschaft Süddeutschland</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/herbstseminar-der-pfadfinderschaft-sueddeutschland"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Herbstseminar der Pfadfinderschaft Süddeutschland</h2>
		<!-- date, author -->
		<h6>28/11/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Das Herbstseminar der Pfadfinderschaft Süddeutschland im ehemaligen Waldhotel Palmspring in Bad Peterstal ist leider schon vorbei. Von Donnerstag, den 19.11. bis Sonntag konnten sich Pfadfinder und Gruppenleiter fortbilden und Spaß haben.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/herbstseminar-der-pfadfinderschaft-sueddeutschland/images/csm_DSC_1220_b524d1993c.jpg" width="282" height="159" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/herbstseminar-der-pfadfinderschaft-sueddeutschland/images/csm_2015-11-21_22.31.51_68e719de30.jpg" width="282" height="282" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/herbstseminar-der-pfadfinderschaft-sueddeutschland/images/csm_IMG_8043_b9dcb77d54.jpg" width="282" height="188" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Viele tolle, interessante und spannende Seminare liegen hinter den rund 70 Teilnehmern aus Baden-Württemberg und Rheinland Pfalz. Da gab es zum Beispiel das Basteln von Vogelvillen, Bumerang oder Wanduhren, das eigene Kartenspiel für das nächste Lager, ein Klettervormittag, Selbstverteidigung, Käse herstellen oder Feuer machen ohne Feuerzeug und Streichholz und verschiedenes mehr. Gekrönt wurde das Ganze am Samstagnachmittag, als es dann anfing zu schneien und den Wald um uns herum, in eine schöne weiße Winter-Landschaft verwandelt hat.
</p><p><br /> Außerdem gab es am gleichen Abend ein ausgiebig, großes 5 Gänge Menü aus lauter regionalen Zutaten, welches durch ein super Küchenteam zusammengestellt wurde. Das Zusammensein und Singen in großer Runde, an solch einem langen Wochenende ist etwas ganz Besonderes. 
</p><p>Vielen Dank an dieser Stelle an alle, die das Herbstseminar organisiert und Funktionen auf diesem übernommen haben, an alle Seminarleiter und natürlich an alle Teilnehmer.
</p><p>&nbsp;</p><p>Wir freuen uns schon jetzt auf das nächste Herbstseminar im Jahr 2016.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>