<html>
<head>
	<title>Singekreis/ -runde der Renchtäler Pfadfinder e.V.</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/singekreis-runde-der-renchtaeler-pfadfinder-e-v"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Singekreis/ -runde der Renchtäler Pfadfinder e.V.</h2>
		<!-- date, author -->
		<h6>06/12/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Jeden Dienstag von 19 - 21 Uhr</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p style="text-align:center"><span style="position: absolute; z-index:-3; left:0px; margin-left:278px; margin-top:7px; width:91px; height:60px"></span></p><p>Hallo singebegeisterte JvS‘ler,
</p><p><span style="position: absolute; z-index:-1; margin-left:449px; margin-top:57px; width:43px; height:61px"></span>wir möchten euch ab Dienstag, den <b>08. Dezember um 19:00</b> Uhr zu einem Singekreis im Pfadiheim einladen. <br /> Es sind natürlich alle eingeladen, die Freude am Singen haben, auch die, die es noch nicht können!
</p><p style="text-align:justify">Der Singekreis findet jeden Dienstag von 19:00 – 21: 00 Uhr statt.</p><p style="text-align:justify">An jedem ersten Dienstag im Monat ist eine große Singerunde, bei der sich jeder Lieder wünschen darf, geplant. </p><p>Wir freuen uns schon jetzt auf ein geselliges Beisammensein.<br /> Bitte verbreitet diese Information auch in euren Gruppenstunden.
</p><p><span style="position: absolute; z-index:-2; margin-left:267px; margin-top:13px; width:167px; height:116px"></span>Gut Pfad<br /> Helena, Helen, Manni und Jens</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>