<html>
<head>
	<title>Abfahrt zur Verdonschlucht</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/abfahrt-zur-verdonschlucht"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Abfahrt zur Verdonschlucht</h2>
		<!-- date, author -->
		<h6>29/07/2013</h6>
		<!-- teaser -->
		<p>am Freitag, den 26.07.2013 ging´s für 35 Pfadfinder der Renchtäler Pfadfinder nach Südfrankreich</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/abfahrt-zur-verdonschlucht/images/csm_IMG_2077_f4e995d82f.jpg" width="282" height="211" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Die Renchtäler Pfadfinder unternehmen jedes Jahr ein großes Sommerlager, das die Teilnehmer durch ganz Europa führt. 
</p><p>Dieses Jahr geht es für die Pfadfinder nach Südfrankreich zur Verdonschlucht in der Nähe der Stadt Castellane.
</p><p>Die 35 Teilnehmer wurden vor dem Lager in vier Gruppen aufgeteilt, die jede für sich eine eigene Route hat.
</p><p>Jede Gruppe darf mit ihrem Hajkführer die Aktionen (Kanu fahren, Raften, ...) und Routen selbst wählen.
</p><p>Nach 10 Tagen Hajk treffen sich die Gruppen auf einem kleinen Campingplatz und verbringen 4 Tage zusammen bis sie der Bus am Samstag wieder abholt.
</p><p>&nbsp;</p><p>Wir wünschen allen Pfadfindern, die auf dem Sommerlager dabei sind gutes Wetter, tolle Routen, schöne Erinnerungen und vor allem viel Spaß.
</p><p>Der Vorstand</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>