<html>
<head>
	<title>Stadtradeln in Oberkirch</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/stadtradeln-in-oberkirch"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Stadtradeln in Oberkirch</h2>
		<!-- date, author -->
		<h6>23/08/2020</h6>
		<!-- teaser -->
		<p>STADTRADELN ist ein Wettbewerb, bei dem es darum geht, 21 Tage lang möglichst viele Alltagswege klimafreundlich mit dem Fahrrad zurückzulegen. Dabei ist es egal, ob du bereits jeden Tag fährst oder bisher eher selten mit dem Rad unterwegs bist. Jeder Kilometer zählt – erst recht wenn du ihn sonst mit dem Auto zurückgelegt hättest.</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Die Stadt Oberkich nimmt dieses Jahr zum ersten Mal dabei teil und auch wir Pfadis haben uns als Team registriert.</p><p>Die Aktion beginnt in 16 Tagen und zwar vom <strong>07. bis 27. September 2020.</strong></p><p>&nbsp;</p><p><em><strong>Jetzt seid ihr gefragt:</strong></em></p><ol><li>Geht auf die Seite <a href="https://www.stadtradeln.de/oberkirch" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.stadtradeln.de/oberkirch&amp;source=gmail&amp;ust=1598266611187000&amp;usg=AFQjCNGc6dQn5R9fH-HCUj-EnTOFtUpF8Q">https://www.stadtradeln.de/oberkirch</a></li><li>klickt auf den grünen Button &quot;Hier registrieren&quot;</li><li>bei Kommune auswählen, wählt ihr Bundesland &quot;Baden-Württemberg&quot; und bei Kommune &quot;Oberkirch im Ortenaukreis&quot;.</li><li>Mit einem Klick auf &quot;Weiter&quot; gelangt ihr auf die Teamauswahlseite.</li><li>Hier wählt ihr &quot;Vorhandenem Team beitreten&quot; und wählt uns &quot;Renchtäler Pfadfinder e.V.&quot; aus.</li><li>Anschließend füllt ihr noch eure persönlichen Daten aus.</li></ol><p>&nbsp;</p><p>Für die Ausführung der Aktion ist es sinnvoll euch die <strong>App</strong> (<a href="https://www.stadtradeln.de/app" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.stadtradeln.de/app&amp;source=gmail&amp;ust=1598266611187000&amp;usg=AFQjCNGFEt7NeQaW7E4aMseizsH7J1cIrw">https://www.stadtradeln.de/app</a>) herunterzuladen, damit eure Kilometer immer direkt getrackt werden können.</p><p>&nbsp;</p><p>Wir freuen uns auf eine rege Anteilnahme von euch und stehen euch für Fragen gerne zur Verfügung.</p><p>&nbsp;</p><p>Vielen Dank für eure Unterstützung.</p><p>&nbsp;</p><p>Übrigens ihr müsst nicht in Oberkirch sein, um an der Aktion teilzunehmen.</p><p>Gerne dürfen auch eure Familienmitglieder und Freunde in unser Team einladen.</p><p>&nbsp;</p><p>&nbsp;</p><h4><em><strong>Hintergrund – Warum brauchen wir mehr Radverkehr?</strong></em></h4><p><strong>Kohlendioxid-Emissionen vermeiden</strong></p><ul><li>Etwa ein Fünftel der klimaschädlichen Kohlendioxid-Emissionen in Deutschland entstehen im Verkehr (Umweltbundesamt 2016).·&nbsp;&nbsp;</li><li>Im Jahr 2010 verursachten Pkws und Krafträder 79 % der Kohlendioxid-Emissionen im Personenverkehr (Statistisches Bundesamt 2013).</li><li>Etwa 7,5 Millionen Tonnen CO<sub>2</sub> ließen sich alleine in Deutschland vermeiden, wenn zirka 30 % der Kurzstrecken bis sechs Kilometer in den Innenstädten mit dem Fahrrad statt mit dem Auto gefahren werden (Bundesministerium für Verkehr, Bau und Stadtentwicklung 2002).</li></ul><p><strong>Radverkehrsanteil steigern</strong></p><ul><li>80 % der Haushalte in Deutschland besitzen ein Fahrrad, trotzdem liegt der Anteil aller Wege, die in Deutschland geradelt werden, durchschnittlich bei nur 10 % (Bundesministerium für Verkehr und digitale Infrastruktur, 2014).</li><li>Nach Angaben des Fahrrad-Monitor Deutschland 2015 sind rund 82 % der Deutschen zwischen 14 und 69 Jahren der Meinung, dass sich Entscheidungsträger*innen auf kommunaler Ebene stärker mit dem Thema Radverkehrsförderung beschäftigen sollten. Dabei sprechen sich die Befragten u.a. für den Bau von mehr Radwegen (63 %) und mehr Fahrradabstellanlagen (47 %) aus.</li></ul></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>