<html>
<head>
	<title>Die Gruppenstunden gehen wieder los :)</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/endlich-ist-es-soweit"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Die Gruppenstunden gehen wieder los :)</h2>
		<!-- date, author -->
		<h6>21/06/2020</h6>
		<!-- teaser -->
		<p>Liebe Mitglieder, endlich ist es soweit,
</p><p>&nbsp;</p><p>die Gruppenstunden können wieder beginnen. </p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Das heißt, dass ab dem <strong>22. Juni</strong> die Gruppenstunden für die Sippen wieder stattfinden können. Die Gruppenleiter werden die Mitglieder informieren.</p><p><strong>Hier nochmal die Dinge, die es zu beachten gilt:</strong> (Auszug aus unserem Hygienekonzept)</p><ul><li>Die Gruppenstunden finden <strong>nur bei gutem Wetter</strong> statt, da wir im Pfadfinderheim keinen Gruppenraum haben, der groß genug ist um den Mindestabstand zwischen den Gruppenkindern zu gewährleisten</li><li>Es muss ein <strong>Mund-Nasenschutz </strong>mitgebracht werden, falls der Mindestabstand nicht eingehalten werden kann</li><li>Bei Fieber, oder sonstigen <strong>Anzeichen einer Infektion</strong> muss derjenige <strong>zuhause bleiben</strong></li><li>Dasselbe gilt, sollte man 14 Tage vor der Gruppenstunde mit <strong>einer infizierten Person in Kontakt gewesen</strong> sein</li><li>Erhebung personenbezogener Daten (Anwesenheitslisten) Niemand ist gezwungen zu kommen, falls er Bedenken haben sollte bezüglich einer Infektion.</li></ul><p>Der Vorstand steht gerne bei Fragen zur Verfügung.</p><p>&nbsp;</p><p>Unser <a href="/fileadmin/redakteure/Bilder/Sonstige/20-06-07_Schutz-_und_Hygienekonzept_Renchtaeler_Pfadfinder_e.V..pdf" title="Schutz+Hygienekonzept" target="_blank">Schutz- und Hygienekonzept ist&nbsp;hier</a> einsehbar</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>