<html>
<head>
	<title>Herbstseminar</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/herbstseminar"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Herbstseminar</h2>
		<!-- date, author -->
		<h6>12/12/2016</h6>
		<!-- teaser -->
		<p>Das Herbstseminar der Pfadfinder fand vom 24. bis 27. November im Otto-Riethmüller-Haus im wunderschönen Weidenthal in der Pfalz statt.</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Das Herbstseminar der Pfadfinderschaft Süddeutschland e.V. ist eine jährlich stattfindende offene Pfadfinderschulung für jugendliche Gruppenleiter, junge und  junggebliebende Erwachsene. 
</p><p>&nbsp;</p><p>Knapp 70 Teilnehmer aus sechs verschiedenen Stämmen waren aus Koblenz, Bad Neuenahr-Ahrweiler, Bruchsal, Karlsruhe, Rottweil und Oberkirch angereist. 
</p><p>An vier Tagen wurden insgesamt 36 Seminare angeboten. 
</p><p>&nbsp;</p><p>Handwerkliches wie Nistkastenbau, ein ewiges Terrarium oder einen Rock nähen, Fotografie-Grundlagen, bauen und betreiben einer Schwitzhütte, Grundlagen im Bogenschießen, Fahrtenplanung oder besser durchblicken in Schlüsselfragen fürs Leben, die Macht der Worte, Rechtspopulismus, Erlebnispädagogik und Stockkampf konnten unteranderem gewählt werden. 
</p><p>&nbsp;</p><p>Dieses Jahr stand ganz unter dem Motto Essen, ob beim Arabisch /Persisch kochen oder bei der  Käseherstellung. 
</p><p>&nbsp;</p><p>Ein halbes Jahr durch Asien gab viele Einblicke in eine andere Kultur du wurde mit kulinarischen Leckereien untermalt. 
</p><p>&nbsp;</p><p>Verpflegt wurden die Pfadfinder von einem hervorragenden Küchenteam aus den eigenen Reihen der Oberkircher Pfadis, mit abschließendem 7 Gänge Menü am Samstagabend, das es mit jedem Sternerestaurant hätte aufnehmen können. 
</p><p>&nbsp;</p><p>Zum Abschluss wurde die kleine Grillhütte mit Planen in eine Jurte verwandelt, in welcher dann der Kälte zum Trotz bis in die frühen Morgenstunden zu Gitarren, Akkordeon und Kontrabass alte und neue Lieder zum Besten gegeben wurden. 
</p><p>&nbsp;</p><p>An dieser Stelle gilt nochmals ein großes Dankeschön an das Vorbereitungsteam, das zum erneuten Mal einen großartigen Job geleistet hat. 
</p><p>&nbsp;</p><p>Für´s nächste Jahr würden wir uns über eine größere Teilnahme von unserem Stamm wünschen. </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>