<html>
<head>
	<title>Das Jubiläum rückt näher!</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/das-jubilaeum-rueckt-naeher"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Das Jubiläum rückt näher!</h2>
		<!-- date, author -->
		<h6>28/03/2011</h6>
		<!-- teaser -->
		<p>Die Pfadfinder haben für die After-Show-Party eine Band organisiert! </p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>&quot;Bei Schlagsaite fanden sich 5 Musiker, die sich wider dem Zeitgeist noch in der Liedermacher- und Chanson-Tradition Hannes Waders oder Georges Brassens sahen, die jahrzehntealte Gedichte von Ringelnatz, Kästner oder Borchert vertonten und dennoch oder gerade deshalb ein wachsendes junges Publikum begeisterten.&nbsp;<br /><br />Die Gruppe reicherte diese musikalischen Traditionen mit Folk-, Balkan-, Gipsy-Swing- und Mestizo-Elementen an und schaffte mit Gitarre, Violine, Akkordeon und Kontrabass bei vielen Live-Auftritten den Spagat zwischen gefühlvollen Balladen und exzessivem Tanzvergnügen.&nbsp;&quot; 
</p><p>(Text von schlagsaite.com)
</p><p><a href="http://www.schlagsaite.com/" target="_blank">www.schlagsaite.com</a><br /><a href="http://www.myspace.com/dieschlagsaite" target="_blank">www.myspace.com/dieschlagsaite</a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>