<html lang="en">
<head>
    <title>Pfadfinder</title>
    <link rel="icon" href="./bilder/favicon.png" type="image/x-icon"/> <!--Favicon -->

    <link rel="stylesheet" href="style.css"/>    <!-- Importiert Eigenen sheets-->
    <script src="./script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>             <!--Die Beiden linien importieren Icons -->

<style>

</style>


</head>
<body>
    <%- include("../components/modals") %>
    <%- include("../components/navbar", {redirect: "/Template"}) %>

    <%- include("../components/footer") %>
</body>
</html>
