<html>
<head>
	<title>Unterstützung des Beräuner Treffen</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/unterstuetzung-des-beraeuner-treffen"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Unterstützung des Beräuner Treffen</h2>
		<!-- date, author -->
		<h6>23/05/2020</h6>
		<!-- teaser -->
		<p>Jedes Jahr im März treffen sich hunderte junge und junggebliebene Menschen in den romantischen wie geschichtsträchtigen Mauern der Burg der Jugendbewegung, um sich zu  begegnen, kennenzulernen, auszutauschen, gemeinsam zu musizieren, im sanglichen Wettstreit gegeneinander anzutreten und nicht zuletzt, um zu feiern.  Das soll auch - trotz COVID-19 und der damit verbundenen Probleme für gemeinnützige Einrichtungen - so bleiben. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/unterstuetzung-des-beraeuner-treffen/images/csm_Beraeuner-Logo_795bd619aa.png" width="282" height="355" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/unterstuetzung-des-beraeuner-treffen/images/csm_Beraeuner-Bahl_2017_01_2b84156655.jpg" width="282" height="188" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/unterstuetzung-des-beraeuner-treffen/images/csm_Beraeuner-Deiters_2018_30_b5a0dba312.jpg" width="282" height="188" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/unterstuetzung-des-beraeuner-treffen/images/csm_Beraeuner-Mann_2019_07_d208e0ce93.jpg" width="282" height="188" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/unterstuetzung-des-beraeuner-treffen/images/csm_csm_Beraeuner-Mann_2019_13_4329461b41_fa37d0c8bc.jpg" width="282" height="151" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Die Absage des Beräunertreffens 2020 war für viele nur der traurige Beginn einer Reihe von Einschränkungen, die unser aller Leben zurzeit prägen. Nicht nur unser Fest musste abgesagt werden, sondern auch all jene gemeinschaftlichen Unternehmungen, für die die Burg seit Beginn ihrer Nutzung durch die Jugendbewegung Raum schafft. Zu diesen Unternehmungen gehören schon lange nicht mehr nur bündische Veranstaltungen, auch Schulklassen und Vereine aller Art nutzen die besondere Atmosphäre der Burg, um Gemeinschaft zu erleben. Ihre Buchungen tragen dazu bei, dass uns ein Ort zur Verfügung steht, den wir mit bündischem Leben füllen können. Wie so viele andere kulturelle und gemeinnützige Einrichtungen ist damit auch die Jugendburg Ludwigstein durch die Maßnahmen zur Bekämpfung der Corona-Pandemie in arge finanzielle Bedrängnis geraten, sodass ihre Existenz in Form eines jugendbewegten Treffpunktes auf dem Spiel steht. Deswegen wollen wir ihr als Vorbereitungskreis des Beräunertreffens mit dieser Crowdfunding-Aktion unter die Arme greifen und unseren Begegnungsort erhalten.</p><p>&nbsp;</p><p>Den ausführlichen Spendenaufruf der Vereinigung Jugendburg Ludwigstein e.V. könnt Ihr <a href="https://www.burgludwigstein.de/mitmachen/burg/spenden-zum-erhalt-der-jugendburg" target="_blank" rel="nofollow noopener">hier </a>nachlesen.</p><p>&nbsp;</p><p><strong>Warum sollte jemand dieses Projekt unterstützen? </strong></p><p>&nbsp;</p><p>Die Ludwigstein existiert als Burg der Jugendbewegung bereits seit genau einhundert Jahren und ist ebenso lange einer der wichtigsten Treffpunkte für bündisches Leben. Das Beräunertreffen ist dort die zentrale Veranstaltung für die Bünde und lebt von der besonderen Atmosphäre, die unsere Burg ausmacht. Damit wir auch in Zukunft dieses bündische Leben gemeinsam in den Mauern der „Lu“ feiern können, muss dieser Ort erhalten bleiben.</p><p>&nbsp;</p><p><em><strong><a href="https://www.startnext.com/beraeuner" target="_blank">Bitte unterstütze das Beräuner Treffen unter https://www.startnext.com/beraeuner</a></strong></em></p><p>&nbsp;</p><p><em><strong>Vielen Dank! </strong></em></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>