<html>
<head>
	<title>Pfingstlager in Hauenstein</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/pfingstlager-in-hauenstein"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfingstlager in Hauenstein</h2>
		<!-- date, author -->
		<h6>24/05/2013, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Pfadfinder griffen Robin Hood unter die Arme</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/pfingstlager-in-hauenstein/images/csm_966225_553875624662698_279893677_o_1ea3ec94a5.jpg" width="282" height="141" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/pfingstlager-in-hauenstein/images/csm_375169_553877297995864_804119559_n_ff3c3fe1a8.jpg" width="282" height="165" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Beim Pfingstlager in Hauenstein, an dem über 200 Pfadfinder der Pfadfinderschaft Süddeutschland und des Pfadfinderbundes Antares teilnahmen, versetzten sich die Kinder und Jugendlichen in die Zeit von Robin Hood zurück. Schon im Vorfeld wurden Verkleidungen hergestellt und das Thema in den Gruppenstunden erarbeitet. Die meisten Lagerteilnehmer kamen aus Oberkirch und Umgebung, denn die Renchtäler Pfadfinder reisten mit 60 Wölflingen, Pfadfindern und Rovern im Bus an. 
</p><p>Für einige Wölflinge aus dem Stamm Jörg von Schauenburg war es das erste Zeltlager, deshalb haben sie zuerst mit Begeisterung die verschiedenen Zelte aufgebaut, in denen sie die nächsten drei Nächte schlafen konnten. Das Wetter war dann auch besser als vorhergesagt, so dass am Samstag bei Sonnenschein die Lagereröffnung stattfand, in der Robin Hood und Lady Marianne alle Pfadfinder freudig begrüßten. Allerdings wurde die fröhliche Runde plötzlich vom Sheriff getrübt, der verkündete, dass die Steuern erhöht werden müssen und somit alle zur Arbeit aufrief. Es blieb also nichts anderen übrig, als die Fertigkeiten der verschiedenen Berufsgruppen zu nutzen und fleißig Pfeil und Bogen zu bauen, Kissen zu nähen, Lederamulette herzustellen oder auch die gärtnerischen Fähigkeiten zu nutzen, um Pflanzkästen und Kressetüten zu bepflanzen. Die hergestellten Waren mussten dann mühevoll durch Feilschen an fahrende Händlern für möglichst viel Geld verkauft werden. Durch ein Unglück wurden die Schatzkisten dann allerdings geklaut und da sich alle gegenseitig hinter dem Attentat vermuteten, endete der Tag in einem spektakulären Geländespiel im angrenzenden Wald, in dem Burgen gebaut, Feinde ausspioniert und natürlich auch gekämpft wurde. Am Pfingstsonntag, nachdem auch noch Lady Marianne entführt wurde, waren sich dann alle einig, dass der Sheriff der Bösewicht ist und alle kamen zusammen, um sich für einen Kampf zu rüsten und ihre kämpferischen Fähigkeiten zu trainieren. Die Jungen und Mädchen wurden an Pfeil und Bogen ausgebildet, übten bei verschiedenen Spielen Kraft, Schnelligkeit, Wendigkeit und Ausdauer und waren am Mittag alle guter Dinge, dass sie es nun gemeinsam gegen den Sheriff aufnehmen können. Als sie dann tatsächlich von den schwarzen Männern angegriffen wurden kam es erneut zu einem Kampf im Wald und bei diesem Geländespiel gelang es den Pfadfinden endlich, Lady Marianne zu befreien und das gestohlene Geld zurück zu bekommen. Am Abend fand dann ein berauschendes Hochzeitsfest von Robin Hood und Lady Marianne in der großen Jurtenburg statt, in der dann alle 220 Pfadfinder ein Festmahl veranstalteten.&nbsp; Jeder Pfadfinderstamm trug dazu die feinsten Köstlichkeiten zu einem vielfältigen Buffet herbei und der Abend konnte mit Liedern und Spielen am Lagerfeuer in ausgelassener Stimmung ausklingen. 
</p><p>Nach dem die Renchtäler Pfadfinder die Zelte abgebaut haben und erschöpft, aber glücklich, wieder im Bus saßen, waren sich alle einig: Ein Zeltlager ist einfach der Höhepunkt im Pfadfinderjahr! Auch die jüngsten sechsjährigen Wölflinge sagten, nachdem das Heimweh erstmal besiegt war: „Das war voll das coole Lager und hat voll Spaß gemacht! Das nächste Mal geh ich wieder mit!“</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>