<html>
<head>
	<title>Forum zur Partnersippenfindung online</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/forum-zur-partnersippenfindung-online"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Forum zur Partnersippenfindung online</h2>
		<!-- date, author -->
		<h6>17/03/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Forum für das Finden der Partnersippen für das Sommerlager 2012
</p><p>&nbsp;</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Liebe Sipplinge,<br /><br />es wurde ein Forum für das Sommerlager 2012 in Slovenien eingerichtet, bei dem ihr euch als Sippe vorstellen könnt und eure passende Partnersippe finden könnt. <br /><br />Bitte <a href="http://slowenien2012.forendino.de/" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">hier</a> klicken um zum Forum zu gelangen.<br /><br />Viel Spaß beim Kennenlernen.<br /><br /></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>