<html>
<head>
	<title>Anmeldung für das Winterlager 2013</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/anmeldung-fuer-das-winterlager-2013"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Anmeldung für das Winterlager 2013</h2>
		<!-- date, author -->
		<h6>02/11/2013</h6>
		<!-- teaser -->
		<p>vom 25. - 27.12.2013 in Hinterzarten
</p><p>&nbsp;</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Das Winterlager findet wie jedes Jahr in Hinterzarten beim Feldberg statt.
</p><p>Achtung: Erst ab 18 Jahre!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>