<html>
<head>
	<title>Kreisputzete am 24. Oktober 2020</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/kreisputzete-am-24-oktober-2020"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Kreisputzete am 24. Oktober 2020</h2>
		<!-- date, author -->
		<h6>09/10/2020</h6>
		<!-- teaser -->
		<p>Die Kreisputzete 2020 konnte coronabedingt im Frühjahr nicht stattfinden. Die kreisweite Putz-Aktion wird aber nun im Oktober nachgeholt. Wir beteiligen uns auch diesmal an der Kreisputzete. Die Aktion findet am Samstag, den 24. Oktober 2020 statt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="/fileadmin/_processed_/7/a/csm_DSC06946_f439e05a18.jpg" title="Kreisputzete 2016" class="jnlightbox" rel="lightbox[myImageSet]"><img onclick="onImgClick(this)" itemprop="image" title="Kreisputzete 2016" src="/aktionen/2020/kreisputzete-am-24-oktober-2020/images/csm_DSC06946_037747999d.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Durch das Sachgebiet „Baurecht“ im Rathaus, das die Kreisputzte für Oberkirch organisiert, werden wieder Warnwesten, Schutzhandschuhe sowie Müllsäcke für die Teilnehmer der Aktion ausgegeben. Das Abfallwirtschaftsamt des Ortenaukreises honoriert, wie in den vergangenen Jahren die Teilnahme mit einem Vespergeld.</p><p>Damit die Aktion ein voller Erfolg nicht nur für die Umwelt wird, sind die aktuellen Hygiene- und Abstandsregeln der Landesregierung Baden-Württemberg und das<a href="/fileadmin/redakteure/Corona/Hygienekonzept_Kreisputzete_2020.pdf"> Hygienekonzept für die Kreisputzete</a> durch die Teilnehmer unbedingt einzuhalten.</p><p>Unser zugeteiltes Gebiet ist der <strong><em>Fahrradweg von Oberkirch nach Bottenau.</em></strong></p><p>Falls ihr Gartenhandschuhe zuhause habt, könnt ihr diese gerne mitbringen.</p><p>&nbsp;</p><p><strong>Termin der 5. Ortenauer Kreisputzete<br /> Samstag, den 24. Oktober 2020 von<br /> 10:00 bis ca. 14:00 Uhr<br /> Treffpunkt/Abholen ist am Pfadfinderheim</strong></p><p>&nbsp;</p><p>Bitte meldet euch bis <strong><em>spätestens 14. Oktober </em></strong>bei eurem Gruppenleiter oder dem Vorstand an. Die Zahl der Teilnehmer ist leider auf 20 Personen beschränkt!</p><p>&nbsp;</p><p>Wir freuen uns auf eure Teilnahme</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>