<html>
<head>
	<title>FUNDMATE Spendenaktion</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/fundmate-spendenaktion"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>FUNDMATE Spendenaktion</h2>
		<!-- date, author -->
		<h6>29/02/2020</h6>
		<!-- teaser -->
		<p>Hey du,
</p><p>ja genau dich meine ich! 
</p><p>&nbsp;</p><p>Hast du Interesse die Pfadinder etwas zu unterstützen, genauer unser Russland-Jugend-Austausch der Pfadfinderschaft Süddeutschland?
</p><p>&nbsp;</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement"><div class="mediaelement-video"><video width="282" height="159" controls><source src="/aktionen/2020/fundmate-spendenaktion/images/FUNDMATE-Video.mp4.mp4" type="video/mp4"></video></div></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Dann melde dich bei deinem Gruppenleiter oder bei <a href="mailto:jens@pfadis.org">jens@pfadis.org</a> und such dir im Produktmagazin von <strong>FUNDMATE</strong> was aus und nenn uns die Bestellnummer.</p><p>Das Produktmagazin findest du <strong><a href="/fileadmin/redakteure/2020_Produktmagazin_FUNDMATE.pdf">hier</a>.</strong></p><p>&nbsp;</p><p><strong>Bis zum 20. März</strong> hast du Zeit etwas zu bestellen.</p><p>Dann geht es ca. 1-2 Wochen und du bekommst deine Bestellung und musst erst dann bezahlen.</p><p>&nbsp;</p><p>Möchtest du noch mehr Infos kann Jens dir gerne Auskunft geben. Jens@pfadis.org oder 0151/17257273</p><p>&nbsp;</p><p>Falls du nichts zu bestellen findest, uns dennoch unterstützen möchtest, freuen wir uns auch gerne über eine Geldspende:</p><p>&nbsp;</p><p><strong>Spendenkonto der Renchtäler Pfadinder e.V.</strong></p><p>Bank: Sparkasse Offenburg/ Ortenau</p><p>IBAN: DE40 6645 0050 0006 1920 17</p><p>BIC: SOLADES1OFG</p><p>Verwendungszweck: Spende Jugendaustausch</p><p>&nbsp;</p><p>Wir bedanken uns im Namen der Renchtäler Pfadfinder und der Pfadfinderschaft Süddeutschland&nbsp; für deine Unterstützung.</p></div>
		<div class="news-related-wrap"><!-- related files --><div class="news-related news-related-files"><h4>Related Files</h4><ul><li><span class="news-related-files-link"><a href="/aktionen/2020/fundmate-spendenaktion/files/2020_Produktmagazin_FUNDMATE.pdf" target="_blank">2020_Produktmagazin_FUNDMATE.pdf</a></span><span class="news-related-files-size"> 3 MB</span></li><li><span class="news-related-files-link"><a href="/aktionen/2020/fundmate-spendenaktion/files/20-02-23_Elternbrief_FUNDMATE.pdf" target="_blank">Elternbrief FUNDMATE</a></span><span class="news-related-files-size"> 202 KB</span></li></ul></div></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>