<html>
<head>
	<title>Pfadiaktion</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2018/pfadiaktion"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfadiaktion</h2>
		<!-- date, author -->
		<h6>17/06/2018, created by Jens Huber</h6>
		<!-- teaser -->
		<p><a href="https://www.facebook.com/hashtag/wochenende?source=feed_text" target="_blank">#wochenende</a></p><p><a href="https://www.facebook.com/hashtag/freiheit?source=feed_text" target="_blank">#freiheit</a></p><p><a href="https://www.facebook.com/hashtag/schwarzwald?source=feed_text" target="_blank">#schwarzwald</a></p><p><a href="https://www.facebook.com/hashtag/blackforest?source=feed_text" target="_blank">#blackforest</a></p><p><a href="https://www.facebook.com/hashtag/wohlfühlen?source=feed_text" target="_blank">#wohlfühlen</a></p><p><a href="https://www.facebook.com/hashtag/scouts?source=feed_text" target="_blank">#scouts</a></p><p><a href="https://www.facebook.com/hashtag/pfadfinder?source=feed_text" target="_blank">#pfadfinder</a></p><p><a href="https://www.facebook.com/hashtag/oberkirch?source=feed_text" target="_blank">#oberkirch</a></p><p><a href="https://www.facebook.com/hashtag/hajken?source=feed_text" target="_blank">#hajken</a></p><p><a href="https://www.facebook.com/hashtag/view?source=feed_text" target="_blank">#view</a></p><p><a href="https://www.facebook.com/hashtag/baden?source=feed_text" target="_blank">#baden</a></p><p><a href="https://www.facebook.com/hashtag/zuhause?source=feed_text" target="_blank">#zuhause</a></p><p><a href="https://www.facebook.com/hashtag/übenfürssommerlager?source=feed_text" target="_blank">#übenfürssommerlager</a></p><p><a href="https://www.facebook.com/hashtag/geileswetter?source=feed_text" target="_blank">#geileswetter</a></p><p><a href="https://www.facebook.com/hashtag/steinbruch?source=feed_text" target="_blank">#steinbruch</a></p><p><a href="https://www.facebook.com/hashtag/zsmmn?source=feed_text" target="_blank">#zsmmn</a></p><p><a href="https://www.facebook.com/hashtag/einhotdoguntenamhafen?source=feed_text" target="_blank">#einhotdoguntenamhafen</a></p><p><a href="https://www.facebook.com/hashtag/heimat?source=feed_text" target="_blank">#heimat</a></p><p><a href="https://www.facebook.com/hashtag/deutschland?source=feed_text" target="_blank">#deutschland</a></p><p><a href="https://www.facebook.com/hashtag/germany?source=feed_text" target="_blank">#germany</a></p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="https://www.instagram.com/renchtaelerpfadfinder/"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/pfadiaktion/images/csm_Pfadiaktion_8964609304.jpg" width="282" height="148" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p> Folgt uns auf Instagram (<a href="http://(https://www.instagram.com/renchtaelerpfadfinder/" target="_blank">https://www.instagram.com/renchtaelerpfadfinder/</a>) und Facebook (<a href="http://(https://www.facebook.com/pfadis.org/" target="_blank">https://www.facebook.com/pfadis.org/</a>)</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>