<html>
<head>
	<title>Einladung zum Weihnachtsmarkt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/einladung-zum-weihnachtsmarkt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Einladung zum Weihnachtsmarkt</h2>
		<!-- date, author -->
		<h6>24/11/2016</h6>
		<!-- teaser -->
		<p>des Obst- und Spargelhof Wurth am zweiten Adventwochenende (Sa., 03. &amp; So., 04. Dezember 2017)</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/einladung-zum-weihnachtsmarkt/images/csm_16f5f31ec1_250818657a.jpg" width="282" height="200" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/einladung-zum-weihnachtsmarkt/images/csm_384ec6f16c_83029d4b2f.jpg" width="282" height="199" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Wir, von den Pfadfinder, werden wir jedes Jahr wieder Waffeln verkaufen und am Lagerfeuer Stockbrot anbieten. 
</p><p>Außerdem werden wir eine Bastelecke haben, in der wir mit den Kleinen weihnachtliche Deko basteln werden. Auf den besinnlichen Weihnachtsmarkt freuen wir uns sehr und laden euch deshalb recht herzlich ein. </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>