<html>
<head>
	<title>Schwarzbunt PIXEL</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/schwarzbunt-pixel"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Schwarzbunt PIXEL</h2>
		<!-- date, author -->
		<h6>22/05/2020</h6>
		<!-- teaser -->
		<p>Ein digtitales Lager in Zeiten von Corona</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/schwarzbunt-pixel/images/csm_logo_pixel-300x276_3d312205f9.png" width="282" height="260" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/schwarzbunt-pixel/images/csm_Folie1_e5db5fa8bf.png" width="282" height="282" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Das<strong> Schwarzbunt </strong>sollte Austausch und Begegnung zwischen den Bünden herstellen. Es sollte unvergessliche Momente der Freiheit und des gemeinsamen Erlebens schaffen. Bis das nun möglich wird, müssen wir uns noch ein wenig gedulden. Doch davon lassen wir uns nicht unterkriegen! Das Lagerplatzfeeling digital zu erleben, ist vielleicht eine zu große Herausforderung, doch ein digitaler bündischer Austausch lässt sich schon herstellen.</p><p>&nbsp;</p><p>Also freut euch auf schwarzbuntPIXEL:</p><p>&nbsp;</p><p>von Freitag, 22.05., bis Sonntag, 24.05., sind einige digitale Überraschungen für euch dabei.</p><p>&nbsp;</p><p>Also seid dabei! Wir sehen uns von der Couch aus.</p><p>&nbsp;</p><p>Alle Infos gibts unter: <a href="https://schwarzbunt.net/pixel/" target="_blank">https://schwarzbunt.net/pixel/</a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>