<html>
<head>
	<title>Kreisputzete und Meute Akela zu Besuch beim Roten Kreuz</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2013/kreisputzete-und-meute-akela-zu-besuch-beim-roten-kreuz"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Kreisputzete und Meute Akela zu Besuch beim Roten Kreuz</h2>
		<!-- date, author -->
		<h6>20/03/2013</h6>
		<!-- teaser -->
		<p>Hier gibt es die Zeitungsartikel der Kreisputzete und des Besuches der Meute Akela beim Roten Kreuz in Oberkirch. Viel Spaß beim Durchlesen.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2013/kreisputzete-und-meute-akela-zu-besuch-beim-roten-kreuz/images/newspaper-zeitung-icon.jpg" width="263" height="263" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>