<html>
<head>
	<title>3. Grad Waldlauf</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2018/3-grad-waldlauf"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>3. Grad Waldlauf</h2>
		<!-- date, author -->
		<h6>07/07/2018, created by Jens Huber</h6>
		<!-- teaser -->
		<p>#pfadfinder #proudtobeascout #prüfung #waldlauf #jungpfadfinder #nature #hiking #heimatliebe #blackforest #schwarzwald #ortenau #oberkirch</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="https://www.instagram.com/renchtaelerpfadfinder/"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/3-grad-waldlauf/images/csm_36828218_1948662081850705_4335934618214596608_n_69be73443e.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Folgt uns auf Instagram (<a href="http://(https://www.instagram.com/renchtaelerpfadfinder/" target="_blank">https://www.instagram.com/renchtaelerpfadfinder/</a>) und Facebook (<a href="http://(https://www.facebook.com/pfadis.org/" target="_blank">https://www.facebook.com/pfadis.org/</a>)</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>