<html>
<head>
	<title>Ein neuer Vorstand wurde gewählt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/ein-neuer-vorstand-wurde-gewaehlt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Ein neuer Vorstand wurde gewählt</h2>
		<!-- date, author -->
		<h6>01/12/2011</h6>
		<!-- teaser -->
		<p>Die Stammesratsitzung hat ihn am 1. Dezember bestätigt und neu gewählt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2011/ein-neuer-vorstand-wurde-gewaehlt/images/csm_Vorstand1_01_71a4047419.jpg" width="282" height="304" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Nun setzt sich der die Stammesführung wie folgt zusammen:
</p><p>Stammesführer: Manfred Kohler (Manni)
</p><p>Kassenwart: Mathias Schmälzle
</p><p>Stellvertreter: Karoline Vogt, Melanie Schröer, Jens Huber und Florian Hermann</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>