<html>
<head>
	<title>Die Pfadfinder aus dem Renchtal erlebten dieses Mal ein besonderes Sommerlager</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Die Pfadfinder aus dem Renchtal erlebten dieses Mal ein besonderes Sommerlager</h2>
		<!-- date, author -->
		<h6>14/09/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Die süddeutschen Pfadfinder  schlossen sich sippenweise (kleine Gruppe mit etwa 8-12 Personen) mit anderen Gruppen aus befreundeten Stämmen zusammen und gingen in unterschiedlichen Gebieten in ganz Deutschland auf Fahrt. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager/images/csm_DSC06422_43e38f6563.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager/images/csm_DSC06433_89d7897eaf.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager/images/csm_DSC06526_6261f472b1.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager/images/csm_Jubi_Uslar_9731fa0115.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/die-pfadfinder-aus-dem-renchtal-erlebten-dieses-mal-ein-besonderes-sommerlager/images/csm_PSD_Jubi_40_Jahre_f076e9a060.png" width="282" height="126" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Da ging es in die Sächsische Schweiz, nach Mecklenburg Vorpommern, den Chiemgau und <br />andere ins Allgäu.<br />Ab Sonntag den 09. August fuhren die jungen Pfadfinder mit vollgepackten Rucksäcken, <br />Kochgeschirr, Zeltmaterial und vielem Mehr, mit der Bahn in ihr Fahrtengebiet. Geschlafen <br />wurde je nach Wetterlage im Zelt oder man fragte sich nach einer Scheune, Hütte oder einem <br />Vereinsheim durch. Einige kamen&nbsp; bei der Feuerwehr unter, andere übernachteten bei netten <br />Leuten im Gartenhäuschen. 
</p><p><br />Strecke planen, einkaufen, kochen, baden, Kanu fahren und mit viel Spaß neue Landstriche <br />und Leute kennenlernen, stand auf ihrem Programm. <br />Gegen Ende des Sommerlagers trafen sich alle ausgeschwärmten Gruppen im Zentrum <br />Deutschlands, in Uslar bei Kassel auf einem idyllischen Landgut mit vielen Tieren und Platz <br />um sich auszutauschen, Geländespiele und Kochwettstreite zu bewältigen und ein prächtiges <br />Jubiläumslager ausklingen zu lassen. 40 Jahre Pfadfinderschaft Süddeutschland, kurz PSD, <br />mit Freunden und Gästen aus anderen Stämmen und Bünden wurde in einer feierlichen <br />Zeremonie bei Feuer, singen und Fackelumzug gefeiert.
</p><p><br /><b>INFO</b></p><p><br /><i>40 Jahre Pfadfinderschaft Süddeutschland</i></p><p><br />Die Pfadfinderschaft Süddeutschland, kurz PSD, besteht aus 5 Stämmen aus Rheinland Pfalz <br />und Baden-Württemberg. Von Bad Neuenahr-Ahrweiler bis runter nach Oberkirch, über <br />Dieblich bei Koblenz, Bruchsal und Karlsruhe.<br />1975 wurde der Bund bei Stuttgart gegründet und entwickelte sich seither stetig weiter. Die <br />aktuelle Bundesführer besteht aus Manuel Dany (Wooki), Andreas Schoch (Lui) und Carina <br />Kiesselbach. Der Sitz des Bundes ist in Oberkirch.<br />Die Stämme machen den Bund. So verschieden sie sind, so lebhaft und verschieden ist auch <br />die Pfadfinderschaft. Der Bund bietet eine gemeinsame Plattform für Austausch, <br />Unterstützung und das Erleben der Pfadfinderei im großen Rahmen. Das Tummeln zwischen <br />Fahrt und Lager, musischem und sozialem Engagement und die Arbeit im DPV ist das, was <br />Spaß macht.
</p><p>&nbsp;</p><p>&nbsp;</p><p>Ein Zeitungsartikel der Acher-Rench-Zeitung könnt ihr <a href="/fileadmin/redakteure/Bilder/Gruppen/Gruppenfoto-Sippe-Skorpione_01.jpg" title="Leitet Herunterladen der Datei ein" class="download">hier</a> nachlesen.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>