<html>
<head>
	<title>Sparkassen Vereinswettbewerb</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/sparkassen-vereinswettbewerb"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Sparkassen Vereinswettbewerb</h2>
		<!-- date, author -->
		<h6>06/05/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Sonntag, 06.05.2012 um 15 Uhr am Pfadiheim Oberkirch!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/sparkassen-vereinswettbewerb/images/csm_verein_a99487a4a1.jpg" width="282" height="142" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Hallo liebe Wölflinge, Pfadfinder &amp; Freunde,<br /><br /> die Sparkasse Offenburg/Ortenau hat eine richtig coole Aktion zu ihrem Jubiläum ins Leben gerufen, an der wir unbedingt mit EUCH mitmachen wollen! Man kann dabei einen (von acht) roten Kombis gewinnen, den wir Renchtäler Pfadfinder natürlich super gebrauchen könnten!!!<br /><br /> So ein Kombi wäre ideal für Lager, Gruppenstunden, Aktionen und natürlich genauso für den Transport von Gepäck oder auch für die Kids, wenn zum Beispiel eine Sippe einen Ausflug machen möchte oder mitten in die Natur fahren, um dort Orientierung und Kompass zu lernen.<br /><br /> Wenn man diesen Kombi gewinnen möchte, muss man ein 3-minütiges Video drehen zum Thema „Warum gerade WIR einen Kombi brauchen“! Da wir viele kreative Köpfe in unserem Verein haben, fällt uns da sicher was Gutes ein! <br /><br /> Wir treffen uns zum „Filmdreh“ diesen Sonntag, den 6. Mai um 15 Uhr am Pfadfinderheim in Oberkirch. Bitte kommt alle in Tracht, möglichst mit Wanderschuhen und bringt eure AZB-Taschen und wenn möglich große (mit Zeitung o.ä. ausgestopfte) Rucksäcke mit!<br /><br /> Um die Vergabe der acht Personentransporter entscheidet im Zeitraum vom 18. Juni bis 8. Juli 2012 über die 25 Finalteilnehmer zunächst die Öffentlichkeit durch Stimmabgabe im Internet. <br /><br /> Hier müsst ihr dann allen Freunden, Bekannten, etc. weitersagen, dass sie für UNS stimmen sollen! Die endgültige Entscheidung, welche Vereine die acht Personentransporter erhalten, entscheidet im Zeitraum vom 9. bis 13. Juli 2012 eine von der Sparkasse Offenburg/Ortenau ausgewählte Jury.<br /><br /> Wir freuen uns auf einen tollen Sonntag-Film-Nachmittag <br /> und auf euch!!!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>