<html>
<head>
	<title>SoLa in Slowenien</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/sola-in-slowenien"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>SoLa in Slowenien</h2>
		<!-- date, author -->
		<h6>18/08/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Die PSD führte das Sommerlager nach Slowenien!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/sola-in-slowenien/images/csm_P1070113_052dcefcdc.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p> Der Höhepunkt im Pfadfinderleben der Renchtäler Pfadfinder ist das alljährliche Sommerlager. Slowenien sollte dieses Jahr das Ziel sein. Zwei Wochen (27. Juli bis 11 August 2012) stürmten sie Gipfel oder durchwanderten das Socatal im Triglav Nationalpark. In diesem Jahr war ein besonderes Sommerlager. Die gesamte Pfadfinderschaft Süddeutschland (PSD) fuhr in zwei Bussen zum Fahrtenziel. Die Pfadfinder wurden an unterschiedlichen Stellen ausgesetzt. Bereits vor dem Sommerlager hatte sich jede Sippe eine Partnersippe aus einem anderen Stamm ausgesucht, mit der sie zusammen den Nord-Westen Sloweniens entdecken konnte. 
</p><p>„Hajk“ nennen die Pfadfinder das Wandern mit Zelt, Proviant und großem Rucksack. Dabei benutzen sie Karte und Kompass. Nach zehn Tagen trafen sich alle Gruppen wieder auf einem Zeltplatz in Trenta, im Herzen des Nationalparks. Dort konnten sie die letzten Tage ausspannen oder verschiedene Unternehmungen starten, wie die Nachbarstadt Bovec besichtigen oder zur Socaquelle zuwandern. „Es hat uns allen sehr gut gefallen, und wir konnten viele neue Freundschaften schließen“, so ein begeisterter Pfadfinder. Ein anderer Jungpfadfinder bemängelte: „Leider haben wir keinen echten Bären gesehen.“ Immerhin trafen zwei Hajkgruppen auf die Überreste eines Wolfes. 
</p><p>Solch ein Bundessommerlager findet nur alle 5 bis 6 Jahre statt. Ab der Pfadfinderstufe, also ab 11 Jahren dürfen alle teilnehmen. Es treffen sich dann Pfadfinder aus Dieblich bei Koblenz, Bad Neuenahr-Ahrweiler, Bruchsal, Karlsruhe und Oberkirch, die gemeinsam die fremden Länder bereisen. Vom Stamm Jörg von Schauenburg waren rund 30 Mitglieder dabei. Wie tief sich die Freundschaften inzwischen entwickelt haben, sah man daran, dass es wenige Tage nach Ende der Reise die ersten Nachtreffen stattfanden.&nbsp;&nbsp; 
</p><p>&nbsp;</p><p><i>Text von Laura Braxmaier</i></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>