<html>
<head>
	<title>Steine für den Zusammenhalt</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/steine-fuer-den-zusammenhalt"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Steine für den Zusammenhalt</h2>
		<!-- date, author -->
		<h6>05/05/2020, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Corona-Steine selbst gestalten</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="/fileadmin/_processed_/c/b/csm_WhatsApp_Image_2020-05-04_at_19.27.35_0fd4a2e8fb.jpeg" title="" class="jnlightbox" rel="lightbox[myImageSet]"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/steine-fuer-den-zusammenhalt/images/csm_WhatsApp_Image_2020-05-04_at_19.27.35_cd989d8841.jpeg" width="282" height="376" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Liebe Pfadfinder, Wölflinge und Eltern,</p><p><br /> ihr habt sicherlich schon die vielen schönen Steine entlang der Rench oder an anderen Stellenentdeckt. Wir wollen euch dazu animieren euch daran zu beteiligen.<br /> Malen hat eine meditative wie entspannende Wirkung auf den Körper, regt die Kreativität an und trainiert gleichzeitig das räumliche Vorstellungsvermögen sowie die Konzentrationsfähigkeit. Egal ob für Kinder oder Erwachsene.<br /> Die dreidimensionalen Kunstwerke können als dekorative Stilelemente in Haus und Garten eingesetzt werden – oder eine wichtige Botschaft vermitteln. So wie in bei uns an der Rench.<br /> Viele Oberkircher, große wie kleine, haben dutzende Steine bemalt und als Zeichen der Gemeinschaft in der Corona-Krise nebeneinander aufgereiht. Jeder ist dazu eingeladen, sich an der Aktion zu beteiligen und noch mehr Steine zu bemalen – damit die Schlange immer länger wird.</p><ol><li>Sammelt draußen eine Handvoll Steine, die schön flach und rund sind – es sei denn, ihr habt bereits ein bestimmtes Motiv im Kopf (beispielsweise eine Kohte, unser Pfadfinderlogo, ein Lagerfeuer, eine Gitarre, …), für das ihr ein eckiges oder ovales Format benötigt.</li><li>Bevor ihr die Steine bemalt, ist es wichtig, alle Dreck- und Schmutzpartikeln mit einer feinen Bürste zu entfernen – damit die Oberflächen anschließend schön sauber und glatt sind, sodass die Farben besser daran haften bleiben.</li><li>Legt ausreichend Zeitungspapier unter die Steine, bevor Sie mit dem Malen beginnt. Je nachdem, für welche Motive ihr euch entscheidet, könnt ihr die Oberflächen im Vorfeld weiß grundieren – dann leuchten die Farben stärker.</li><li>Zum Bemalen der Steine eignen sich Öl- und Acrylfarben besonders gut. Es gibt auch spezielle wasserfeste Stifte und Metallic Marker, mit denen ihr feinere Striche und Linien zeichnen könnt als mit einem Pinsel.</li><li>Damit die kleinen Kunstwerke jedem Wetter standhalten und keine Farbe verlieren, ist es wichtig, die Steine mit einem transparenten Klarlack zu besprühen – durch Sonnenstrahlen und Regen würden die Motive sonst verblassen.</li></ol><p>Gerne könnt ihr uns Bilder von euren Steinen an der Rench schicken, wir werden mit diesen dann auf unser Homepage und in Social Media eine Collage erstellen. Wir freuen uns auf eure selbstgemalten Steine.</p><p><br /> Wir wünschen euch viel Spaß beim Basteln der Steine und freuen uns über eine lange Schlange der Steine an der Rench.</p><p><br /> Bleibt bitte alle gesund. Wir können es kaum erwarten mit euch wieder richtige Gruppenstunden machen zu dürfen.</p><p>&nbsp;</p><p>Mit einem herzlichen Gut Pfad,<br /> Jens Huber<br /> Vorstand</p></div>
		<div class="news-related-wrap"><!-- related files --><div class="news-related news-related-files"><h4>Related Files</h4><ul><li><span class="news-related-files-link"><a href="/aktionen/2020/steine-fuer-den-zusammenhalt/files/20-05-05_Rench-Steine.pdf" target="_blank">20-05-05_Rench-Steine.pdf</a></span><span class="news-related-files-size"> 436 KB</span></li></ul></div></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>