<html>
<head>
	<title>Tag für´s Heim</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/tag-fuer-s-heim"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Tag für´s Heim</h2>
		<!-- date, author -->
		<h6>12/04/2016, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Letztes Wochenende trafen sich ca. 20 Pfadfinder, davon etwa 15 Wölflinge (Kinder im Alter von 6-12 Jahren), um unser Pfadfinderheim auf Vordermann zu bringen. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/tag-fuer-s-heim/images/csm_12938322_1146030148780573_1945662725282246876_n_5e714c56f2.jpg" width="282" height="159" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/tag-fuer-s-heim/images/csm_12963348_1146030135447241_5488598486502222921_n_1d98ad33c7.jpg" width="282" height="159" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Es wurde gesaugt, geputzt, gewischt, gefegt, Unkraut entfernt, Regale repariert, alte Sachen aussortiert und viele weitere kleine Reparaturen durchgeführt. 
</p><p> Natürlich wurde bei dem schönen Wetter auch draußen gespielt und am Samstagabend gab es dann Gegrilltes mit Nudelsalat und Baguette. </p><div class="text_exposed_show"><p> Vielen Dank für die tolle Hilfe und wir hoffen, dass beim nächsten Mal wieder so viele (vielleicht auch mehr) dabei sind.</p></div></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>