<html>
<head>
	<title>Pfadfinderaktion in der Wutachschlucht</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/pfadfinderaktion-in-der-wutachschlucht"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfadfinderaktion in der Wutachschlucht</h2>
		<!-- date, author -->
		<h6>14/07/2015, created by Jens Huber</h6>
		<!-- teaser -->
		
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><a href="/fileadmin/_processed_/0/f/csm_DSC06199_f3a3e3217f.jpeg" title="" class="jnlightbox" rel="lightbox[myImageSet]"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/pfadfinderaktion-in-der-wutachschlucht/images/csm_DSC06199_a54bd39380.jpeg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><a href="/fileadmin/_processed_/4/4/csm_DSC06202_b9b6f21b15.jpeg" title="" class="jnlightbox" rel="lightbox[myImageSet]"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/pfadfinderaktion-in-der-wutachschlucht/images/csm_DSC06202_ddc4c6113f.jpeg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am&nbsp; ersten Juliwochenende brachen einige Renchtäler Pfadfinder in die Wutachschlucht auf. Auch 30 Grad im Schatten konnten sie nicht abschrecken. Am Samstag Morgen fuhren sie nach Friedenweiler, um mit vollgepackten Hajkrucksäcken die Rötenbachklamm entlang zu klettern und gegen Mittag an der Wutach zu rasten. Vorbei am Räuberschlössle, einem gewaltigen Fels, der Schattenmühle und tropischen Moosduschen kamen sie nach dem bezwingen der Felsengalerie an ihrem Schlafplatz an. Alle schnippelten und kochten ein leckeres Essen und machten ein großes Lagerfeuer mit Singerunde. Am nächsten Morgen ging es gestärkt weiter zur Wutachmühle. Die Pfadfinder gingen es am Sonntag etwas entspannter an, hatten sie doch schon über die Hälfte der Strecke geschafft. Immer wieder machten sie kleine Pausen und erfrischten sich am kühlen Wasser der Wutach. Entlang dem schmalen Pfad der Gauchachschlucht erreichten sie am Nachmittag Döggingen und fuhren zurück nach Oberkirch. Am Pfadfinderheim erwarteten sie noch weitere Stammesmitglieder und so konnte die Action mit einem geselligen Grillabend abgeschlossen werden.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>