<html>
<head>
	<title>DPV goLd</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/dpv-gold"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>DPV goLd</h2>
		<!-- date, author -->
		<h6>30/05/2020</h6>
		<!-- teaser -->
		<p>Im Sommer diesen Jahres feiern wir den goLdenen Geburtstag des Deutschen Pfadfinderverbandes – 50 Jahre DPV.
</p><p>50 (oder römisch: L) Jahre – da kann man schon mal die Sau rauslassen.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/dpv-gold/images/csm_Bild_dpvonline-1024x576_1ddf5e110a.png" width="282" height="159" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Und genau das wollen wir auch tun: mit einem Lager mit viel Spaß, auf jeden Fall Go<strong>L</strong>d, Gesang, Konfetti, kulinarischen Genussexplosionen, guten Freunden, natürlich auf Burg Ludwigstein und ach ja: in goLd – und selbstverständlich mit Dir!</p><p>&nbsp;</p><p>Die Sause wird vom 11.-13. September 2020 stattfinden – ein Termin, den man sich auf alle Fälle im Kalender vormerken sollte! – und die Planungen laufen schon auf Hochtouren. Es werden Tage, in denen sich kurzweiliges Programm, ausschweifende Festlichkeiten, Begegnung, Spaß und Feuerwerk in dichtem Takt abwechseln – natürlich mit allen Freiheiten: Wähle zwischen verschiedenen Anreisemöglichkeiten oder ob dir z.B. ein Chinesischer Kochkurs oder – was weiß ich – der Bau einer goLdenen Pionier-Hüpfburg mehr zusagt.<br /> Da wird jeder auf seine Kosten kommen!</p><p>&nbsp;</p><p>Bist du dabei?<br /> Dann sehen wir uns…</p><p>&nbsp;</p><p>Wann: 11.-13. September 2020</p><p>&nbsp;</p><p>Wo: Jugendburg Ludwigstein in Hessen</p><p>&nbsp;</p><p>Was: DPV goLd</p><p>&nbsp;</p><p>Wer: Alle (Gruppenleiter/Führungsebene), ab 16 Jahre</p><p>&nbsp;</p><p>Wie: mit ganz viel goLd!!!</p><p>&nbsp;</p><p>Anmeldeschluss: 21. Juni 2020</p><p>&nbsp;</p><p>ACHTUNG: ggf. kann das Lager noch kurzfristig abgesagt werden.</p><p>&nbsp;</p><p>Wir halten euch auf dem Laufenden.</p></div>
		<div class="news-related-wrap"><!-- related files --><div class="news-related news-related-files"><h4>Related Files</h4><ul><li><span class="news-related-files-link"><a href="/aktionen/2020/dpv-gold/files/20-05-29_Anmeldung_DPV_Gold.pdf" target="_blank">20-05-29_Anmeldung_DPV_Gold.pdf</a></span><span class="news-related-files-size"> 837 KB</span></li></ul></div></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>