<html>
<head>
	<title>Stammeschor</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/stammeschor"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Stammeschor</h2>
		<!-- date, author -->
		<h6>03/03/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Der Stammeschor trifft sich wieder zu Singerunden. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/stammeschor/images/csm_pfadichor2_1640d9ba5b.jpg" width="282" height="101" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Nährere Infos gibt's hier.
</p><p>[<a href="/der-stamm/singerunde" title="Öffnet internen Link im aktuellen Fenster" target="_top" class="internal-link">KLICK</a>]</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>