<html>
<head>
	<title>FUNDMATE Spendenaktion - Die Zweite</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/fundmate-spendenaktion-die-zweite"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>FUNDMATE Spendenaktion - Die Zweite</h2>
		<!-- date, author -->
		<h6>29/09/2020</h6>
		<!-- teaser -->
		<p>Hey du,
</p><p>ja genau dich meine ich! 
</p><p>&nbsp;</p><p>Hast du Interesse die Pfadfinder etwas zu unterstützen und suchst noch das ein oder andere Weihnachtsgeschenk? 
</p><p>&nbsp;</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement"><div class="mediaelement-video"><video width="282" height="159" controls><source src="/aktionen/2020/fundmate-spendenaktion-die-zweite/images/FUNDMATE-Video.mp4.mp4" type="video/mp4"></video></div></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Dann melde dich bei deinem Gruppenleiter oder beim Koordinator Jens (<a href="mailto:jens@pfadis.org">jens@pfadis.org</a>) und suche dir im Produktmagazin von <strong>FUNDMATE</strong> was aus und nenn uns die Bestellnummer.</p><p>Das Produktmagazin findest du <strong><a href="/fileadmin/redakteure/Briefe/2020-09_Produktmagazin.pdf">hier.</a></strong></p><p>&nbsp;</p><p><strong>Bis zum 09. November 2020</strong> hast du Zeit etwas zu bestellen.</p><p>Dann geht es ca. 1-2 Wochen und du bekommst deine Bestellung noch vor Weihnachten und musst erst dann bezahlen.</p><p>&nbsp;</p><p>Falls du nichts zu bestellen findest, uns dennoch unterstützen möchtest, freuen wir uns auch gerne über eine Geldspende:</p><p>&nbsp;</p><p><strong>Spendenkonto der Renchtäler Pfadfinder e.V.</strong></p><p>Bank: Sparkasse Offenburg/ Ortenau</p><p>IBAN: DE40 <a href="tel:6645" title="1920" target="0050" class="0006">6645 0050 0006 1920</a> 17</p><p>BIC: SOLADES1OFG</p><p>Verwendungszweck: Spende</p><p>&nbsp;</p><p>&nbsp;</p><p>Wir bedanken uns für deine Unterstützung.</p></div>
		<div class="news-related-wrap"><!-- related files --><div class="news-related news-related-files"><h4>Related Files</h4><ul><li><span class="news-related-files-link"><a href="/aktionen/2020/fundmate-spendenaktion-die-zweite/files/20-09-29_Elternbrief_Fundmate.pdf" target="_blank">20-09-29_Elternbrief_Fundmate.pdf</a></span><span class="news-related-files-size"> 205 KB</span></li><li><span class="news-related-files-link"><a href="/aktionen/2020/fundmate-spendenaktion-die-zweite/files/2020-09_Produktmagazin.pdf" target="_blank">2020-09_Produktmagazin.pdf</a></span><span class="news-related-files-size"> 2 MB</span></li></ul></div></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>