<html>
<head>
	<title>Neuer Vorstand</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/neuer-vorstand"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Neuer Vorstand</h2>
		<!-- date, author -->
		<h6>03/12/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Am 01. Dezember wurde ein neuer Vorstand gewählt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/neuer-vorstand/images/csm_P1010070_bc20f9c862.jpg" width="282" height="189" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/neuer-vorstand/images/16-01-28_Vorstandswechsel.pdf" width="0" height="0" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Bei der diesjährigen Stammesratsitzung (Generalversammlung) am 01. Dezember 2015 wurde unteranderem ein neuer Vorstand, durch die Mitglieder im Stammesrat, gewählt.
</p><p>Elena Müller ist nun 1. Vorsitzende/ Stammesführerin<br />Weiter Mitglieder des Vorstands sind Mathias Schmälzle (Kasse), Laura Braxmaier, Christian Schoch, Frederic Fies &amp; Jens Huber<br />Beisitzer sind Helen Meier &amp; Valeska Müller<br />Elternvertreter sind weiterhin Annette Müller &amp; Barbara Meier<br />Neuer Materialwart ist Daniel Hodapp, welcher weiterhin von Christian Schoch unterstützt wird
</p><p>Leider hat Florian Hermann nach langjähriger Mitarbeit den Vorstand verlassen. Wir danken ihm sehr für seine Bemühungen und die Planungen für Lager und Aktionen, welche er in den letzten Jahren übernommen hat.
</p><p><br /><a href="/kontakt" title="Öffnet internen Link im aktuellen Fenster" class="internal-link">Kontakt</a></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>