<html>
<head>
	<title>Verleihung der 3. Grad Halstücher</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/verleihung-der-3-grad-halstuecher"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Verleihung der 3. Grad Halstücher</h2>
		<!-- date, author -->
		<h6>04/08/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>18 Jungpfadfinder bekamen letzten Dienstag feierlich ihr Stammeshalstuch </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/verleihung-der-3-grad-halstuecher/images/csm_DSC06317_612c021913.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/verleihung-der-3-grad-halstuecher/images/csm_DSC06321_aaa40056b7.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/verleihung-der-3-grad-halstuecher/images/csm_DSC06324_99adde1ce7.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Am Samstag, den 18. Juli machten sich die Mitglieder der Sippen Andromeda und Draco und je ein Mitglied von der Sippe Pecora und Kepheus vom Pfadfinderheim aus auf zum Waldlauf.
</p><p>Dieser hatte sechs Stationen, an denen den Prüflingen unter anderem die Pfadfindergeschichte, -theorie oder auch Erste Hilfe abgefragt wurde. Viele Wochen vorher haben sie diese Sachen schon intensiv in den Gruppenstunden gelernt.
</p><p>Alle teilnehmenden Pfadis haben sehr gut abgeschnitten und dementsprechend haben alle bestanden.
</p><p>Hier nochmals herzlichen Glückwunsch.
</p><p>Jetzt freuen wir uns auf ein schönes Sommerlager mit der anschließenden Jubiläumsfeier der Pfadfinderschaft Süddeutschland.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>