<html>
<head>
	<title>Fröhliche Weihnachten</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/froehliche-weihnachten"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Fröhliche Weihnachten</h2>
		<!-- date, author -->
		<h6>24/12/2016</h6>
		<!-- teaser -->
		<p>und einen guten Start ins neue Jahr 2017!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/froehliche-weihnachten/images/csm_a4ccca70e9_f3d10b860f.jpg" width="282" height="188" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/froehliche-weihnachten/images/csm_7468956533_5978dd01b3.jpg" width="282" height="230" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p> Nach einem viel zu kurzen Jahr bedanken wir uns bei allen engagierten Helfern, Gruppenleitern, Eltern und Freunden des Stammes - kurz bei euch allen - für die gute Zusammenarbeit. 
</p><p>Ihr seid das, was uns Pfadfinder ausmacht und weiterbringt. 
</p><p>&nbsp;</p><p>Wir wünschen allen ein ruhiges und entspanntes Restjahr 2016, fröhliche und gesellige Weihnachten und natürlich einen erfolgreichen Start ins Jahr 2017. 
</p><p>  Wir sind uns sicher, dass wir uns bei den zahlreichen Terminen im nächsten Jahr schon bald wiedersehen! </p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>