<html>
<head>
	<title>Pfadi-Aktion war ein tolles Erlebnis</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/pfadi-aktion-war-ein-tolles-erlebnis"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfadi-Aktion war ein tolles Erlebnis</h2>
		<!-- date, author -->
		<h6>14/09/2014</h6>
		<!-- teaser -->
		<p>Besuch des Bergwerkes Grube Wenzel in Oberwolfach und der Sommerrodelbahn in Gutach</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/pfadi-aktion-war-ein-tolles-erlebnis/images/csm_IMG_4846_16bb5aac44.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/pfadi-aktion-war-ein-tolles-erlebnis/images/csm_IMG-20140913-WA0025_9d169b58d7.jpg" width="282" height="159" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/pfadi-aktion-war-ein-tolles-erlebnis/images/csm_IMG_4896_1429d1403f.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2014/pfadi-aktion-war-ein-tolles-erlebnis/images/csm_IMG_4821_0fd1167c77.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Die Pfadiaktion im September begann am Samstag mit einem Tag fürs Heim, bei dem wir unteranderem unseren Zaun am Eingang abgeschliffen und neu gestrichen haben, kleinere Reparaturarbeiten im und ums Heim, Unkraut jäten, usw. 
</p><p>Gegen späterer Stunde liefen wir mit Fackeln ausgerüstet auf die Schauenburg. Dort genossen wir die Aussicht nach Straßburg und die vielen kleinen Lichter der Dörfer und Städte rund um Oberkirch.
</p><p>Am Sonntag machten wir uns auf den Weg nach Oberwolfach, damit wir um 11 Uhr beim Besucherbergwerk Grube Wenzel sein konnten. Dort bekamen wir eine zweistündige Führung unter Tage und lernten viel über den Abbau von Silber im Mittelalter und unter welchen Umsänden die Bergleuten arbeiten mussten.
</p><p>Nach einer kurzen Pause am Bergwerk machten wir uns auf nach Gutach. Das Wetter änderte sich und die Sonne schien. Wir fuhren alle zwei turbulente Runden und jeder versuchte schneller als der andere zu sein. Die höchste Geschwindigkeit mit dem Bob war 45 km/h!
</p><p>Wir möchten uns nochmals bei euch für dieses tolles Wochenende bedanken und freuen uns auf die nächste Aktion mit euch.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>