<html>
<head>
	<title>3. Ortenauer Kreisputzete</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2016/3-ortenauer-kreisputzete"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>3. Ortenauer Kreisputzete</h2>
		<!-- date, author -->
		<h6>12/04/2016, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Auch wir waren am 19. März 2016 bei der Ortenauer Kreisputzete in Oberkirch mit dabei.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2016/3-ortenauer-kreisputzete/images/csm_905688_1124906310892957_1810024996294545072_o_1e5eb44668.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Da wir Pfadfinder auf unseren Reisen immer mit dem Gedanken &quot;Hinterlasse deine Welt immer etwas besser, als das du sie vorgefunden hast&quot; unterwegs sind, nutzten wir diese Gelegenheit auch unsere Heimat, die Ortenau, etwas schöner zu hinterlassen.
</p><p> Mit Warnwesten, Handschuhen und Müllsäcken ausgerüstet, gingen wir in den uns zugewiesenen Bereich (Zick-Zack Weg beim Renchtalblick und einen Teil des Brennersteiges).</p><div class="text_exposed_show"><p> Zum Abschluss gab es am Pfadfinderheim noch Stockbrot und Würstchen über dem Feuer.
</p><p> Bei tollem Wetter und vielen Teilnehmern konnten wir die Ortenau gemeinsam säubern und hoffen, dass nun die Mitbürgerinnen und Mitbürger diese auch sauber halten.</p></div></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>