<html>
<head>
	<title>Neuer Anmeldeschluss für das Sommerlager</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/neuer-anmeldeschluss-fuer-das-sommerlager"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Neuer Anmeldeschluss für das Sommerlager</h2>
		<!-- date, author -->
		<h6>22/06/2015</h6>
		<!-- teaser -->
		<p>Statt 19. Juli jetzt 01. Juli 2015!!!</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>ACHTUNG!
</p><p>Der Anmeldeschluss für unsers diesjähriges Sommerlager mit anschließender PSD-Jubiläumsfeier hat sich geändert.
</p><p>Bitte meldet euch bis zum <b>01. Juli 2015</b> an!
</p><p><br />Die Lagerbeiträge werden wie auf der Anmeldung vermerkt am 19. Juli abgebucht.
</p><p>&nbsp;</p><p>Danke für euer Verständnis und wir hoffen auf eine rege Teilnahme.
</p><p>&nbsp;</p><p>Gut Pfad
</p><p>Euer Vorstand</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>