<html>
<head>
	<title>Erlebnis-Waldlauf gegen Corona-Langeweile</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2020/erlebnis-waldlauf-gegen-corona-langeweile"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Erlebnis-Waldlauf gegen Corona-Langeweile</h2>
		<!-- date, author -->
		<h6>10/05/2020, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Da aktuell alle Gruppenstunden ausfallen und wir als Pfadfinder gerne in der Natur sind, haben wir für euch einen Erlebnis-Waldlauf mit einer Schatzsuche vorbereitet.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2020/erlebnis-waldlauf-gegen-corona-langeweile/images/csm_Waldlauf_Corona_d2ae65d7b2.jpg" width="282" height="282" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Liebe Wölflinge, Sipplinge, Rover, Eltern und Familienmitglieder,</p><p>&nbsp;</p><p>untenstehend haben wir für euch die ultimative Bekämpfung gegen die Corona-Langeweile. Einen tollen Waldlauf mit einer Schatzsuche.<br /> Für diesen Waldlauf braucht ihr etwa einen Nachmittag.<br /><br /> Unterwegs haben wir ein paar Rätsel und Aufgaben für euch.<br /> Am Ende des Waldlaufs werdet ihr eine verbuddelte Schatzkiste finden. In dieser Kiste sind bereits kleine Schätze. Sucht euch einen aus und legt einen neuen von zuhause mitgebrachten Schatz hinein.<br /> Dieser sollte nicht größer als ein Ü-Ei sein.</p><p><br /> Zieht euch eure Wanderschuhe an, schnappt euch einen Rucksack und los geht’s.</p><p><br /> Am besten ihr macht den Waldlauf mindestens zu zweit. Gerne dürft ihr eure Familien mitnehmen.</p><p><br /> Für den Waldlauf benötigt ihr:<br /> - Eure Wanderschuhe<br /> - Ein Tagesrucksack<br /> - Euer Halstuch<br /> - Getränke<br /> - Apfel, Müsliriegel oder ähnlichen Snack<br /> - Sonnenschutz/ Regenkleidung<br /> - Einen Kompass, falls ihr einen zuhause habt<br /> - Einen Stift<br /> - Eine kleine Plastik- oder Papiertüte (optional)<br /> - Ein Gegenstand für die Schatzkiste<br /> - Diese Anleitung in ausgedruckter Version oder auf dem Handy als PDF</p><p><br /> Falls ihr Fragen oder keinen Kompass habt, könnt ihr euch gerne bei Laura (Kontaktdaten in der PDF/ Anleitung) melden.</p><p><br /> Wir wünschen euch ganz viel Spaß bei der Schatzsuche.</p><p><br /> Liebe Grüße und Gut Pfad<br /> Laura &amp; Jens</p></div>
		<div class="news-related-wrap"><!-- related files --><div class="news-related news-related-files"><h4>Related Files</h4><ul><li><span class="news-related-files-link"><a href="/aktionen/2020/erlebnis-waldlauf-gegen-corona-langeweile/files/20-05-17_Erlebnis-Waldlauf_in_der_Corona-Zeit.pdf" target="_blank">20-05-17_Erlebnis-Waldlauf_in_der_Corona-Zeit.pdf</a></span><span class="news-related-files-size"> 11 MB</span></li></ul></div></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>