<html>
<head>
	<title>Pfadfinder feiern runden Geburtstag</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/pfadfinder-feiern-runden-geburtstag"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Pfadfinder feiern runden Geburtstag</h2>
		<!-- date, author -->
		<h6>08/06/2011</h6>
		<!-- teaser -->
		<p>60-jähriges Bestehen des Pfadfinderstammes Jörg von Schauenburg</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2011/pfadfinder-feiern-runden-geburtstag/images/csm_Pfadi-Jubilaeum_2011_756c12f85b.jpg" width="282" height="126" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Ein festliches Wochenende wurde am Samstag beim Pfadfinderstamm Jörg von Schauenburg eingeläutet. Mit abwechslungsreichem Programm und Eindrücken der letzten Jahre wurden über 400 Gäste am Samstagabend in der Erwin-Braun-Halle unterhalten. <br /> Nach der Eröffnung durch Stammesführer Manfred Kohler, lobte der Oberbürgermeister Matthias Braun die vorbildliche ehrenamtliche Arbeit des Stammes: „Seit der Gründung des Stammes haben viele junge Menschen bei den Renchtäler Pfadfindern das positive Erlebnis erfahren, einer starken Gemeinschaft anzugehören. Es gibt kaum eine Organisation, in der Jugendliche so viel Freiraum erhalten, ihre eigenen Aktivitäten zu gestalten und schon frühzeitig selbst Verantwortung zu übernehmen.“ Er wisse, wie viel Arbeit und Herzblut hinter alledem steckt und hob auch hervor, in welch vielfältiger Art der Stamm die Stadt Oberkirch schon unterstützt hat. Im Jahr 2003 bekamen die Pfadfinder sogar den Jugendförderpreis der Stadt Oberkirch verliehen. Abschließend wünschte Oberbürgermeister Braun dem großen Verein weiterhin viel Erfolg bei seiner Jugendarbeit und wurde später von Manfred Kohler sogar zum Ehrenmitglied ernannt und bekam ein Halstuch überreicht. <br /> Auf der Bühne wurde dann auf kurzweilige Art jede Menge Abwechslung und Unterhaltung geboten und schon die jüngsten Wölflinge (Fünf bis elf Jahre) wirkten mit, wie zum Beispiel bei einer bildnerischen Erklärung vieler Pfadfinderbegriffe der Meute Dschungelwölfe aus Oppenau und gespielten Liedern der beiden Oberkircher Meuten. Aber auch die älteren Sipplinge ab elf Jahren ließen sich so einiges einfallen, um den Geschwistern, Eltern, Freunden und Gästen Einblicke in die Pfadfinderarbeit zu bieten. Dazu gehörten Programmpunkte wie ein „Zelt-Schnellaufbau bei Regen“, ein selbst gedrehter Film über Pfadfinder, Sketche, Lieder und sogar eine Halstuch-Tanzeinlage mit Schwarzlicht. Auch der traditionsreiche Stammeschor gab unter der Leitung von Klaus Apelt einige Lieder zum Besten. 
</p><p><br /> Durch das Programm führten die sympathischen und witzigen Moderatoren Claudia Vogt und Matthias Schmälzle, die beide selbst schon seit fast 20 Jahren bei den Renchtäler Pfadfindern aktiv sind und viele Anekdoten aus dieser Zeit erzählen konnten. Im Laufe des Programms wurde auch auf die Traditionen der Pfadfinder Bezug genommen. So gestaltete Manuela Bergmeier einen Vortrag über das „Pfadfindersein Heute“ und auch die Eröffnung der Essensausgabe wurde mit dem traditionellen Pfadfinderschrei begonnen. Ebenso führte das langjährige Stammesmitglied Klaus Apelt zusammen mit Matthias Vogt durch die Chronik der letzten 60 Jahre, worin die eine oder andere Pointe von Fahrt und Lager ihren Platz fand und sich mancher Altpfadfinder auf Fotos wieder fand, die längst in Vergessenheit geraten waren. 
</p><p><br /> Auch der Bundesvorstand der Pfadfinderschaft Süddeutschland, Helena Kästner und Dirk Eiermann, gratulierte dem Stamm mit anerkennenden Worten und überreichte den Renchtäler Pfadfindern eine große Jurtenplane, die gemeinsam von den fünf befreundeten Stämmen in Süddeutschland mit dem Logo des Stammes einzigartig angemalt wurde. Aus jedem der Stämme waren auch Pfadfinder angereist, um gemeinsam mit ihren Freunden zu feiern und zu singen und anschließend im Pfadfinderheim zu übernachten. 
</p><p>Abgerundet wurde der feierliche Abend durch die gemeinsame Aftershow-Party. Hierzu wurde die fünfköpfige Pfadfinder-Band „Schlagsaite“ aus Köln engagiert, die ordentlich einheizte und anschließend bis tief in die Nacht mitfeierte. Ein Singekreis der letzten Gäste sorgte dafür, dass auch Altpfadfinder wieder in Lageratmosphäre und alte Zeiten zurückversetzt wurden. Auf dem Boden sitzend mit Gitarre, Geige und Akkordeon wurde gemeinsam gesungen, geredet und gelacht. 
</p><p><br /> Vom 27. Mai bis 17. Juni können auch alle Nicht-Pfadfinder im Zuge einer Ausstellung in der Volksbank Oberkirch Einblicke in die 60-jährige Stammesgeschichte bekommen. An Schautafeln kann man die Geschichte zurückverfolgen, sehen in welche Länder es die Abenteurer schon verschlagen hat, Fotos von Lagern und Veranstaltungen anschauen, aber genauso herausfinden, was Pfadfinderarbeit bedeutet und was alles dazugehört. Auch Halstücher, Abzeichen und andere typische Pfadfindergegenstände können genauer betrachtet werden. <br /></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>