<html>
<head>
	<title>Gruppenstunden</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/gruppenstunden"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Gruppenstunden</h2>
		<!-- date, author -->
		<h6>01/11/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Du willst Spaß in der Gemeinschaft haben? Abenteuer erleben, in Zelten schlafen, die Natur erforschen und Singen am Lagerfeuer? Schnupper doch einfach mal in einer unserer Gruppenstunden vorbei. </p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>