<html>
<head>
	<title>Stammesratsitzung 2012</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/stammesratsitzung-2012"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Stammesratsitzung 2012</h2>
		<!-- date, author -->
		<h6>28/10/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Die Stammesratsitzung findet dieses Jahr am 29.11.2012 statt.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/stammesratsitzung-2012/images/csm_Vorstand1_01_71a4047419.jpg" width="282" height="304" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Wir laden alle aktiven Mitglieder zur Stammesratsitzung 2012 ein. Diese beginnt um 19 Uhr am 29. November 2012.
</p><p>Nicht nur im Vorstand finden zahlreiche Veränderungen statt, auch sonst gibt es für das nächste Jahr wieder vieles zu besprechen.
</p><p>Wir freuen uns auf euer Erscheinen.
</p><p>&nbsp;</p><p>Der Vorstand</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>