<html>
<head>
	<title>Singewochenende</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/singewochenende"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Singewochenende</h2>
		<!-- date, author -->
		<h6>12/02/2015, created by Jens Huber</h6>
		<!-- teaser -->
		<p>28.02. - 01.03.2015 Sei dabei!</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Liebe Freunde der guten Musik! 
</p><p>Wir laden ALLE (Wölflinge, Sipplinge, Rover, Inaktive, Altpfadfinder) recht herzlich zu unserem Chorwochenende vom 28.02. - 01.03.15 ein! 
</p><p>Nach vielen erfolgreichen Jahren mit unserem Pfadfinderchor, wird die Beteiligung leider immer weniger. Deshalb möchten wir uns zu einem Wochenende ganz im Sinne der Musik treffen.
</p><p> Es wird eine Singerunde und jede Menge Gelegenheiten zum Diskutieren, Gribela End Erinnern geben, damit wir endlich eine tolle Lösung finden, wie es mit unserem Chor weitergehen wird. 
</p><p>Außerdem sind natürlich noch andere Aktivitäten geplant. 
</p><p>Wir hoffen ihr seid dabei, wenn wir neue Lieder entdecken, singen und unseren Chor mal wieder in den Mittelpunkt rücken! 
</p><p>Wir freuen uns aber viele Anmeldungen! 
</p><p>Gut Pfad 
</p><p>Manfred Kohler, Claus-Dieter Mehrtens und Helen Meier</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>