<html>
<head>
	<title>Social Network</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2012/social-network"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Social Network</h2>
		<!-- date, author -->
		<h6>27/10/2012, created by Jens Huber</h6>
		<!-- teaser -->
		<p>Die Pfadis sind online!</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/social-network/images/csm_facebook-gefaellt-mir_501734855b.jpg" width="282" height="242" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2012/social-network/images/csm_youtube-logo_07e8207def.jpg" width="282" height="200" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Wir haben es in die Social Networks geschafft.
</p><p>&nbsp;</p><p>Besucht doch mal unsere <a href="https://www.facebook.com/RenchtalerPfadfinder" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">Facebook-Seite</a> und drückt gefällt mir!
</p><p>Ihr werdet dort immer auf dem Laufenden gehalten!
</p><p>Dort findet ihr auch unsere Chronik mit ein paar Bildern.
</p><p>&nbsp;</p><p>Außerdem sind wir auf <a href="http://www.youtube.com/user/RenchtalerPfadfinder" title="Öffnet externen Link in neuem Fenster" target="_blank" class="external-link-new-window">YouTube</a>, momentan sind drei Videos online.
</p><p>Wenn jemand noch Videos von Lagern oder Aktionen daheim hat, kann man sich gerne bei <a href="http://pfadis.org/typo3/mailto:typo3/mailto:Jens@pfadis.org" title="Öffnet ein Fenster zum Versenden der E-Mail" target="_blank" class="mail">Jens</a> melden!
</p><p>&nbsp;</p><p>Wir freuen uns auf eure Klicks!</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>