<html>
<head>
	<title>Mia san wida dahoim</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2018/mia-san-wida-dahoim"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Mia san wida dahoim</h2>
		<!-- date, author -->
		<h6>14/08/2018, created by Jens Huber</h6>
		<!-- teaser -->
		<p> Das Sommerlager der Renchtäler Pfadfinder e.V. aus Oberkirch führte die jungen Pfadfinder nach Bayern.</p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/mia-san-wida-dahoim/images/csm_DSC09587_9da103f655.jpg" width="282" height="180" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/mia-san-wida-dahoim/images/csm_DSC02565_4781f289b2.jpg" width="282" height="212" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/mia-san-wida-dahoim/images/csm_DSC02779_5a6c073d0f.jpg" width="282" height="376" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/mia-san-wida-dahoim/images/csm_DSC03226_abd21569a1.jpg" width="282" height="376" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2018/mia-san-wida-dahoim/images/csm_DSC02652_2dc62fb9e8.jpg" width="282" height="212" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>25 Renchtäler Pfadfinder in drei Gruppen eingeteilt, brachen am Freitag 27. Juli nach Bayern und Österreich auf, um das Bergland zu durchwandern. Teils von Salzburg bzw. Berchtesgaden folgten sie dem Salzalpensteig oder zwangen sich den Untersberg/ Hochgern (ca. 1980m) oder über die Röttelalm hinauf und hinab zum Königsee oder Taubensee bis Reit im Winkel nach Grassau am Chiemsee.</p><p><br /> Die Sonne war unerbittlich und so wurde manche Bergtour doch etwas erschwerlich. Schlaf- und Lagerplätze mussten gesucht, immer wieder Proviant gekauft und Badepausen eingeplant werden.<br /> Manche Gruppe wurde in einer Scheune, andere in Wanderhütten untergebracht oder übernachtete in ihren Kohten, den mitgeschleppten Zelten auf einem erklommenen Berg.<br /> Sie konnten die Mondfinsternis, Sonnenuntergänge und doch sehr kalte Bergbäche und Klammen genießen und sich mit Müsli, Leberkassemmel und Sselbstgekochtem stärken.<br /> Viele neugierige Passanten waren erstaunt, wie viel Spaß ein so anstrengender Hajk durch die Berge machen konnte. („Bei der Hitze?“)<br /> Die spontane Einladung anderer Pfadfinder, Schafkopf spielen und die deftige Kost kamen bei den jungen Pfadfindern prima an.</p><p><br /> Die letzten vier Tage trafen sich alle Gruppen wieder und konnten ihre Erlebnisse auf Almtouren mit Bergbahnfahrten und Kochwettstreit ausklingen lassen.<br /> Die große, mitgebrachte Jurte einiger nachgereister Stammesmitglieder bereicherte die gemütlichen Lagerfeuerabende mit Singerunden und Stockbrot backen.<br /> Nach einem verregneten Tag mit Geländespiel und Abbau traten alle am Samstag 11. August wieder die Heimreise mit dem Zug an – und schmiedete dort schon wieder neue Lagerpläne.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>