<html>
<head>
	<title>ACHTUNG</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2014/achtung"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>ACHTUNG</h2>
		<!-- date, author -->
		<h6>09/04/2014</h6>
		<!-- teaser -->
		<p>Falscher Termin für Pfingstlager auf Homepage</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Leider hatten wir einen falschen Termin für das Pfingstlager auf unserer Homepage.
</p><p>Das Pfingstlager findet vom 29.05. - 01.06.2014 in Oberkirch statt.
</p><p>Die Anmeldung wird nächste Woche verschickt.
</p><p>Wir entschuldigen diesen Fehler.
</p><p>Der Vorstand</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>