<html>
<head>
	<title>Großes DPV-Pfingstlager &quot;Allerhand&quot;</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2015/grosses-dpv-pfingstlager-allerhand"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Großes DPV-Pfingstlager &quot;Allerhand&quot;</h2>
		<!-- date, author -->
		<h6>06/06/2015, created by Laura-Marie Braxmaier</h6>
		<!-- teaser -->
		<p>Unter dem Motto „Allerhand - Zusammenkommen, Aufbrechen, Mitmachen“ trafen sich am Pfingstwochenende rund 3500 Pfadfinder des Deutschen Pfadfinderverbandes (DPV) aus der ganzen Republik mitten im Naturschutzgebiet in Adelsdorf bei Nürnberg. Auch knapp 65 Mitglieder der Renchtäler Pfadfinder e. V. aus Oberkirch machten sich vergangenen Freitag auf den Weg, um ein programmreiches Lager zu erleben. </p>
		<!-- main text -->
		<div class="news-img-wrap"><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/grosses-dpv-pfingstlager-allerhand/images/csm_IMG-20150529-WA0004_625fba6227.jpg" width="282" height="159" alt="" /></div></div><div class="outer"><div class="mediaelement mediaelement-image"><img onclick="onImgClick(this)" itemprop="image" src="/aktionen/2015/grosses-dpv-pfingstlager-allerhand/images/csm_IMG-20150529-WA0006_ecb75f4cfc.jpg" width="282" height="159" alt="" /></div></div></div><div class="news-text-wrap" itemprop="articleBody"><p>Die Themen Gemeinschaft, Tradition und Grenzenlosigkeit zogen sich durch alle Aktionen, die auf dem fünf tägigen Lager angeboten wurden. Begonnen hat das Programm unter dem Titel „Gruppen laden ein“ bei dem jede Sippe oder Meute die Chance hatte, eine der vielen anderen Gruppen aus ganz Deutschland kennen zu lernen und gemeinsam eines der Geländespiele zu spielen. Zuvor gab es eine große Lagereröffnung mit allen Teilnehmenden, bei dem das extra für dieses Lager geschriebene Lied gesungen wurde und Bürgermeister der umliegenden Orte und der Vertreter des Schirmherren Horst Seehofer, Bayerns Innenminister Joachim Herrmann, Ansprachen hielten. Die Lagerleitung erzählte von den Vorbereitungen, die schon zweieinhalb Jahre zuvor begannen und stellte das Programm für die kommenden Tage vor. 
</p><p>Mit dem Thema Tradition beschäftigte sich die Pfadfinderschaft Süddeutschland (PSD), in der die Renchtäler Pfadfinder Mitglied sind, besonders in Form einer großen Jurtenburg, die als Straußwirtschaft eingerichtet wurde. In den acht aneinander geknüpften Großzelten drängten sich mehrere hundert Pfadfinder, um miteinander zu feiern. Bei Flammkuchen und dem klassischen Pfadfindergetränk Tschai kam schnell eine ausgelassene Stimmung auf, die durch die Folkband Oleg and the Popovs und Singerunden mit Gitarren, Kontrabass und Akkordeon noch gesteigert wurde.
</p><p>Am Sonntag widmeten sich die Pfadfinder verschiedensten Workshops, bei denen „Kopf“, „Herz“ oder „Hand“ gebraucht wurde, sei es eine Diskussion über die Flüchtlingssituation in Deutschland, &nbsp;traditionelle Volkstänze mit Liveband erlernen oder Freundschaftsbändchen knüpfen. Jeder konnte nach Lust und Laune einige der unzähligen Workshops besuchen. Wer kein passendes Angebot gefunden hatte, konnte sich dem Hintergrundprogramm widmen: Die Lagerpost bot an, Briefe an Freunde zu versenden. Dazu wurde jedes Zelt mit einer „Hausnummer“ gekennzeichnet, oder man nahm ein Bad in dem von der PSD selbstgebautem und mit Feuer beheiztem Pool. 
</p><p>Für alle ist ein Großlager jedes Mal eine tolle Erfahrung, denn wann sind schon mal so viele Gleichgesinnte auf einem Fleck.
</p><p><b>Laura-Marie Braxmaier<a  name="_GoBack"></a></b></p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>