<html>
<head>
	<title>Renchtäler Pfadfinder gaben Einblicke ins Lagerleben</title>
	<link rel="icon" href="/bilder/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="/script.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<%- include("../../../components/modals") %>
	<%- include("../../../components/navbar", {redirect: "/aktionen/2011/renchtaeler-pfadfinder-gaben-einblicke-ins-lagerleben"}) %>
	<div class="txt blocksatz noFooter">
		<!-- title -->
		<h2>Renchtäler Pfadfinder gaben Einblicke ins Lagerleben</h2>
		<!-- date, author -->
		<h6>04/10/2011</h6>
		<!-- teaser -->
		<p>Schaulager zum 60. Geburtstag des Stammes Jörg von Schauenburg / Auch Eltern durften teilhaben</p>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody"><p>Bei herrlichem Oktoberwetter konnten die Renchtäler Pfadfinder ihr 60jähriges Bestehen bei ihrem Stammeslager im Giedensbach feiern. Bereits bei der Jubiläumsfeier im Mai in der Erwin-Braun-Halle konnte man einen Einblick bekommen, was Pfadfinder sind, was sie tun und welche Ziele hinter der Jugendarbeit stecken. Nun hatten die Eltern sogar die Möglichkeit selbst an einem Zeltlager teilzunehmen. Bei Workshops, dem Singewettstreit, einem Waldlauf oder sogar der Übernachtung in der Jurte konnten die Eltern mit allen Sinnen erleben, was ihre Kinder an der Pfadfinderei so begeistert. Ein Vater schwärmt nach dem Waldlauf, an dem er mit mehreren anderen Eltern teilgenommen hat, von den gestellten Aufgaben: „Besonders spannend war das Brücke bauen: Da mussten wir eine Seilbrücke bauen, auf der wir alle ans andere Ende kommen. Auch die Kim-Spiele waren interessant, wo wir verschiedene Gegenstände erraten mussten.“ 
</p><p>  An vier Tagen waren insgesamt fast 100 Teilnehmer in den Zelten auf einer tollen Wiese zwischen Ödsbach und Lautenbach untergebracht. Am Samstag fanden, verteilt über den gesamten Lagerplatz, die unterschiedlichsten Workshops statt, an denen jeder nach Lust und Laune mitmachen konnte. Da wurde ein großer Lagerturm und verschiedene Zelt-Variationen aufgebaut, Stockbrot gebacken, Kürbisse ausgehöhlt und geschnitzt, Freundschaftsbänder geknüpft, Blumen gefilzt, Gips-Gespenster gebastelt, Kerzen gegossen, ein Wald-Tipi gebaut, Holzknoten hergestellt, kreative Kresse-Köpfe und Farben-Experimente gemacht und sogar zwei Pferde waren da, auf denen die Kinder reiten durften. Abends fand dann in stimmungsvoller Runde am Lagerfeuer ein Singewettstreit statt, bei dem jede Meute und Sippe ihre Gesangkünste zum Besten gab und unter Anderem eine große Trommel oder Gesellschaftsspiele gewinnen konnte.   
</p><p>Den Sonntag verbrachten die Kinder und Jugendlichen dann in kleinen Gruppen in der Natur rund um Oberkirch beim Waldlauf. Die sechs- bis elfjährigen Wölflinge machten hierbei ihren Prüfungswaldlauf, auf den sie sich in den Gruppenstunden schon lange vorbereitet haben. Alle 38 Wölflinge haben ihre Prüfung erfolgreich bestanden und bekamen am Montag in der Abschlussrunde ihre Halstücher und Abzeichen verliehen. Die Pfadfinder und Eltern hatten beim Waldlauf verschiedene Aufgaben zu erfüllen, wie zum Beispiel Feuer entzünden, Erste Hilfe, eine Seilbrücke bauen oder auch verschiedene Kim-Spiele. Am Sonntagabend fand dann eine Fackel-Nachtwanderung statt, auf der die Wölflinge und Jungpfadfinder ihr Pfadfinderversprechen unter einem gigantischen Sternenhimmel ablegen durften. 
</p><p>   Am Montag konnten die Kinder und Jugendliche ihre Kräfte messen, raufen und toben, als es hieß: „Spiele für Viele“. Anschließend mussten alle Zelte wieder abgebaut und der letzte Müll eingesammelt werden, damit der Platz wieder so verlassen werden konnte, wie er vorgefunden wurde. In der Abschlussrunde wurden dann feierlich die errungenen Halstücher verliehen, die Abzeichen für die Wölflinge, die Urkunden für den Pfadfinder-Waldlauf und die Jubiläumsabzeichen für langjährige Mitglieder. Beendet wurde das Stammeslager wie immer mit dem Lied: „Nehmt Abschied Brüder“.</p></div>
		<div class="news-related-wrap"></div>
	</div>
	<%- include("../../../components/footer") %>
</body>
</html>